<div class="background">
  <div class="form-container">
    <p-card>
      <ng-container>
        <h3 class="text-center"><b>Member Information For Existing Group Policy</b></h3>
        <p-divider type="dashed"></p-divider>


        <div class="flex flex-row">
          <div class="field col-12 md:col-4">
            <label for="pre_amont" class="label_field"><b>Policy Holder Type</b></label>&nbsp;
          </div>
          <div class="field col-12 md:col-4">
            <div class="flex align-items-center">
              <input type="radio" name="policyHolderType" id="member" value="M" (click)="onPolicyHolderTypeChange('M')">
              <label for="member" class=" label_field ml-2"><b>BSPWA Member</b></label>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <div class="flex align-items-center">
              <input type="radio" name="policyHolderType" id="non_member" value="N"
                (click)="onPolicyHolderTypeChange('N')" checked>
              <label for="non_member" class="label_field ml-2"><b>Member of Other SAIL Association</b></label>
            </div>
          </div>
        </div>

        <div>
          <form [formGroup]="form">
            <div class="flex flex-row">
              <div class="field col-12 md:col-6">
                <label for="member_id" class="label_field"><b>Member ID:<span
                      class="text-red-700">*</span></b></label>&nbsp;
                <input id="member_id" type="text" formControlName="member_id" placeholder="Enter Member ID"
                  class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                <div *ngIf="o['member_id']?.touched || o['member_id']?.dirty">
                  <small class="text-red-900" *ngIf="o['member_id']?.errors">Member ID is required.</small>
                </div>
              </div>

              <div class="field col-12 md:col-4 sub_btn" *ngIf="checkedmember">
                <p-button label="Submit" (click)="submit()"></p-button>
              </div>
            </div>

            <div class="flex flex-row">
              <div class="field col-12 md:col-4">
                <label for="form_dt" class="label_field"><b>Date:<span class="text-red-700">*</span></b></label>&nbsp;
                <ng-container *ngIf="checkedmember">
                  <input id="form_dt" type="date" formControlName="form_dt" placeholder="dd/MM/yyyy" [max]="maxDate"
                    class="box_input text-2xl text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                  <div *ngIf="o['form_dt']?.touched || o['form_dt']?.dirty">
                    <small class="text-red-900" *ngIf="o['form_dt']?.errors?.['required']">Date is required.</small>
                  </div>
                </ng-container>
                <ng-container *ngIf="!checkedmember">
                  <input id="form_dt" type="date" formControlName="form_dt" placeholder="dd/MM/yyyy" [max]="maxDate"
                    class="box_input text-2xl text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                  <div *ngIf="o['form_dt']?.touched || o['form_dt']?.dirty">
                    <small class="text-red-900" *ngIf="o['form_dt']?.errors">Date is required.</small>
                  </div>
                </ng-container>
              </div>
              <div class="field col-12 md:col-4" *ngIf="this.responsedata[0]?.mem_type !='AI'">
                <label for="unit" class="label_field"><b>Unit Name:</b></label>&nbsp;
                <ng-container *ngIf="checkedmember">
                  <!-- <input id="unit" type="text" formControlName="unit" placeholder="Enter Unit Name"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    readonly /> -->
                  <select id="unit" formControlName="unit"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N">Select Unit Name</option>
                    <option *ngFor="let option of responsedata_unit" [value]="option.unit_id">{{ option.unit_name }}
                    </option>
                  </select>
                  <!-- <div *ngIf="o['unit']?.touched || o['unit']?.dirty">
                    <small class="text-red-900" *ngIf="o['unit']?.errors">Unit Name is required.</small>
                  </div> -->
                </ng-container>
                <ng-container *ngIf="!checkedmember">
                  <select id="unit" formControlName="unit"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N">Select Unit Name</option>
                    <option *ngFor="let option of responsedata_unit" [value]="option.unit_id">{{ option.unit_name }}
                    </option>
                  </select>
                  <!-- <div *ngIf="o['unit']?.touched || o['unit']?.dirty">
                    <small class="text-red-900" *ngIf="o['unit']?.errors">Unit Name is required.</small>
                  </div> -->
                </ng-container>

              </div>
              <div class="field col-12 md:col-4">
                <ng-container *ngIf="checkedmember">
                  <label for="phone" class="label_field"><b>Whatsapp Phone No:<span
                        class="text-red-700">*</span></b></label>&nbsp;
                  <input id="phone" type="text" formControlName="phone" placeholder="Enter Whatsapp Phone No"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                  <div *ngIf="o['phone']?.touched || o['phone']?.dirty">
                    <small class="text-red-900" *ngIf="o['phone']?.errors">Whatsapp Phone No is required.</small>
                  </div>
                </ng-container>
                <ng-container *ngIf="!checkedmember">
                  <label for="phone" class="label_field"><b>Whatsapp Phone No:<span
                        class="text-red-700">*</span></b></label>&nbsp;
                  <input id="phone" type="text" formControlName="phone" placeholder="Enter Whatsapp Phone No"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                  <div *ngIf="o['phone']?.touched || o['phone']?.dirty">
                    <small class="text-red-900" *ngIf="o['phone']?.errors">Member Name is required.</small>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="flex flex-row">
              <div class="field col-12 md:col-4">
                <label for="member_type" class="label_field"><b>Member Type:<span
                      class="text-red-700">*</span></b></label>&nbsp;
                <ng-container *ngIf="checkedmember">
                  <!-- <input id="member_type" type="text" formControlName="member_type" placeholder="Enter Member Type"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" /> -->
                  <select id="member_type" formControlName="member_type"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N">Select Member Type</option>
                    <option value="G">General Membership</option>
                    <option value="L">Life Membership</option>
                    <option value="AI">Associate Membership</option>
                  </select>
                  <div *ngIf="o['member_type']?.touched || o['member_type']?.dirty">
                    <small class="text-red-900" *ngIf="o['member_type']?.errors">Member Type is required.</small>
                  </div>
                </ng-container>

                <ng-container *ngIf="!checkedmember">
                  <select id="member_type" formControlName="member_type"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N">Select Member Type</option>
                    <option value="G">General Membership</option>
                    <option value="L">Life Membership</option>
                    <option value="AI">Associate Membership</option>
                  </select>
                  <div *ngIf="o['member_type']?.touched || o['member_type']?.dirty">
                    <small class="text-red-900" *ngIf="o['member_type']?.errors">Member Type is required.</small>
                  </div>
                </ng-container>
              </div>
              <div class="field col-12 md:col-4">
                <label for="member" class="label_field"><b>Member Name:<span
                      class="text-red-700">*</span></b></label>&nbsp;
                <input id="member" type="text" formControlName="member" placeholder="Enter Member name"
                [(ngModel)]="memberName" 
                (ngModelChange)="convertToUppercase()"
                  class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                <div *ngIf="o['member']?.touched || o['member']?.dirty">
                  <small class="text-red-900" *ngIf="o['member']?.errors">Member Name is required.</small>
                </div>
              </div>
              <div class="field col-12 md:col-4">
                <label for="gurdian" class="label_field"><b>Father's / Husband Name:<span
                      class="text-red-700">*</span></b></label>&nbsp;
                <input id="gurdian" type="text" formControlName="gurdian" placeholder="Enter Father / Husband name"
                [(ngModel)]="gurdianName" 
                (ngModelChange)="convertToUppercase()" class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                <!-- [readonly]="checkedmember" /> -->
                <div *ngIf="o['gurdian']?.touched || o['gurdian']?.dirty">
                  <small class="text-red-900" *ngIf="o['gurdian']?.errors">Gurdian Name is required.</small>
                </div>
              </div>
            </div>

            <div class="flex flex-row">
              <div class="field col-12 md:col-4">
                <label for="gen" class="label_field"><b>Gender:<span class="text-red-700">*</span></b></label>&nbsp;
                <ng-container *ngIf="checkedmember">
                  <!-- <input id="gen" type="text" formControlName="gen" placeholder="Enter Gender"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    readonly /> -->
                  <select id="gen" formControlName="gen"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                  <div *ngIf="o['gen']?.touched || o['gen']?.dirty">
                    <small class="text-red-900" *ngIf="o['gen']?.errors">Gender is required.</small>
                  </div>
                </ng-container>
                <ng-container *ngIf="!checkedmember">
                  <select id="gen" formControlName="gen"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                  <div *ngIf="o['gen']?.touched || o['gen']?.dirty">
                    <small class="text-red-900" *ngIf="o['gen']?.errors">Gender is required.</small>
                  </div>
                </ng-container>

              </div>
              <div class="field col-12 md:col-4">
                <label for="marital_status" class="label_field"><b>Marital Status:<span
                      class="text-red-700">*</span></b></label>&nbsp;
                <ng-container *ngIf="checkedmember">
                  <!-- <input id="marital_status" type="text" formControlName="marital_status"
                    placeholder="Enter Marital Status"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    readonly /> -->
                  <select id="marital_status" formControlName="marital_status"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N">Select Marital Status</option>
                    <option value="M">Married</option>
                    <option value="U">Unmarried</option>
                    <option value="W">Widow</option>
                    <option value="D">Divorced</option>
                  </select>
                  <div *ngIf="o['marital_status']?.touched || o['marital_status']?.dirty">
                    <small class="text-red-900" *ngIf="o['marital_status']?.errors">Marital status is required.</small>
                  </div>
                </ng-container>
                <ng-container *ngIf="!checkedmember">
                  <select id="marital_status" formControlName="marital_status"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N">Select Marital Status</option>
                    <option value="M">Married</option>
                    <option value="U">Unmarried</option>
                    <option value="W">Widow</option>
                    <option value="D">Divorced</option>
                  </select>
                  <div *ngIf="o['marital_status']?.touched || o['marital_status']?.dirty">
                    <small class="text-red-900" *ngIf="o['marital_status']?.errors">Marital status is required.</small>
                  </div>
                </ng-container>
              </div>
              <!-- <div class="field col-12 md:col-4">
                <label for="gen_dob" class="label_field"><b>DOB:<span class="text-red-700">*</span></b></label>&nbsp;
                <input id="gen_dob" type="date" formControlName="gen_dob" placeholder="dd/MM/yyyy" [max]="maxDate"
                  class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                <div *ngIf="o['gen_dob']?.touched || o['gen_dob']?.dirty">
                  <small class="text-red-900" *ngIf="o['gen_dob']?.errors">DOB is required.</small>
                </div>
              </div> -->

             <!-- 29.09.2024 -->

             <div class="field col-12 md:col-4">
              <label for="gen_dob" class="label_field">
                <b>DOB:<span class="text-red-700">*</span></b>
              </label>&nbsp;
              <input 
                id="gen_dob" 
                type="date" 
                formControlName="gen_dob" 
                placeholder="dd/MM/yyyy" 
                [max]="maxDate"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" 
              />
              <div *ngIf="o['gen_dob']?.touched || o['gen_dob']?.dirty">
                <small class="text-red-900" *ngIf="o['gen_dob']?.errors?.['required']">DOB is required.</small>
              </div>
              <div>
                <!-- <small class="text-red-900" *ngIf="o['gen_dob']?.touched || o['gen_dob']?.dirty">
                  DOB is required.
                </small> -->
                <small class="text-red-900" *ngIf="o['gen_dob']?.errors?.['ageInvalid']">
                  Age cannot be more than 65.
                </small>
                
              </div>
            </div>
            
            </div>

            <div class="flex flex-row">
              <div class="field col-12 md:col-4" *ngIf="this.responsedata[0]?.mem_type !='AI'">
                <label for="memb_oprn" class="label_field"><b>Member Operation:</b></label>&nbsp;
                <ng-container *ngIf="checkedmember">
                  <!-- <input id="memb_oprn" type="text" formControlName="memb_oprn" placeholder="Enter Member Operation"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    readonly /> -->
                  <select id="memb_oprn" formControlName="memb_oprn"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px" (change)="onPolicyAddDependent($event)">
                    <option value="N">Select Operation</option>
                    <option value="S">Self</option>
                    <option value="J">Spouse</option>
                  </select>
                  <!-- <div *ngIf="o['memb_oprn']?.touched || o['memb_oprn']?.dirty">
                    <small class="text-red-900" *ngIf="o['memb_oprn']?.errors">Operation is required.</small>
                  </div> -->
                </ng-container>
                <ng-container *ngIf="!checkedmember">
                  <select id="memb_oprn" formControlName="memb_oprn"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N">Select Operation</option>
                    <option value="S">Self</option>
                    <option value="J">Spouse</option>
                  </select>
                  <!-- <div *ngIf="o['memb_oprn']?.touched || o['memb_oprn']?.dirty">
                    <small class="text-red-900" *ngIf="o['memb_oprn']?.errors">Operation is required.</small>
                  </div> -->
                </ng-container>

              </div>
              <div class="field col-12 md:col-4">
                <label for="type_diseases" class="label_field"><b>Suffering from any diseases:</b></label>&nbsp;
                <ng-container *ngIf="checkedmember">
                  <select id="type_diseases" formControlName="type_diseases"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N" select>Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                  </select>
                </ng-container>
                <ng-container *ngIf="!checkedmember">
                  <select id="type_diseases" formControlName="type_diseases"
                    class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                    style="appearance: auto; height: 3vw; border-radius: 7px">
                    <option value="N" select>Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                  </select>
                </ng-container>
                <!-- <div *ngIf="o['type_diseases']?.touched || o['type_diseases']?.dirty">
                  <small class="text-red-900" *ngIf="o['type_diseases']?.errors">Suffering from any diseases is
                    required.</small>
                </div> -->
              </div>

              <div class="field col-12 md:col-4">
                <label for="name_diseases" class="label_field"><b>Type of Diseases:</b></label>&nbsp;
                <ng-container *ngIf="checkedmember">
                  <input id="name_diseases" type="text" formControlName="name_diseases"
                    placeholder="Enter Diseases name"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                </ng-container>
                <ng-container *ngIf="!checkedmember">
                  <input id="name_diseases" type="text" formControlName="name_diseases"
                    placeholder="Enter Diseases name"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                </ng-container>
                <!-- <div *ngIf="o['name_diseases']?.touched || o['name_diseases']?.dirty">
                  <small class="text-red-900" *ngIf="o['name_diseases']?.errors">Type of Diseases is required.</small>
                </div> -->
              </div>
            </div>

          <!-- Upload document 22.08.2024 -->


          <h3 class="text-center"><b>Upload Document</b></h3>
          <p-divider type="dashed"></p-divider>
          

          <div class="flex flex-row">
            <!-- Member Photograph Upload -->
            <div class="field col-12 md:col-6">
              <label for="own_img" class="size"><b>Member Photograph:<span class="text-red-700">(.JPG,.JPEG,.PNG) (Max file upload size : 1MB)</span></b></label>&nbsp;
              <div class="card flex justify-content-left">
                <p-toast></p-toast>
                <p-fileUpload name="own_file" (onSelect)="onUpload($event, 'O')" (onRemove)="onRemove($event, 'O')" [customUpload]="true" [multiple]="false" accept="image/*">
                  <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">
                        <!-- <div *ngIf="filePreview[file.name]" (click)="showPreview(filePreview[file.name])" style="cursor: pointer; margin-top: 10px;">
                          <img [src]="filePreview[file.name]" alt="Image Preview" style="max-width: 100px; max-height: 100px;" />
                        </div> -->
                      </li>
                    </ul>
                  </ng-template>
                </p-fileUpload>
              </div>
            </div>
          
            <!-- Spouse Photograph Upload -->
            <div class="field col-12 md:col-6">
              <label for="spou_img" class="size"><b>Document:<span class="text-red-700">(.JPG,.JPEG,.PNG) (Max file upload size : 1MB)</span></b></label>&nbsp;
              <div class="card flex justify-content-right">
                <p-toast></p-toast>
                <p-fileUpload name="spouse_file" (onSelect)="onUpload($event, 'S')" (onRemove)="onRemove($event, 'S')" [customUpload]="true" [multiple]="false" accept="image/*">
                  <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">
                        <!-- <div *ngIf="filePreview[file.name]" (click)="showPreview(filePreview[file.name])" style="cursor: pointer; margin-top: 10px;">
                          <img [src]="filePreview[file.name]" alt="Image Preview" style="max-width: 100px; max-height: 100px;" />
                        </div> -->
                      </li>
                    </ul>
                  </ng-template>
                </p-fileUpload>
              </div>
            </div>
          </div>
          
          <!-- Dialog for displaying the image preview -->
          <!-- <p-dialog header="Image Preview" [(visible)]="displayImageDialog" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [baseZIndex]="10000">
            <img *ngIf="selectedImage" [src]="selectedImage" alt="Image Preview_1" style="width: 100%; height: auto;" />
          </p-dialog> -->
          

<!------->

            <p-divider type="dashed"></p-divider>
            <h3 class="text-center"><b>Dependents Information</b></h3>

            <div formArrayName="depenFields_1">

              <ng-container *ngFor="let group of depenFields_1.controls; let i = index" [formGroupName]="i">
                <div class="flex flex-row mt-5">
                  <div class="field col-12 md:col-3">
                    <label for="sl_no" class="label_field"><b>Sl No:</b></label>
                    <ng-container *ngIf="checkedmember">
                      <input id="sl_no" type="text" formControlName="sl_no" placeholder="Enter Sl No"
                        class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    </ng-container>
                    <ng-container *ngIf="!checkedmember">
                      <input id="sl_no" type="text" formControlName="sl_no" placeholder="Enter Sl No"
                        class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    </ng-container>
                  </div>
                  <div class="field col-12 md:col-3">
                    <label for="dependent_name" class="label_field"><b>Dependent Name:</b></label>
                    <ng-container *ngIf="checkedmember">
                      <input id="dependent_name" type="text" formControlName="dependent_name"
                        placeholder="Enter Dependent name"
                        (input)="onDependentNameChange($event)"
                        class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    </ng-container>
                    <ng-container *ngIf="!checkedmember">
                      <input id="dependent_name" type="text" formControlName="dependent_name"
                        placeholder="Enter Dependent name"
                        (input)="onDependentNameChange($event)"
                        class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    </ng-container>
                  </div>
                  <div class="field col-12 md:col-3">
                    <label for="relation" class="label_field"><b>Relationship:</b></label>
                    <ng-container *ngIf="checkedmember">
                      <!-- <input id="relation_name" type="text" formControlName="relation_name"
                        placeholder="Enter Dependent name"
                        class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" /> -->
                      <select id="relation" formControlName="relation"
                        class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                        style="appearance: auto; height: 3vw; border-radius: 7px">
                        <option value="N">Select Relationship</option>
                        <option *ngFor="let option of responsedata_rel" [value]="option.id">
                          {{ option.relation_name }}
                        </option>
                      </select>
                      <input type="hidden" formControlName="relation" />
                    </ng-container>
                    <ng-container *ngIf="!checkedmember">
                      <select id="relation" formControlName="relation"
                        class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                        style="appearance: auto; height: 3vw; border-radius: 7px">
                        <option value="N">Select Relationship</option>
                        <option *ngFor="let option of responsedata_rel" [value]="option.id">
                          {{ option.relation_name }}
                        </option>
                      </select>
                    </ng-container>

                  </div>
                  <div class="field col-12 md:col-3">
                    <label for="dob" class="label_field"><b>DOB(DD/MM/YYYY):</b></label>&nbsp;
                    <ng-container *ngIf="checkedmember">
                      <input id="dob" type="date" formControlName="dob" placeholder="Enter DOB" [max]="maxDate"
                        class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    </ng-container>
                    <ng-container *ngIf="!checkedmember">
                      <input id="dob" type="date" formControlName="dob" placeholder="Enter DOB" [max]="maxDate"
                        class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    </ng-container>
                  </div>
                </div>
                <div class="flex flex-row mt-3">
                  <div class="field col-12 md:col-3">
                    <label for="type_diseases" class="label_field"><b>Suffering from any diseases:</b></label>&nbsp;
                    <ng-container *ngIf="checkedmember">
                      <select id="type_diseases" formControlName="type_diseases"
                        class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                        style="appearance: auto; height: 3vw; border-radius: 7px">
                        <option value="N" selected>Select</option>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                      </select>
                    </ng-container>
                    <ng-container *ngIf="!checkedmember">
                      <select id="type_diseases" formControlName="type_diseases"
                        class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                        style="appearance: auto; height: 3vw; border-radius: 7px">
                        <option value="N" selected>Select</option>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                      </select>
                    </ng-container>
                  </div>

                  <div class="field col-12 md:col-8">
                    <label for="name_diseases" class="label_field"><b>Type of Diseases:</b></label>&nbsp;
                    <ng-container *ngIf="checkedmember">
                      <input id="name_diseases" type="text" formControlName="name_diseases"
                        placeholder="Enter Diseases name"
                        class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    </ng-container>
                    <ng-container *ngIf="!checkedmember">
                      <input id="name_diseases" type="text" formControlName="name_diseases"
                        placeholder="Enter Diseases name"
                        class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    </ng-container>
                  </div>

                  <div *ngIf="i === 0" class="field col-12 md:col-3">
                    <p-button class="custom-tooltip" pTooltip="Add Dependent" tooltipPosition="bottom" icon="pi pi-plus"
                      styleClass="p-button-rounded p-button-text p-button-raised" (click)="onadd()"
                      [style]="{ 'background-color': 'rgb(177 209 161)', 'border-color': 'rgb(116 207 78)', color: '#ffff', 'margin-top': '1.3vw' }"></p-button>
                  </div>

                  <div *ngIf="i > 0" class="field col-12 md:col-3">
                    <p-button class="custom-tooltip" pTooltip="Delete Dependent" tooltipPosition="bottom"
                      icon="pi pi-minus" styleClass="p-button-rounded p-button-text p-button-raised"
                      (click)="onminus(i)"
                      [style]="{ 'background-color': 'rgb(223 105 105)', 'border-color': 'rgb(129 54 54)', color: '#ffff', 'margin-top': '1.3vw'}"></p-button>
                  </div>
                </div>

                <div class="flex flex-row">
                  <!-- Member Photograph Upload -->
                  <div class="field col-12 md:col-6">
                    <label for="own_imgs" class="size"><b>Member Photograph:<span class="text-red-700">(.JPG,.JPEG,.PNG) (Max file upload size : 1MB)</span></b></label>&nbsp;
                    <div class="card flex justify-content-left">
                      <p-toast></p-toast>
                      <p-fileUpload name="own_files" (onSelect)="onUpload($event, 'OF')" (onRemove)="onRemove($event, 'O')" [customUpload]="true" [multiple]="false" accept="image/*">
                        <ng-template pTemplate="content">
                          <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let files of uploadedFiles">
                              <!-- <div *ngIf="filePreview[file.name]" (click)="showPreview(filePreview[file.name])" style="cursor: pointer; margin-top: 10px;">
                                <img [src]="filePreview[file.name]" alt="Image Preview" style="max-width: 100px; max-height: 100px;" />
                              </div> -->
                              <!-- {{ files.name }} - {{ files.size }} bytes -->
                            </li>
                          </ul>
                        </ng-template>
                      </p-fileUpload>
                    </div>
                  </div>
                
                  <!-- Spouse Photograph Upload -->
                  <div class="field col-12 md:col-6">
                    <label for="spou_imgs" class="size"><b>Document:<span class="text-red-700">(.JPG,.JPEG,.PNG) (Max file upload size : 1MB)</span></b></label>&nbsp;
                    <div class="card flex justify-content-right">
                      <p-toast></p-toast>
                      <p-fileUpload name="spouse_files" (onSelect)="onUpload($event, 'SF')" (onRemove)="onRemove($event, 'S')" [customUpload]="true" [multiple]="false" accept="image/*">
                        <ng-template pTemplate="content">
                          <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let files of uploadedFiles">
                              <!-- <div *ngIf="filePreview[file.name]" (click)="showPreview(filePreview[file.name])" style="cursor: pointer; margin-top: 10px;">
                                <img [src]="filePreview[file.name]" alt="Image Preview" style="max-width: 100px; max-height: 100px;" />
                              </div> -->
                              <!-- {{ files.name }} - {{ files.size }} bytes -->
                            </li>
                          </ul>
                        </ng-template>
                      </p-fileUpload>
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>



            <p-divider type="dashed"></p-divider>
            <h3 class="text-center"><b>Premium Details</b></h3>

            <div class="flex flex-row">
              <div class="field col-12 md:col-12">
                <label for="grp_name" class="label_field"><b>Group Name:</b></label>&nbsp;
                <select id="grp_name" formControlName="grp_name"
                  class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                  style="appearance: auto; height: 3vw; border-radius: 7px" (change)="getPremiumAmt($event)">
                  <option value="">Select Group Name</option>
                  <ng-container *ngIf="responsedata.length > 0">
                    <option *ngFor="let option of responsedata[0].pre_dt" [value]="option.family_type_id">{{
                      option.family_type
                      }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>


            <div class="flex flex-row">
              <div class="field col-12 md:col-12">
                <label for="pre_amont" class="label_field"><b>Premium Amount:</b></label>&nbsp;
                <input id="pre_amont" type="text" formControlName="pre_amont" placeholder="Enter Premium Amount"
                  class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  readonly />
              </div>
            </div>

            <div class="flex flex-row">
              <div class="field col-12 md:col-6">
                <label for="pre_amont" class="label_field"><b>Do you want to avail a Super Top Up on this
                    policy?</b></label>&nbsp;
              </div>
              <div class="field col-12 md:col-3">
                <div class="flex align-items-center">
                  <input type="radio" name="super_top_up" id="super_top_up_yes" value="Y"
                    (click)="toggleAdditionalOptions('Y')">
                  <label for="super_top_up_yes" class="label_field ml-2">Yes</label>
                </div>
              </div>
              <div class="field col-12 md:col-3">
                <div class="flex align-items-center">
                  <input type="radio" name="super_top_up" id="super_top_up_no" value="N"
                    (click)="toggleAdditionalOptions('N')" checked>
                  <label for="super_top_up_no" class="label_field ml-2">No</label>
                </div>
              </div>
            </div>

            <ng-container *ngIf="additionalOptions">
              <div class="flex flex-row">

                <div class="field col-12 md:col-3" *ngFor="let option of sup_top_list; let i = index">
                  <div class="flex align-items-center">
                    <input type="radio" name="sup_top_up" id="sup_top_up_{{i}}" formControlName="sup_top_up"
                      [value]="option.value">
                    <label for="sup_top_up_{{i}}" class="label_field ml-2">{{ option.name }}</label>
                  </div>
                </div>
              </div>

              <div class="flex flex-row">
                <div class="field col-12 md:col-12">
                  <label for="pre_amont" class="label_field"><b>Premium Amount:</b></label>&nbsp;
                  <input id="pre_amont" type="text" formControlName="sup_pre_amont" placeholder="Enter Premium Amount"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    value="{{form.controls['sup_top_up'].value}}" readonly />
                </div>
              </div>

              <div class="flex flex-row">
                <div class="field col-12 md:col-12">
                  <label for="tot_amont" class="label_field"><b>Total Amount:</b></label>&nbsp;
                  <input id="tot_amont" type="text" formControlName="sup_tot_amont" placeholder="Enter Total Amount"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    [value]="totalAmount" readonly />
                </div>
              </div>


            </ng-container>



          </form>

          <button pButton pRipple type="button" label="Submit" class="p-button-raised final" (click)="final_submit()"
            [disabled]="o['member_id'].invalid || o['form_dt'].invalid || o['phone'].invalid || o['member_type'].invalid || o['member'].invalid || o['gurdian'].invalid ||  o['gen'].invalid ||  o['marital_status'].invalid ||  o['gen_dob'].invalid"></button>
        </div>


        <!-- non-member -->



      </ng-container>
    </p-card>
  </div>
</div>