<div class="background_sec">
  <div class="memSec">
    <div class="smallBox">
      <div class="" (click)="nextPage('G')">
        <i class="fa fa-user smallBoxIconSec" style="font-size: 3rem"></i>
        <h2 class="">General Membership</h2>
      </div>
    </div>
    <div class="smallBox">
      <div class="" (click)="nextPage('L')">
        <i class="fa fa-user-circle-o smallBoxIconSec" style="font-size: 3rem"></i>
        <h2 class="">Life Membership</h2>
      </div>
    </div>
    <div class="smallBox">
      <div class="" (click)="nextPage('AI')">
        <i class="fa fa-users smallBoxIconSec" style="font-size: 3rem"></i>
        <h2 class="">Associate Membership</h2>
      </div>
    </div>
  </div>
</div>