<div class="banner_sec">
  <div class="memSec">
    <div class="card">
      <div class="memCard" (click)="nextPage('G')">
        <p class="memText">General Membership</p>
      </div>
    </div>
    <div class="card">
      <div class="memCard" (click)="nextPage('L')">
        <p class="memText">Life Membership</p>
      </div>
    </div>
    <div class="card">
      <div class="memCard" (click)="nextPage('AI')">
        <p class="memText">Associate Membership</p>
      </div>
    </div>
  </div>
</div>