<div class="about-bg">
  <div class="container py-4">
    <div class="about-card">
      <h2 class="about-title">Contact Us</h2>

      <p class="text-center">
      If you have any questions or concerns about this Privacy Policy or our data practices,
      </p>
      <p class="mb-0 text-center">
         please contact us via <a _ngcontent-hwd-c10="" href="mailto:bosectrust@gmail.com" class="mr-0 ml-0">bosectrust@gmail.com</a>, <a _ngcontent-hwd-c10="" href="bspwa2010@gmail.com">bspwa2010@gmail.com</a>
    </p>
    </div>
  </div>
</div>
