<style>
  table {
    width: 96%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  th,
  td {
    padding: 15px;
    text-align: left;
  }

  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
</style>
<p-card id="divToPrint" *ngIf="userData?.form_type == 'GP'">
  <h1 class="text-center label_field title">You are enlisted under <span
      class="heading badge {{ userData?.form_type =='GP' ? 'badge-pending' :''}}">{{userData?.form_type == 'GP' ?
      'Existing
      Group
      Policy' : 'N/A'}}</span></h1>
  <h1 class="label_field title size1">Policy Holder Type :<span class="heading"> {{userData?.policy_holder_type == 'M' ?
      'BSPWA Member' : userData?.policy_holder_type == 'N' ? 'Member of other Sail Association' : 'N/A'}}</span></h1>
  <h1 class="label_field title size">Form Fillup Date :<span class="heading"> {{userData?.form_dt | date :
      'dd/MM/yyyy'}}</span></h1>
  <table class="table_space">
    <tr>
      <th colspan="5" class="text-center" style="background-color: aliceblue;"><label for="member_type"
          class="label_field color"><b>DETAILS OF THE MEMBER</b></label></th>
    </tr>
    <tr>
      <th colspan="5"><label for="mem_name" class="label_field"><b>NAME :</b><span class="label_field heading">
            {{userData?.memb_name}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="5"><label for="addr" class="label_field"><b>MEMBER ID
            :</b><span class="label_field heading"> {{userData?.member_id}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="5"><label for="member_type" class="label_field"><b>TYPE OF
            MEMBERSHIP
            :</b><span class="label_field heading"> {{userData?.memb_type == 'G' ? 'General Membership' :
            userData?.memb_type ==
            'L' ? 'Life Membership' : userData?.memb_type == 'AI' ? 'Associate Membership' : ''}}</span></label></th>
    </tr>
    <tr *ngIf="userData?.memb_type != 'AI'">
      <th colspan="5"><label for="unit" class="label_field"><b>NAME OF THE UNIT
            FROM
            WHERE SUPERANNUATED
            :</b><span class="label_field heading"> {{userData?.unit_name}}</span></label></th>
    </tr>
    <tr>
      <th colspan="5"><label for="gurd_name" class="label_field"><b>FATHER'S Name
            :</b><span class="label_field heading"> {{userData?.father_husband_name}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="2"><label for="ps" class="label_field"><b>MARITAL STATUS: </b><span class="label_field heading">
            {{userData?.marital_status == 'U' ? 'Unmarried' : userData?.marital_status == 'M' ? 'Married' :
            userData?.marital_status == 'W' ? 'Widow' : userData?.marital_status == 'D' ? 'Divorce' :
            ''}}</span></label>
      </th>
      <th colspan="3"><label for="phone" class="label_field"><b>GENDER: </b><span class="label_field heading">
            {{userData?.sex == 'M' ? 'Male' : userData?.sex == 'F' ? 'Female' : ''}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="2"><label for="dob" class="label_field"><b>DATE OF BIRTH :</b><span class="label_field heading">
            {{userData?.dob | date : 'dd/MM/yyyy'}}</span></label>
      </th>
      <th colspan="3"><label for="email_id" class="label_field"><b>PHONE NO: </b><span class="label_field heading">
            {{userData?.phone}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="2"><label for="memb_oprn" class="label_field"><b>MEMBER OPERATION:
          </b><span class="label_field heading">
            {{userData?.memb_oprn == 'S' ? 'Self' : userData?.memb_oprn == 'J' ? 'Spouse' : 'N/A'}}</span></label>
      </th>
      <th colspan="3"><label for="dissease" class="label_field"><b>DISEASES SUFFER
            fROM: </b><span class="label_field heading">
            {{userData?.disease_flag != 'N' ? userData?.disease_type : 'N/A'}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="5" class="text-center" style="background-color: aliceblue;"><label for="member_type"
          class="label_field color"><b>DETAILS OF DEPENDENT</b></label></th>
    </tr>
    <tr>
      <th>
        <label for="sl_no" class="label_field"><b>SL NO</b><span class="label_field heading"></span></label>
      </th>
      <th>
        <label for="dependent_name" class="label_field"><b>NAME OF THE DEPENDENTS</b><span
            class="label_field heading"></span></label>
      </th>
      <th>
        <label for="phone_no" class="label_field"><b>DOB</b><span class="label_field heading"></span></label>
      </th>
      <th>
        <label for="relationship" class="label_field"><b>RELATIONSHIP</b><span
            class="label_field heading"></span></label>
      </th>
      <th>
        <label for="diseases" class="label_field"><b>DISEASES SUFFER</b><span
            class="label_field heading"></span></label>
      </th>
    </tr>
    <tr *ngIf="!dependentsData || dependentsData.length === 0">
      <td colspan="5" class="text-center span_space heading"><b>No Data Found</b></td>
    </tr>
    <tr *ngFor="let dt of dependentsData; let i = index">
      <th><span class="label_field heading">{{i + 1}}</span></th>
      <th><span class="label_field heading">{{dt.dept_name}}</span></th>
      <th><span class="label_field heading">{{dt.dob | date: 'dd/MM/yyyy'}}</span></th>
      <th><span class="label_field heading">{{dt.relation_name}}</span></th>
      <th><span class="label_field heading">{{dt.disease_type}}</span></th>
    </tr>
  </table>

</p-card>

<p-card *ngIf="userData?.form_type != 'GP'">
  <h1 class="text-center label_field title">You are enlisted under <span
      class="heading badge {{ userData?.form_type !='GP' ? 'badge-pending' :''}}">{{userData?.form_type !=
      'GP' ?
      'Super Topup
      Policy' : 'N/A'}}</span></h1>
  <h1 class="label_field title size1">Policy Holder Type :<span class="heading"> {{userData?.policy_holder_type == 'M' ?
      'BSPWA Member' : userData?.policy_holder_type == 'N' ? 'Member of other Sail Association' : 'N/A'}}</span></h1>
  <h1 class="label_field title size">Form Fillup Date :<span class="heading"> {{userData?.form_dt | date :
      'dd/MM/yyyy'}}</span></h1>
  <table class="table_space">
    <tr>
      <th colspan="6" class="text-center" style="background-color: aliceblue;"><label for="member_type"
          class="label_field color"><b>DETAILS OF THE MEMBER</b></label></th>
    </tr>
    <tr>
      <th colspan="6"><label for="mem_name" class="label_field"><b>NAME :</b><span class="label_field heading">
            {{userData?.memb_name}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="6"><label for="addr" class="label_field"><b>MEMBER ID
            :</b><span class="label_field heading"> {{userData?.member_id}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="6"><label for="member_type" class="label_field"><b>TYPE OF
            MEMBERSHIP
            :</b><span class="label_field heading"> {{userData?.memb_type == 'G' ? 'General Membership' :
            userData?.memb_type ==
            'L' ? 'Life Membership' : ''}}</span></label></th>
    </tr>
    <tr *ngIf="userData?.memb_type != 'AI'">
      <th colspan="6"><label for="unit" class="label_field"><b>NAME OF THE UNIT
            FROM
            WHERE SUPERANNUATED
            :</b><span class="label_field heading"> {{userData?.unit_name}}</span></label></th>
    </tr>
    <tr>
      <th colspan="3"><label for="gurd_name" class="label_field"><b>PERSONNEL NO
            :</b><span class="label_field heading"> {{userData?.personel_no}}</span></label>
      </th>
      <th colspan="3"><label for="gurd_name" class="label_field"><b>MIN NO
            :</b><span class="label_field heading"> {{userData?.min_no}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="3"><label for="dob" class="label_field"><b>DATE OF BIRTH :</b><span class="label_field heading">
            {{userData?.dob | date: 'dd/MM/yyyy'}}</span></label>
      </th>
      <th colspan="3"><label for="email_id" class="label_field"><b>PHONE NO: </b><span class="label_field heading">
            {{userData?.phone_no}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="3"><label for="memb_oprn" class="label_field"><b>MEMBER OPERATION:
          </b><span class="label_field heading">
            {{userData?.memb_oprn == 'S' ? 'Self' : userData?.memb_oprn == 'J' ? 'Spouse' : 'N/A'}}</span></label>
      </th>
      <th colspan="3"><label for="dissease" class="label_field"><b>JOINING YEAR: </b><span class="label_field heading">
            {{userData?.fin_yr | date: 'dd/MM/yyyy'}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="6"><label for="address" class="label_field"><b>ADDRESS: </b><span class="label_field heading">
            {{userData?.mem_address}}</span></label>
    </tr>
    <tr>
      <th colspan="6" class="text-center" style="background-color: aliceblue;"><label for="member_type"
          class="label_field color"><b>DETAILS OF THE SPOUSE</b></label></th>
    </tr>
    <tr>
      <th colspan="6"><label for="spou_name" class="label_field"><b>SPOUSE NAME :</b><span class="label_field heading">
            {{userData?.dependent_name != 'null' ? userData?.dependent_name : 'N/A'}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="3"><label for="depen_dob" class="label_field"><b>DATE OF BIRTH :</b><span
            class="label_field heading"> {{userData?.spou_dob != '0000-00-00' ? (userData?.spou_dob | date:
            'dd/MM/yyyy') :
            'N/A'}}</span></label>
      </th>
      <th colspan="3"><label for="min_no" class="label_field"><b>MIN NO :</b><span class="label_field heading">
            {{userData?.spou_min_no != '' ? userData?.spou_min_no : 'N/A'}}</span></label></th>
    </tr>
    <tr>
      <th colspan="6"><label for="mob_no" class="label_field"><b>MOBILE NO :</b><span class="label_field heading">
            {{userData?.spou_phone != '0' ? userData?.spou_phone : 'N/A'}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="6"><label for="member_type" class="label_field"><b>ADDRESS :</b><span class="label_field heading">
            {{userData?.spou_address != 'null' ? userData?.spou_address : 'N/A'}}</span></label>
      </th>
    </tr>
    <tr>
      <th colspan="6" class="text-center" style="background-color: aliceblue;"><label for="member_type"
          class="label_field color"><b>MEDICAL DETAILS</b></label></th>
    </tr>
    <tr>
      <th>
        <label for="sl_no" class="label_field"><b>SL NO</b><span class="label_field heading"></span></label>
      </th>
      <th>
        <label for="dependent_name" class="label_field"><b>STATUS</b><span class="label_field heading"></span></label>
      </th>
      <th>
        <label for="phone_no" class="label_field"><b>YEAR</b><span class="label_field heading"></span></label>
      </th>
      <th>
        <label for="relationship" class="label_field"><b>AMOUNT UTILISED</b><span
            class="label_field heading"></span></label>
      </th>
      <th>
        <label for="relationship" class="label_field"><b>DISEASES SUFFER</b><span
            class="label_field heading"></span></label>
      </th>
      <th>
        <label for="diseases" class="label_field"><b>HOSPITAL NAME</b><span class="label_field heading"></span></label>
      </th>
    </tr>
    <tr *ngIf="!userMedicalData  || userMedicalData.length ===0">
      <td colspan="6" class="text-center span_space heading"><b>No Data Found</b></td>
    </tr>
    <tr *ngFor="let data of userMedicalData ; let i = index">
      <th><span class="label_field heading">{{i+1}}</span></th>
      <th><span class="label_field heading">{{data.ind_type == 'S' ? 'Self' : data.ind_type == 'J' ? 'Spouse' :
          ''}}</span>
      </th>
      <th><span class="label_field heading">{{data.fin_year}}</span></th>
      <th><span class="label_field heading">{{data.amount}}</span></th>
      <th><span class="label_field heading">{{data.particulars}}</span></th>
      <th><span class="label_field heading">{{data.treatment_dtls}}</span></th>
    </tr>
  </table>
</p-card>