.color{
    color: #3B82F6;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

  ::ng-deep p-card.custom-card .p-card-body {
  /* background: linear-gradient(to right, #dfe4eb, #c7d9f1); */
  background: linear-gradient(to right, #afbdd3, #dfe4eb);
}