<style>
  .ceperate {
    width: 10%;
  }
</style>

<p-card>
  <div class="border-1 p-4 mb-4" id="divToPrint">
    <table width="100%" class="text-left">
      <tr>
        <th class="text-center" colspan="7">
          <h2>
            <img *ngIf="trnData?.mem_type == 'G' || trnData?.mem_type == 'L' || trnData?.mem_type == 'AI'; else defaultImage" 
                 src="../../../../assets/images/bokaro.jpg" 
                 width="20%" height="20%">
            
            <ng-template #defaultImage>
              <img src="../../../../assets/images/logo.jpg" width="20%" height="20%">
            </ng-template>
          </h2>
          
          <div class="print_top_head mt-3">
            <h2>{{trnData?.mem_type == 'G' || trnData?.mem_type == 'L' || trnData?.mem_type == 'AI' ?' BOKARO STEEL PEOPLE WELFARE ASSOCIATION' : 'BOSEC WELFARE TRUST' }}</h2>
            <h4>13, Camac Street, Kolkata 700017</h4>
            <h4>{{trnData?.mem_type == 'G' || trnData?.mem_type == 'L' || trnData?.mem_type == 'AI' ? 'Registration No : S017807' :  'Registration No :  ESTD 2010' }}</h4>
            <h4 class="color">Money Receipt</h4>
          </div>
        </th>
      </tr>
      <tr>
        <td class="break" colspan="7"></td>
      </tr>
      <tr class="mt-3">
        <th>Transaction ID</th>
        <td class="text-left">:</td>
        <td>{{trnData?.trn_id}}</td>
        <td class="ceperate"></td>
        <th>Date</th>
        <td>:</td>
        <td>{{trnData?.trn_dt | date: 'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <th>Form No</th>
        <td>:</td>
        <td>{{trnData?.form_no}}</td>
        <td class="ceperate"></td>
        <th>Member Name</th>
        <td>:</td>
        <td>{{trnData?.memb_name}}</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td>:</td>
        <td>{{trnData?.tot_amt}}</td>
        <td class="ceperate"></td>
        <th>Paymode</th>
        <td>:</td>
        <td>{{payMode[trnData?.pay_mode]}}</td>
      </tr>
      <ng-container *ngIf="trnData?.pay_mode == 'Q'">
        <tr>
          <th>Cheque No</th>
          <td>:</td>
          <td>{{trnData?.chq_no}}</td>
          <td class="ceperate"></td>
          <th>Cheque Date</th>
          <td>:</td>
          <td>
            {{trnData?.chq_dt | date: 'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <th>Bank</th>
          <td>:</td>
          <td>{{chqBank[trnData?.chq_bank]}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="trnData?.pay_mode == 'C'">
        <tr>
          <th>Receipt NO</th>
          <td>:</td>
          <td>{{trnData?.receipt_no}}</td>
        </tr>
      </ng-container>
      <tr>
        <th>Status</th>
        <td>:</td>
        <td>{{trnData?.approval_status == 'U' ? 'Unapproved' : 'Approved'}}</td>
      </tr>
    </table>
  </div>
  <p-button class="mt-5" label="PRINT" styleClass="p-button-rounded print_btn" (click)="printDiv()"
    style="margin-left: 33vw;"></p-button>
</p-card>