<div class="view-container">
  <div id="divToPrint">
    <div class="print_top_head" style="position: relative;">
      <h2>BOKARO STEEL PEOPLE WELFARE ASSOCIATION</h2>
      <h4>13, Camac Street, Kolkata 700017</h4>
      <h4 style="margin-top: 10px; font-weight: bold; color: #1a73e8;">Transaction Details</h4>
      <p-button style="position: absolute; right: 0; bottom: 10px;" label="PRINT" icon="pi pi-print" styleClass="p-button-rounded p-button-info p-button-sm print_btn" (click)="printDiv()"></p-button>
    </div>
    
    <table class="details-table">
      <tr>
        <th>Transaction ID</th>
        <td>:</td>
        <td><b>{{trn_id}}</b></td>
        <td class="ceperate"></td>
        <th>Transaction Date</th>
        <td>:</td>
        <td><b>{{trnData?.trn_dt | date: 'dd/MM/yyyy'}}</b></td>
      </tr>
      <tr>
        <th>Subscription Amount</th>
        <td>:</td>
        <td>{{trnData?.sub_amt}}</td>
        <td class="ceperate"></td>
        <th>Total Amount</th>
        <td>:</td>
        <td><b>{{trnData?.tot_amt}}</b></td>
      </tr>
      <tr>
        <th>Previous Subscription</th>
        <td>:</td>
        <td>{{trnData?.prev_upto | date: 'dd/MM/yyyy'}}</td>
        <td class="ceperate"></td>
        <th>Subscription Upto</th>
        <td>:</td>
        <td>{{trnData?.curr_upto | date: 'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <th>Paymode</th>
        <td>:</td>
        <td>{{payMode[trnData?.pay_mode]}}</td>
        <td class="ceperate"></td>
        <th>Total Month Paid</th>
        <td>:</td>
        <td>
          {{ trnData?.months_paid }} month{{ trnData?.months_paid > 1 ? 's' : '' }} ({{ trnData?.paid_month_range }})
        </td>
      </tr>
      <tr>
        <th>Admission Fee</th>
        <td>:</td>
        <td>{{trnData?.adm_fee}}</td>
        <td class="ceperate"></td>
        <th>Donation Fee</th>
        <td>:</td>
        <td>{{trnData?.donation}}</td>
      </tr>
      <tr>
        <th>Premium Amount</th>
        <td>:</td>
        <td>{{trnData?.premium_amt}}</td>
        <td class="ceperate"></td>
        <th>One time Amount</th>
        <td>:</td>
        <td>{{trnData?.onetime_amt}}</td>
      </tr>
      <ng-container *ngIf="trnData?.pay_mode == 'Q'">
        <tr>
          <th>Cheque No</th>
          <td>:</td>
          <td>{{trnData?.chq_no}}</td>
          <td class="ceperate"></td>
          <th>Cheque Date</th>
          <td>:</td>
          <td>{{trnData?.chq_dt | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </ng-container>
      <tr>
        <ng-container *ngIf="trnData?.pay_mode != 'Q'">
          <th>Receipt Number</th>
          <td>:</td>
          <td>{{trnData?.receipt_no}}</td>
        </ng-container>
        <td class="ceperate"></td>
        <th>Status</th>
        <td>:</td>
        <td><b><span [ngStyle]="{'color': trnData?.approval_status == 'A' ? 'green' : 'red'}">{{trnData?.approval_status == 'U' ? 'Unapproved' : 'Approved'}}</span></b></td>
      </tr>
    </table>
  </div>
</div>