<div class="footer_sec">
	<p> <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal_terms_2">About Us</a>  |
    <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal_terms_1">Contact Us</a>  |
    <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal_terms_3">Terms Of Condition</a>  | 
		<a href="javascript:void(0)" data-toggle="modal" data-target="#myModal_privacy_3">Privacy Policy</a>  | 
		<a href="javascript:void(0)" data-toggle="modal" data-target="#myModal_privacy_4">Refund and Cancellation Policy</a>  |
    <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal_privacy_2">Delivery & Shipping Policy</a> |  Email ID: <a href="mailto:bosectrust@gmail.com" class="mr-0 ml-0">bosectrust@gmail.com</a>,  <a href="bspwa2010@gmail.com">bspwa2010@gmail.com</a></p>
	Copyright © 2024. All Rights Reserved by  BOSEC Welfares Association 
</div>

<div class="modal fade" id="myModal_terms_1" role="dialog">
	<div class="modal-dialog modal_dialog_custom">
	
	  <!-- Modal content-->
	  <div class="modal-content">
 
		<div class="modal-body">
	  <button type="button" class="close" data-dismiss="modal">&times;</button>
	  <h2>Contact Us</h2>
    <p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us via <a _ngcontent-hwd-c10="" href="mailto:bosectrust@gmail.com" class="mr-0 ml-0">bosectrust@gmail.com</a>, <a _ngcontent-hwd-c10="" href="bspwa2010@gmail.com">bspwa2010@gmail.com</a></p>
		 
		</div>
	  </div>
	  
	</div>
  </div>

<div class="modal fade" id="myModal_terms_2" role="dialog">
	<div class="modal-dialog modal_dialog_custom">
	
	  <!-- Modal content-->
	  <div class="modal-content">
 
		<div class="modal-body">
	  <button type="button" class="close" data-dismiss="modal">&times;</button>
	  <h2>About Us</h2>
	  <p>Welcome to the official website of the Bokaro Steel Employees' (Calcutta) Co-operative Credit Society Ltd, a cornerstone in the financial and social welfare of current and former employees of the Steel Authority of India Limited (SAIL), particularly those associated with the Bokaro Steel Plant. Established in 1979 under Registration No. 31/Cal, our society has continuously strived to empower its members through financial support, welfare initiatives, and community-building efforts. Over the years, we have evolved to meet the changing needs of our members, always guided by the principles of mutual aid, cooperation, and social responsibility.</p>

    <p>In 2023, we took a significant step forward by establishing the BOSEC Welfare Trust under the Trust Act. This trust, with its General Council comprising members and life members of the Bokaro Steel People Welfare Association, embodies our commitment to the long-term welfare of our community. The association, registered under the Societies Act with Registration No. S017807 on 28/10/2023, plays a pivotal role in representing the interests of both current and former employees of SAIL and their families.</p>

    <p>Our mission is to foster a sense of belonging and security among our members, ensuring that they have access to financial resources, social support, and opportunities for personal and professional growth. The BOSEC Welfare Trust is designed to extend these benefits to all eligible beneficiaries, including the family members of SAIL employees, making sure that no one is left behind.
    </p>

    <p>We are proud of our heritage and the role we play in the lives of our members. Our commitment to their welfare is unwavering, and we continuously strive to enhance the benefits and services we offer. As we look to the future, we remain dedicated to building a stronger, more resilient community, one that supports its members at every stage of their lives. Thank you for being a part of our journey.
    </p>
		 
		</div>
	  </div>
	  
	</div>
  </div>

<div class="modal fade" id="myModal_terms_3" role="dialog">
	<div class="modal-dialog modal_dialog_custom">
	
	  <!-- Modal content-->
	  <div class="modal-content">
  <!--
		<div class="modal-header">
		  
		  <h4 class="modal-title">Modal Header</h4>
		</div>
  -->
		<div class="modal-body">
	  <button type="button" class="close" data-dismiss="modal">&times;</button>
	  <h2>Terms Of Condition</h2>
	  <p>Terms and Conditions for the Bokaro Steel People Welfare Association (BSPWA) Website Welcome to the official website of the Bokaro Steel People Welfare Association (BSPWA). By accessing or using this website, you agree to comply with and be bound by the following terms and conditions. Please review them carefully.</p>
<h2>Membership Eligibility</h2>
<h3>Eligibility Criteria:</h3>

<ul>
  <li >
    Present and past employees of SAIL, Bokaro Steel Plant.
  </li>
  <li >
    Residents of the association&rsquo;s operational area.
  </li>
  <li >
    Individuals of reputable character, sound mind, and without criminal convictions.
  </li>
  <li >
    Agreement to abide by the association&rsquo;s constitution and by-laws.
  </li></ul>
<h3>Membership Categories:
  <br />
</h3>
<ul>
  <li >
    Founder Members: Signatories in the initial application with a contribution of Rs. 10,000.
  </li>
  <li >
    Life Members: Individuals contributing Rs. 40,000 (Rs. 2,000 for Bokaro Steel Employees&rsquo; Co-operative Credit Society members) with an annual renewal fee of Rs. 100.
  </li>
  <li >
    General Members: Individuals approved by the Committee with an annual fee of Rs. 240.
  </li>
  <li >
    Associate Members: Dependent family members with an annual fee of Rs. 250.
  </li>
  <li >
    Affiliate Members: Registered agencies with an annual fee of Rs. 1,200.
  </li>
  <li >
    Honorary Members: Individuals nominated by the Committee for their eminent service, exempt from membership fees.
  </li>
  <li >
    Co-Opted Members: Appointed by the Committee for special purposes.
</li></ul>
<h2>Membership Application
</h2>
<h3>Application Process:
  <br />
</h3>
<ul>
  <li >
    Submit the prescribed application form along with a fee of Rs. 50.
  </li>
  <li >
    The Committee has the authority to accept or reject applications.
  </li>
  <li >
    Membership is granted upon payment of the prescribed fee and approval by the Committee.
  </li></ul>
<h2>Website Use
</h2>
<h3>Content Usage:
  <br />
</h3>
<ul>
  <li >
    The content on this website is for informational purposes related to BSPWA activities and membership.
  </li>
  <li >
    Unauthorized use or reproduction of website content is prohibited.
  </li></ul>
<h3>User Conduct:
  <br />
</h3>
<ul>
  <li >
    Users must not engage in unlawful, harmful, or disruptive activities.
  </li>
  <li >
    Any form of misuse or malicious activity will lead to restricted access and potential legal action.
  </li></ul>
<h3>Privacy Policy:
  <br />
</h3>
<ul>
  <li >
    BSPWA is committed to protecting member privacy.
  </li>
  <li >
    Personal information provided during membership application and website use will be handled under our privacy policy.
  <br />
</li></ul>
<h2>Dispute Resolution
</h2>
<h3>Dispute Handling:
  <br />
</h3>
<ul>
  <li >
    Any disputes arising from membership or website use will be addressed by the Committee.
  </li>
  <li >
    Legal recourse may be sought if necessary.
  </li></ul>
<h2>Modifications
</h2>
<h3>Amendments to Terms and Conditions:
  <br />
</h3>
<ul>
  <li >
    BSPWA reserves the right to modify these terms and conditions at any time.
  </li>
  <li >
    Members will be notified of significant changes via the website or other communication channels.
  </li></ul>
<h2>Contact Information
</h2>
<h3>Contact Us:
  <br />
</h3>
<ul>
  <li >
    For inquiries or issues regarding membership or website use, please contact the BSPWA Committee through the contact details provided on the website.
  </li></ul>
<p>By continuing to use the BSPWA website, you acknowledge that you have read, understood, and agreed to these terms and conditions.</p>
		 
		</div>
  <!--
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
  -->
	  </div>
	  
	</div>
  </div>


  <div class="modal fade" id="myModal_privacy_3" role="dialog">
	<div class="modal-dialog modal_dialog_custom">
	
	  <!-- Modal content-->
	  <div class="modal-content">
  <!--
		<div class="modal-header">
		  
		  <h4 class="modal-title">Modal Header</h4>
		</div>
  -->
		<div class="modal-body">
	  <button type="button" class="close" data-dismiss="modal">&times;</button>
	  <h2>Privacy Policy</h2>
	  <p>The Bokaro Steel People Welfare Association (BSPWA) is committed to protecting the privacy of our members and visitors. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information.</p>
<h2>Information Collection</h2>
<h3>Personal Information:</h3>
<p>When you apply for membership or interact with our website, we may collect personal information such as your name, address, email, phone number, and employment details. We may also collect information related to your membership category and payment details.</p>
<br />
<h3>Usage Data:</h3>
<p>We collect information on how you interact with our website, including IP addresses, browser types, referring pages, pages visited, and the date and time of visits.</p>

<h2>Use of Information</h2>
<h3>Membership Management:</h3>
<p>We use personal information to process membership applications, manage member records, and communicate with members regarding association activities.</p>
<h3>Website Functionality:</h3>
<p>Usage data helps us improve website functionality, user experience, and content relevance.</p>
<h3>Communication:</h3>
<p>We use your contact information to send updates and other information related to BSPWA activities and events.</p>
<br />
<h2>Disclosure of Information</h2>
<h3>Third-Party Service Providers:<br />
</h3>
<p>We may share personal information with third-party service providers who assist us with membership management, payment processing, and website maintenance. These providers are required to protect your information and use it only for the purposes specified by BSPWA.</p>
<h3>Legal Requirements:</h3>
<p>We may disclose personal information if required by law or in response to valid requests by public authorities.</p>
<h3>Consent:</h3>
<p>With your explicit consent, we may share your information for purposes not covered by this Privacy Policy.</p>
<h2>Data Security</h2>
<h3>Security Measures:</h3>
<p>We implement appropriate technical and organizational measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.</p>
<h3>Data Retention:</h3>
<p>Personal information is retained for as long as necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.</p>
<h2>Your Rights</h2>
<h3>Access and Correction:</h3>
<p>You have the right to access and correct your personal information held by BSPWA. Requests for access or correction should be sent to the contact details provided below.</p>
<h3>Policy Updates:</h3>
<br />
<p>BSPWA reserves the right to update this Privacy Policy at any time. Significant changes will be communicated via our website or other appropriate channels.</p>
<h2>Contact Us</h2>
<h3>Inquiries and Concerns:<br />
</h3>
<p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us.</p>
<p>By using the BSPWA website and providing your personal information, you agree to the terms of this Privacy Policy.</p>
		</div>
  <!--
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
  -->
	  </div>
	  
	</div>
  </div>

  <div class="modal fade" id="myModal_privacy_2" role="dialog">
    <div class="modal-dialog modal_dialog_custom">
    
      <!-- Modal content-->
      <div class="modal-content">
   
      <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h2>Delivery & Shipping Policy</h2>
      <p>At the BOKARO STEEL PEOPLE WELFARE ASSOCIATION, our primary focus is on financial services, welfare initiatives, and community support for our members. As such, we do not engage in the sale, shipping, or delivery of physical goods. All services provided by the Society, the BOSEC Welfare Trust, and the Bokaro Steel People Welfare Association are related to member welfare, financial assistance, and community activities. Any documentation or communication related to membership, benefits, or services will be provided electronically or through direct personal contact. We appreciate your understanding and encourage you to reach out to us directly if you have any questions or require further information about our services.</p>
       
      </div>
      </div>
      
    </div>
    </div>

  
  <div class="modal fade" id="myModal_privacy_4" role="dialog">
    <div class="modal-dialog modal_dialog_custom">
    
      <!-- Modal content-->
      <div class="modal-content">
    <!--
      <div class="modal-header">
        
        <h4 class="modal-title">Modal Header</h4>
      </div>
    -->
      <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h2>Refund and Cancellation Policy</h2>
      <h3>No Refund and No Cancellation Policy</h3>
      <p>  At Bokaro Steel People Welfare Association (BSPWA), we prioritize the integrity and sustainability of our association. Therefore, we have established a strict policy regarding refunds and cancellations.</p>
      <h3>  Membership Fees:</h3>
      <p>  All membership fees, including those for Founder Members, Life Members, General Members, Associate Members, and Affiliate Members, are non-refundable. Once paid, these fees cannot be refunded under any circumstances.</p>
      <h3>  Donations and Contributions:</h3>
      <p>  Donations and contributions made to the BSPWA are non-refundable. We appreciate your support and understanding that these funds are immediately put to use for the association&rsquo;s activities and initiatives.</p>
      <h3>  Event Registrations:</h3>
      <p>  Fees paid for event registrations, workshops, seminars, and other BSPWA events are non-refundable. Cancellations or non-attendance will not entitle participants to any form of refund.</p>
      <h3>  Cancellations:</h3>
      <p>  Membership cancellations are not permitted. Once you become a member of BSPWA, your membership is valid for the period specified without the option for cancellation.</p>
      <p>  By making a payment or donation to BSPWA, you acknowledge and accept this no refund and no cancellation policy. If you have any questions or require further clarification, please contact us.<br>
      </p>
      </div>
    <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    -->
      </div>
      
    </div>
    </div>