<style>
  .ceperate {
    width: 10%;
  }
</style>

<p-card>
  <div class="border-1 p-4 mb-4" id="divToPrint">
    <table width="100%" class="text-left">
      <tr>
        <th class="text-center" colspan="7">
          <!-- <img src="../../../../assets/images/bokaro.jpg" width="20%" height="20%"> -->
          <h4>
            <img *ngIf="trnData?.mem_type == 'G' || trnData?.mem_type == 'L' || trnData?.mem_type == 'AI'; else defaultImage" 
                 src="../../../../assets/images/bokaro.jpg" 
                 width="20%" height="20%">
            
            <ng-template #defaultImage>
              <img src="../../../../assets/images/logo.jpg" width="20%" height="20%">
            </ng-template>
          </h4>
          <div class="print_top_head mt-3">
            <h4>{{trnData?.mem_type == 'G' || trnData?.mem_type == 'L' || trnData?.mem_type == 'AI' ?' BOKARO STEEL PEOPLE WELFARE ASSOCIATION' : 'BOSEC WELFARE TRUST' }}</h4>
            <h4>13, Camac Street, Kolkata 700017</h4>
            <h4>{{trnData?.mem_type == 'G' || trnData?.mem_type == 'L' || trnData?.mem_type == 'AI' ? 'Registration No : S017807' :  'Registration No :  ESTD 2010' }}</h4>
            <h4 class="color">Money Receipt</h4>
          </div>
        </th>
      </tr>
      <tr>
        <td class="break" colspan="7"></td>
      </tr>
      <tr class="mt-5">
        <th><h5>Transaction ID</h5></th>
        <td class="text-left">:</td>
        <td><h5>{{trnData?.trn_id}}</h5></td>
        <td class="ceperate"></td>
        <th><h5>Date</h5></th>
        <td>:</td>
        <td><h5>{{trnData?.trn_dt | date: 'dd/MM/yyyy'}}</h5></td>
      </tr>
      <tr>
        <th><h5>Member ID</h5></th>
        <td>:</td>
        <td><h5>{{trnData?.member_id}}</h5></td>
        <td class="ceperate"></td>
        <th><h5>Member Name</h5></th>
        <td>:</td>
        <td><h5>{{trnData?.memb_name}}</h5></td>
      </tr>
      <tr>
        <th><h5>Amount</h5></th>
        <td>:</td>
        <td><h5>{{trnData?.tot_amt}}</h5></td>
        <td class="ceperate"></td>
        <th><h5>Paymode</h5></th>
        <td>:</td>
        <td><h5>{{payMode[trnData?.pay_mode]}}</h5></td>
      </tr>
      <ng-container *ngIf="trnData?.pay_mode == 'Q'">
        <tr>
          <th><h5>Cheque No</h5></th>
          <td>:</td>
          <td><h5>{{trnData?.chq_no}}</h5></td>
          <td class="ceperate"></td>
          <th><h5>Cheque Date</h5></th>
          <td>:</td>
          <td><h5>{{trnData?.chq_dt | date: 'dd/MM/yyyy'}}</h5></td>
        </tr>
        <tr>
          <th><h5>Bank</h5></th>
          <td>:</td>
          <td><h5>{{chqBank[trnData?.chq_bank]}}</h5></td>
        </tr>
      </ng-container>
      <!-- <ng-container *ngIf="trnData?.pay_mode == 'O'">
        <tr>
          <th>Receipt NO</th>
          <td>:</td>
          <td>{{trnData?.receipt_no}}</td>
        </tr>
      </ng-container> -->
      <tr>
        <th><h5>Status</h5></th>
        <td>:</td>
        <td><h5>{{trnData?.approval_status == 'U' ? 'Unapproved' : trnData?.approval_status == 'A' ? 'Approved' : ''}}</h5></td>
      </tr>
    </table>
  </div>
  <p-button class="mt-5" label="PRINT" styleClass="p-button-rounded print_btn" (click)="printDiv()"
    style="margin-left: 45vw;"></p-button>
</p-card>