<div class="change-password-container">
  <div class="change-password-box">
    <h3 class="flex align-items-center">
      <i class="pi pi-users menu-icon" style="font-size: 1.5rem; margin-right: 10px;"></i>
      <b>STP Member Register Report</b>
    </h3>
    <p-divider type="dashed"></p-divider>

    <form [formGroup]="form">
      <div class="formgrid grid mt-4">
        <div class="field col-12 md:col-4">
          <label for="from_dt" class="label_field"><b>From Date:<span class="text-red-700">*</span></b></label>
          <input id="from_dt" type="date" formControlName="from_dt" placeholder="dd/MM/yyyy" style="font-weight: bold;" />
        </div>
        <div class="field col-12 md:col-4">
          <label for="to_dt" class="label_field"><b>To Date:<span class="text-red-700">*</span></b></label>
          <input id="to_dt" type="date" formControlName="to_dt" placeholder="dd/MM/yyyy" style="font-weight: bold;" />
        </div>
        <div class="field col-12 md:col-4">
          <label for="memb_oprn" class="label_field"><b>Member Operation:<span class="text-red-700">*</span></b></label>
          <select id="memb_oprn" formControlName="memb_oprn" [(ngModel)]="selectedValue" style="font-weight: bold;">
            <option value="N">Select Member Type</option>
            <option value="">All</option>
            <option value="S">Single</option>
            <option value="D">Double</option>
          </select>
        </div>
      </div>

      <div class="formgrid grid mt-4 justify-content-center">
        <div class="field col-12 md:col-4 text-center">
          <button pButton pRipple type="button" label="Submit" class="p-button-raised sub_btn" [disabled]="form.invalid" (click)="submit_btn()"></button>
        </div>
      </div>
    </form>
  </div>
</div>