<div class="expired-container">
  <mat-card class="expired-card">
    <mat-card-header class="expired-header">
    <mat-icon class="expired-icon" color="warn">block</mat-icon>
  </mat-card-header>

    <mat-card-title class="mt-2">Payment Link Expired</mat-card-title>
    <mat-card-content>
      <p>
        This payment link is no longer valid.  
        Please contact the administrator to request a new link and continue your payment.
      </p>
    </mat-card-content>

    <mat-card-actions class="button-container mt-3">
      <button mat-raised-button color="primary" routerLink="/">
        Go to Home
      </button>
    </mat-card-actions>
  </mat-card>
</div>
