<style>
  table {
    width: 96%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* tr:hover {
      background-color: #ddd;
  } */
  th,
  td {
    padding: 15px;
    text-align: left;
  }

  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
</style>


<p-card id="divToPrint">
  <div class="row">
    <div class="col-12">
      <h4 class="letter" style="color: black">TO</h4>
      <h4 class="letter" style="color: black">The Secreatry</h4>
      <h3 class="letter" style="color: black">
        BOSEC WELFARE TRUST
      </h3>
      <h4 class="letter" style="color: black">13 CAMAC STREET,</h4>
      <h4 class="letter" style="color: black">KOLKATA 700017</h4>
      <h4 class="letter" style="color: black">(Through: <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.mem_type ==
            'G' ? 'General Membership' :
            stpinfo?.mem_type == 'L' ? 'Life
            membership' : ''}}</u></span>)</h4>
      <h4 class="letter" style="color: black">Dear Sir,</h4>
      <h4 class="size" style="color: black">
        This is to inform you that the under signed is the member of <span
          style="color: rgb(55, 55, 230);"><u>{{stpinfo?.mem_type == 'G' ? 'General
            Membership' : stpinfo?.mem_type == 'L' ? 'Life
            membership' : ''}}</u></span> having membership no.
        <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.member_id}}</u></span> and
        Superannuated from <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.unit_name}}</u></span>. My SAIL
        PERSONNEL NO. is <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.personel_no}}</u></span>.
        I am interested to join in the scheme of super top up policy with the UNITED INDIA INSURANCE CO LTD for the year
        subject to premium and other term. The details of the undersigned are as under:
      </h4>
    </div>
  </div>

  <div class="row">
    <table class="table_space">
      <tr>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b>STATUS</b></label>
        </th>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b>NAME</b><span class="span_space"></span></label>
        </th>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b>MIN NO</b><span class="span_space"></span></label>
        </th>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b>DOB</b><span class="span_space"></span></label>
        </th>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b>MOBILE NO</b><span class="span_space"></span></label>
        </th>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b>ADDRESS</b><span class="span_space"></span></label>
        </th>
      </tr>

      <tr>
        <th class="text-center"><span class="label_field" style="color: rgb(55, 55, 230);">SELF</span></th>
        <th class="text-center"><span class="label_field" style="color: rgb(55, 55, 230);">{{stpinfo?.memb_name!='null'
            ? stpinfo?.memb_name : 'N/A'}}</span></th>
        <th class="text-center"><span class="label_field" style="color: rgb(55, 55, 230);">{{stpinfo?.min_no!='null'
            ? stpinfo?.min_no : 'N/A'}}</span></th>
        <th class="text-center"><span class="label_field" style="color: rgb(55, 55, 230);"> {{stpinfo?.dob &&
            stpinfo?.dob !== '0000-00-00' ? (stpinfo?.dob | date: 'MM/dd/yyyy') :
            'N/A'}}</span></th>
        <th class="text-center"><span class="label_field" style="color: rgb(55, 55, 230);">{{
            stpinfo?.phone_no}}</span></th>
        <th class="text-center"><span class="label_field"
            style="color: rgb(55, 55, 230);">{{stpinfo?.mem_address!='null' ? stpinfo?.mem_address : 'N/A'}}</span>
        </th>
      </tr>
      <tr>
        <th class="text-center"><span class="label_field" style="color: rgb(55, 55, 230);">SPOUSE</span></th>
        <th class="text-center"><span class="label_field" style="color: rgb(55, 55, 230);">{{
            stpinfo?.dependent_name!= 'null' ? stpinfo?.dependent_name : 'N/A'}}</span></th>
        <th class="text-center"><span class="label_field"
            style="color: rgb(55, 55, 230);">{{stpinfo?.spou_min_no!='null' ? stpinfo?.spou_min_no : 'N/A'}}</span>
        </th>
        <th class="text-center">
          <span class="label_field" style="color: rgb(55, 55, 230);">
            {{stpinfo?.spou_dob && stpinfo?.spou_dob !== '0000-00-00' ? (stpinfo?.spou_dob | date: 'MM/dd/yyyy') :
            'N/A'}}
          </span>
        </th>

        <th class="text-center"><span class="label_field"
            style="color: rgb(55, 55, 230);">{{stpinfo?.spou_phone}}</span>
        </th>
        <th class="text-center"><span class="label_field"
            style="color: rgb(55, 55, 230);">{{stpinfo?.spou_address!='null' ? stpinfo?.spou_address :
            'N/A'}}</span></th>
      </tr>
    </table>
  </div>

  <div class="row mt-4">
    <h4 class="letter_style" style="color: black">
      <u>I am giving below the total usage of amount under SAIL MEDICLAIM POLICY FOR THE YEAR under IPD are as
        below:</u>
    </h4>
  </div>

  <div class="row">
    <table class="table_space">
      <tr>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b>Sl No</b></label>
        </th>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b><u>STATUS</u></b><span class="span_space"></span></label>
        </th>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b><u>YEAR</u></b><span class="span_space"></span></label>
        </th>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b><u>PARTICULAR OF DISEASE</u></b><span
              class="span_space"></span></label>
        </th>
        <th class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b><u>AMOUNT UTILISED</u></b><span class="span_space"></span></label>
        </th>
        <th colspan="2" class="text-center" style="background-color: aliceblue">
          <label for="status" class="label_field"><b><u>MEDICAL TREATMENT TAKEN AT (HOSPITAL NAME)</u></b><span
              class="span_space"></span></label>
        </th>
      </tr>
      <tr *ngFor="let dt of spouseInfo; let i = index">
        <th class="text-center" style="color: rgb(55, 55, 230);"><span class="label_field">{{dt.sl_no}}</span>
        </th>
        <th><span class="label_field" style="color: rgb(55, 55, 230);">{{dt.ind_type == 'S' ? 'SELF' : 'SPOUSE'}}</span>
        </th>
        <th style="width: 38vw;"><span class="label_field" style="color: rgb(55, 55, 230);">{{dt.fin_year}}</span></th>
        <th><span class="label_field" style="color: rgb(55, 55, 230);">{{dt.particulars}}</span></th>
        <th><span class="label_field" style="color: rgb(55, 55, 230);">{{dt.amount}}</span></th>
        <th><span class="label_field" style="color: rgb(55, 55, 230);">{{dt.treatment_dtls}}</span></th>
      </tr>
    </table>
  </div>

  <div class="row mt-3">
    <h4 class="letter_style" style="color: black">
      (Year means 11th July to 10th July of next year)
      I do hereby declare that all the information are correct. For any misinformation I will be liable for the loss
      suffered by you and will be liable to pay including penalty if any. As and when premium is declared we will
      deposit the same as per the procedure. I have read out the terms and agreed.
    </h4>
    <h4 class="letter_style" style="color: black;margin-left: 62vw;">
      Thanking You,
    </h4>
    <h4 class="letter_style" style="color: black;margin-left: 62vw;">
      Yours faithfully,
    </h4><br>
    <span class="span_space" style="color: rgb(9, 42, 233);margin-left: 62vw;"><b></b></span>
    <h4 class="letter_style" style="color: black;margin-left: 60vw;">
      Signature with date
    </h4>
  </div>

  <div class="row mt-5">
    <p class="letter_style" style="color: black"><b>Insurance is coverage rendered to the individual/members during any
        uncertain loss; it's not made for making profit or any type of speculation/gambling. Likewise, in Health
        Insurance coverage provided to the Policy holders during their Hospitaliration (treatment of which cannot be
        done from OPD/domiciliary basis). Therefore, members are requested to be judicial while taking Insurance
        coverage for their hospitalization, any type of forceful admission (where hospital infrastructure is not at all
        required) in hospital, request for over stav or doing diagnostic tests through IPD admission (which can be
        easily done through OPD) by prudent members will be discouraged.</b></p>

    <p class="letter_style" style="color: black"><b>Similarly, super top up policy is an additional benefit/coverage
        designed for the members applicable only when the basic coverage got exhausted. It is basically designed to
        extend support to the members in case of hospitalization involved with huge uncertain expenses (beyond basic
        policy coverage). Chronic diseases which require certain repeated hospitalization will not come under the scope
        of this Super Top up Policy.</b></p>

    <p class="letter_style" style="color: black">What is a super top up Health policy?</p>

    <p class="letter_style" style="color: black"><b>✔</b> Super top up policy is designed that an insurer can claim
      after a certain amount for reimbursement of IPD Hospitalization. This certain amount is called as threshold amount
    </p>

    <p class="letter_style" style="color: black"><b>✔</b> When a single member (either self or spouse) is joining the
      scheme, his threshold amount has been kept as 4 lacs. The amount has been fixed considering the SAIL MEDICLAIM
      POLICY. This threshold amount is applicable at the time of application (for example a person has already consumed
      certain amount at the time of joining in the scheme will not be taken into a/c) - The premium for 2021-22
      (11/7/2021 to 10/7/2022) is Rs. 2400/- including service tax</p>

    <p class="letter_style" style="color: black"><b>✔</b> In case of Self & spouse, i.e. both the threshold amount has
      been kept at Rs. 8 lacs considering the SAIL MEDICLAIM SCHEME. The premium is Rs. 4650/- for the period as
      mentioned above.</p>

    <p class="letter_style" style="color: black"><b>✔ <u>Though the policy covers the pre disease, but there is
          restriction which has been kept by the trust for the members those require multiple hospitalization during the
          year is not being considered, as the concept of joining any health insurance scheme is for coverage. In this
          cases the membership deemed to be taken as insurance for claim and not for coverage.</u></b></p>

    <p class="letter_style" style="color: black">The above restriction has to be kept to keep the policy continuity,
      otherwise the members having terminal disease will be join the scheme and the ICR will go up to a large extent and

      it will not be possible for continuance of the policy. The terms and condition of the Insurance policy is strictly
      as per the terms of SAIL

      <b>MEDICLAIM INSURANCE</b> and the restriction on SAIL MEDICLAIM SCHEME will also applicable in this scheme.
    </p>

    <p class="letter_style" style="color: black">Entry period strictly as per the renewal period of SAIL MEDICLAIM.
      However, when a member joining mediclaim scheme of SAIL at the time of superannuation, he can simultaneously can
      join in the scheme at any time during the year.</p>

  </div>

  <div class="row mt-5 text-center">
    <span class="letter_style" style="color: rgb(9, 42, 233)"><b></b></span>
    <p class="letter_style" style="color: black"><b>Signature with date</b></p>
  </div>

  <p-divider type="dashed"></p-divider>

  <h4 class="text-center" style="color: black;">Approval Section</h4>

  <form [formGroup]="form">
    <div class="flex flex-row mt-5">
      <div class="field col-12 md:col-4">
        <label for="resolution_no" class="label_field" style="color: black;"><b>Resolution No:<span
              class="text-red-700">*</span></b></label>&nbsp;
        <input id="resolution_no" type="text" formControlName="resolution_no" placeholder="Enter Resolution No"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <div class="field col-12 md:col-4">
        <label for="resolution_dt" class="label_field" style="color: black;"><b>Resolution Date:<span
              class="text-red-700">*</span></b></label>&nbsp;
        <input id="resolution_dt" type="date" formControlName="resolution_dt" placeholder="dd/mm/yyyy"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>

      <div class="field col-12 md:col-4">
        <label for="status" class="label_field" style="color: black;"><b>Status:</b></label>&nbsp;
        <!-- <select id="status" formControlName="status"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto; height: 3vw; border-radius: 7px"> -->
        <!-- <option value="P" select>Pending</option> -->
        <!-- <option value="T" select>Approve</option>
          <option value="R">Reject</option> -->
        <!-- </select> -->
        <input id="status" type="text" formControlName="status"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
    </div>

    <div class="flex flex-row mt-3 text-center">
      <button pButton pRipple type="button" label="Approve" class="p-button-raised sub_btn"
        (click)="approve_stp()"></button>
    </div>

    <!-- <p-divider type="dashed"></p-divider>

    <div *ngIf="form.controls['status'].value === 'T'">
    <div class="formgrid grid mt-3">
      <div class="field col-12 md:col-4">
        <label for="frm_no" style="color: black"><b>Form No</b></label>
        <input id="frm_no" type="text" value="{{form_no}}"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <div class="field col-12 md:col-4">
        <label for="pre_amt" style="color: black"><b>Premium Amount<span class="text-red-700">*</span></b></label>
        <input id="pre_amt" type="text" formControlName="pre_amt" placeholder="Enter Premium Amount...."
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <div class="field col-12 md:col-4">
        <label for="payment" class="label_field" style="color: black;"><b>Payment Mode:</b></label>&nbsp;
        <select id="payment" formControlName="payment" [(ngModel)]="selectedValue2"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto; height: 3vw; border-radius: 7px">
          <option value="O" select>Online Transaction</option>
        </select>
      </div>
    </div>
    </div> -->

    <!-- <p-button label="PRINT" styleClass="p-button-rounded print_btn" (click)="printDiv()"></p-button> -->

  </form>
</p-card>