<div class="change-password-container">
  <div class="change-password-box relative">
    <!-- <div class="absolute top-0 left-0 mt-4 ml-4" style="z-index: 10;">
      <button pButton pRipple type="button" label="Back" icon="pi pi-arrow-left"
        class="p-button-text p-button-secondary" (click)="back()" style="font-weight: 600;"></button>
    </div> -->

    <div class="flex justify-content-center align-items-center mb-3 flex-column pt-5">
      <h3 class="flex align-items-center m-0" style="color: black; font-weight: bold;">
        <i class="pi pi-wallet menu-icon" style="font-size: 1.5rem; margin-right: 10px;"></i>
        <b>Fees Type</b>
      </h3>
    </div>
    <p-divider type="dashed"></p-divider>

    <div class="flex justify-content-end mb-3">
      <button pButton pRipple type="button" icon="pi pi-plus" label="Add Fee Type"
        class="p-button-raised p-button-info" style="background-color: rgb(123, 163, 199); border-color: rgb(123, 163, 199);" (click)="onadd('')"></button>
    </div>

    <div class="card mt-2">
      <p-table [value]="userData" #dt2 dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['memb_type']"
        [tableStyle]="{ 'min-width': '100%', 'box-shadow': '0 4px 10px rgba(0,0,0,0.1)' }"
        styleClass="p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th style="background-color: rgb(123, 163, 199); color: white; width: 80%;" class="text-center">Member Type</th>
            <th style="background-color: rgb(123, 163, 199); color: white; width: 20%;" class="text-center">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td class="text-center">
              <b>{{customer.memb_type == 'G' ? 'General Membership' : customer.memb_type == 'L' ? 'Life Membership' : 'Associate Membership'}}</b>
            </td>
            <td class="text-center">
              <a pTooltip="Edit/View" tooltipPosition="bottom" (click)="onadd(customer.memb_type)">
                <i class="pi pi-file-edit editLink"></i>
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2" class="text-center text-red-900" style="padding: 20px;">No data available</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>