<div class="background">
  <div class="form-container">
    <p-card>
      <ng-container>  
        <h3 class="text-center"><b>Member Information For Super Topup Policy</b></h3>
        <p-divider type="dashed"></p-divider>

        <form [formGroup]="form">
          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <label for="form_dt" class="label_field"><b>Date:<span class="text-red-700">*</span></b></label>&nbsp;
                <input id="form_dt" type="date" formControlName="form_dt" placeholder="dd/MM/yyyy" [max]="maxDate"
                  class="box_input text-2xl text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                <div *ngIf="o['form_dt']?.touched || o['form_dt']?.dirty">
                  <small class="text-red-900" *ngIf="o['form_dt']?.errors">Date is required.</small>
                </div>
            </div>
             <div class="field col-12 md:col-4">
              <label for="policy_holder_type" class="label_field"><b>Policy Holder Type:<span class="text-red-700">*</span></b></label>&nbsp;
              <select id="policy_holder_type" formControlName="policy_holder_type" [(ngModel)]="selectedValue_4"
                  class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                  style="appearance: auto; height: 3vw; border-radius: 7px">
                  <option value="NP">Select Policy Holder Type</option>
                  <option value="M">BSPWA Member</option>
                  <option value="N">Member of Other SAIL Association</option>
                </select>
                <div *ngIf="o['policy_holder_type']?.touched || o['policy_holder_type']?.dirty">
                  <small class="text-red-900" *ngIf="o['policy_holder_type']?.errors">Policy Holder Type is required.</small>
                </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="min_no" class="label_field"><b>MIN NO:<span
                    class="text-red-700">*</span></b></label>&nbsp;
              <input id="min_no" type="text" formControlName="min_no" placeholder="Enter MIN NO"
                class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              <div *ngIf="o['min_no']?.touched || o['min_no']?.dirty">
                <small class="text-red-900" *ngIf="o['min_no']?.errors">MIN NO is required.</small>
              </div>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <label for="member_type" class="label_field"><b>Member Type:</b></label>&nbsp;
                <select id="member_type" formControlName="member_type" [(ngModel)]="selectedValue"
                  class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                  style="appearance: auto; height: 3vw; border-radius: 7px">
                  <option value="N">Select Member Type</option>
                  <option value="G">General Membership</option>
                  <option value="L">Life Membership</option>
                </select>
            </div>
            <div class="field col-12 md:col-4">
              <label for="unit_name" class="label_field"><b>Unit Name:</b></label>&nbsp;
                <select id="unit_name" formControlName="unit_name" [(ngModel)]="selectedValue2"
                  class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                  style="appearance: auto; height: 3vw; border-radius: 7px">
                  <option value="N">Select Unit Name</option>
                  <option *ngFor="let option of responsedata_unit" [value]="option.unit_id">{{ option.unit_name }}
                  </option>
                </select>
            </div>
            <div class="field col-12 md:col-4">
              <label for="personal_no" class="label_field"><b>Personnel No:</b></label>&nbsp;
                <input id="personal_no" type="text" formControlName="personal_no" placeholder="Enter Personal No"
                  class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <label for="memb_opr" class="label_field"><b>Member Operation:</b></label>&nbsp;
                <select id="memb_opr" formControlName="memb_opr" [(ngModel)]="selectedValue3"
                  (change)="onMemberOperationChange($event)" class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                  style="appearance: auto; height: 3vw; border-radius: 7px">
                  <option value="N">Select Operation</option>
                  <option value="S">Single</option>
                  <option value="D">Double</option>
                </select>
            </div>
            <div class="field col-12 md:col-4">
              <label for="member" class="label_field"><b>Member Name:</b></label>&nbsp;
                <input id="member" type="text" formControlName="member" placeholder="Enter Member name"
                [(ngModel)]="memberName" 
                (ngModelChange)="convertToUppercase()"
                  class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col-12 md:col-4">
              <label for="member_id" class="label_field"><b>Member ID:</b></label>&nbsp;
                <input id="member_id" type="text" formControlName="member_id" placeholder="Enter Member ID"
                  class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                   <div *ngIf="o['member_id']?.touched || o['member_id']?.dirty">
                  <small class="text-red-900" *ngIf="o['member_id']?.errors">Member Id is required.</small>
                </div>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <label for="gen_dob" class="label_field"><b>DOB:</b></label>&nbsp;
                <input id="gen_dob" type="date" formControlName="gen_dob" placeholder="dd/MM/yyyy" [max]="maxDate"
                  class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col-12 md:col-4">
              <label for="mobile" class="label_field"><b>Mobile No:</b></label>&nbsp;
                <input id="mobile" type="text" formControlName="mobile" placeholder="Enter Mobile No"
                  class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col-12 md:col-4">
              <label for="fin_yr" class="label_field"><b>Joining Year:</b></label>&nbsp;
              <input id="fin_yr" type="date" formControlName="fin_yr" placeholder="Enter Joining Year" [max]="maxDate"
                class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12">
              <label for="mem" class="label_field"><b>Member Address:</b></label>&nbsp;
                <textarea id="mem" formControlName="mem" type="text" rows="4" placeholder="Enter Member address..."
                  class="text-base text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
            </div>
          </div>

          <ng-container *ngIf="selectedValue3 === 'D'">
          <p-divider type="dashed"></p-divider>
          <h3 class="text-center"><b>Spouse Information</b></h3>
          </ng-container>

          <ng-container *ngIf="selectedValue3 === 'D'">
            <div class="flex flex-row">
              <div class="field col-12 md:col-3">
                <label for="spouse" class="label_field"><b>Spouse Name:</b></label>&nbsp;
                <input id="spouse" type="text" formControlName="spouse" placeholder="Enter Spouse name"
                [(ngModel)]="spouseName" 
                (ngModelChange)="convertToUppercase()"
                  class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              </div>
              <div class="field col-12 md:col-3">
                <label for="spouse_min_no" class="label_field"><b>MIN No:</b></label>&nbsp;
                <input id="spouse_min_no" type="text" formControlName="spouse_min_no" placeholder="Enter MIN No"
                  class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              </div>
              <div class="field col-12 md:col-3">
                <label for="spou_dob" class="label_field"><b>DOB:</b></label>&nbsp;
                <input id="spou_dob" type="date" formControlName="spou_dob" placeholder="dd/MM/yyyy" [max]="maxDate"
                  class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              </div>
              <div class="field col-12 md:col-3">
                <label for="spou_mobile" class="label_field"><b>Mobile No:</b></label>&nbsp;
                <input id="spou_mobile" type="text" formControlName="spou_mobile" maxlength="10"
                  placeholder="Enter Mobile No"
                  class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              </div>
            </div>

            <div class="flex flex-row">
              <div class="field col-12">
                <label for="spou_mem" class="label_field"><b>Spouse Address:</b></label>&nbsp;
                <textarea id="spou_mem" formControlName="spou_mem" type="text" rows="4"
                  placeholder="Enter Spouse address..."
                  class="text-base text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>

              </div>
            </div>
          </ng-container>

          <p-divider type="dashed"></p-divider>
          <h3 class="text-center"><b>Medical details</b></h3>

          <div formArrayName="depenFields_2">

            <ng-container *ngFor="let group of depenFields_2.controls; let i = index" [formGroupName]="i">
              <div class="flex flex-row mt-5">
                <div class="field col-12 md:col-3">
                  <label for="sl_no" class="label_field"><b>Sl No:</b></label>
                  <input id="sl_no" type="text" formControlName="sl_no" placeholder="Enter Sl No"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                </div>
                <div class="field col-12 md:col-3">
                  <label for="ind_type" class="label_field"><b>Status: </b></label>
                 <select id="ind_type" formControlName="ind_type"
                  (change)="changedate($event, i)"
                  class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                  style="appearance: auto; height: 3vw; border-radius: 7px">
                  <option value="">Select Status</option>
                  <option *ngFor="let option of filteredStatusOptions" [value]="option.value">
                    {{ option.label }}
                  </option>
                  </select>
                </div>
                <div class="field col-12 md:col-3">
                  <label for="fin_year" class="label_field"><b>Year:</b></label>&nbsp;
                  <input id="fin_year" type="text" formControlName="fin_year" placeholder="Enter Year"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    readonly />
                </div>
                <div class="field col-12 md:col-3">
                  <label for="amount" class="label_field"><b>Amount Utilised:</b></label>
                  <input id="amount" type="text" formControlName="amount" placeholder="Enter Amount"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                </div>
              </div>

              <div class="flex flex-row mt-2">
                <div class="field col-12">
                  <label for="particulars" class="label_field"><b>Particular of Diseases:</b></label>
                  <textarea id="particulars" formControlName="particulars" type="text" rows="4"
                    placeholder="Enter Diseases name..."
                    class="text-base text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
                </div>
              </div>

              <div class="flex flex-row mt-2">
                <div class="field col-12 md:col-6">
                  <label for="treatment_dtls" class="label_field"><b>Medical treatment taken At(Hospital
                      Name):</b></label>
                  <input id="treatment_dtls" type="text" formControlName="treatment_dtls"
                    placeholder="Enter Hospital Name"
                    class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                </div>
                <div *ngIf="i === 0" class="field col-12 md:col-3">
                  <p-button class="custom-tooltip" pTooltip="Add Dependent" tooltipPosition="bottom" icon="pi pi-plus"
                    styleClass="p-button-rounded p-button-text p-button-raised" (click)="onadd()"
                    [style]="{ 'background-color': 'rgb(177 209 161)', 'border-color': 'rgb(116 207 78)', color: '#ffff', 'margin-top': '1.3vw' }"></p-button>
                </div>

                <div *ngIf="i > 0" class="field col-12 md:col-3">
                  <p-button class="custom-tooltip" pTooltip="Delete Dependent" tooltipPosition="bottom"
                    icon="pi pi-minus" styleClass="p-button-rounded p-button-text p-button-raised" (click)="onminus(i)"
                    [style]="{ 'background-color': 'rgb(223 105 105)', 'border-color': 'rgb(129 54 54)', color: '#ffff', 'margin-top': '1.3vw'}"></p-button>
                </div>
              </div>
            </ng-container>
          </div>

          <p-divider type="dashed"></p-divider>
          <h3 class="text-center"><b>Premium Details</b></h3>

            <div class="flex flex-row mt-3">
            <div class="field col-12 md:col-4">
              <label for="premium_type" class="label_field"><b>Premium Type:</b></label>&nbsp;
                <input id="premium_type" type="text" formControlName="premium_type" placeholder="Enter Premium Type"
                  class="box_input text-2xl text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" readonly/>
            </div>
             <div class="field col-12 md:col-4">
             <label for="premium_amt" class="label_field"><b>Premium Amount:</b></label>&nbsp;
                <input id="premium_amt" type="text" formControlName="premium_amt" placeholder="Enter Premium Amount"
                  class="box_input text-2xl text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" readonly/>
            </div>
            <div class="field col-12 md:col-4">
              <label for="total_amt" class="label_field"><b>Total Premium Amount:</b></label>&nbsp;
              <input id="total_amt" type="text" formControlName="total_amt" placeholder="Enter Total Premium Amount" class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" readonly/>
            </div>
          </div>

        </form>
           <button mat-raised-button color="primary"label="Submit" class="p-button-raised final" (click)="final_submit()"
          [disabled]="!form.valid">Submit</button>
      </ng-container>
    </p-card>
  </div>
</div>