<div class="about-bg">
  <div class="container py-4">
    <div class="about-card">
      <h2 class="about-title">Refund and Cancellation Policy</h2>

      <h6 class="about-substitle">No Refund and No Cancellation Policy</h6>

      <p class="text-center">
      At <strong>Bokaro Steel People Welfare Association (BSPWA),</strong> we prioritize the integrity and sustainability of our association. Therefore, we have established a strict policy regarding refunds and cancellations.
      </p>

      <h6 class="about-substitle">Membership Fees:</h6>

      <p class="text-center">
        All membership fees, including those for <strong>Founder Members, Life Members, General Members, Associate Members, and Affiliate Members,</strong> are non-refundable. Once paid, these fees cannot be refunded under any circumstances.
      </p>

      <h6 class="about-substitle">Donations and Contributions:</h6>

      <p class="text-center">
        Donations and contributions made to the BSPWA are non-refundable. We appreciate your support and understanding that these funds are immediately put to use for the association’s activities and initiatives.
      </p>

      <h6 class="about-substitle">Event Registrations:</h6>

      <p class="text-center">
        Fees paid for event registrations, workshops, seminars, and other BSPWA events are non-refundable. Cancellations or non-attendance will not entitle participants to any form of refund.
      </p>

      <h6 class="about-substitle">Cancellations:</h6>

      <p class="text-center">
        Membership cancellations are not permitted. Once you become a member of BSPWA, your membership is valid for the period specified without the option for cancellation.
      </p>
      
      <p class="mb-0 text-center">
        By making a payment or donation to BSPWA, you acknowledge and accept this no refund and no cancellation policy. If you have any questions or require further clarification, please contact us.
      </p>
    </div>
  </div>
</div>
