.form-container {
  /* max-width: 900px; */
  margin: 30px 30px;
  padding: 20px;
  border-radius: 16px;
  /* background: #e9ecf0; */
  background: linear-gradient(to bottom, #fafafa, #aab6df);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-section {
  background-color: white;
  padding: 20px 30px;
  border-radius: 12px;
  border-left: 6px solid #3f51b5;
  box-shadow: 0 2px 12px rgba(63, 81, 181, 0.08);
}

.form-section h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #3f51b5;
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
}

/* .short-field {
   flex: 1 1 250px; 
  min-width: 250px; 
} */

.short-field {
  width: 200px; /* Or whatever width you want */
  min-width: 150px;
}

.middle-field {
  width: 630px; 
  min-width: 150px;
}

.big-field {
  width: 850px; 
  min-width: 150px;
}

/* .dependent-block {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  background-color: #f9f9f9;
} */

.dependent-block {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

/* Optional: section spacing */
.form-section {
  margin-bottom: 32px;
}

.button-container {
  margin-top: 15px;
  text-align: center; /* Aligns the button to the left */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
badge {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 0.95em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375em;
  }
  .badge-pending {
    color: #073fdb;
    background-color: #e9d188;
    padding: 5px;
  }
/* .button-container button {
  padding: 22px 10px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 8px;
} */

.head_size {
  font-size: 16px;
  color: rgb(37, 61, 12);
}