<div class="dashboard-container">
  <h2 class="text-center" style="margin-top: 4rem;">
    Welcome To <span class="brand-text">Bokaro Steel People Welfare Association</span>
  </h2>

  <div class="card-grid">
    <!-- Member Details Card -->
    <div class="dashboard-card" (click)="open_member()">
      <img src="/assets/images/icon/employees.png" width="40" alt="Member">
      <p><b>Member Details</b></p>
    </div>

    <!-- Subscription Deposit Card -->
    <div class="dashboard-card" (click)="open_deposit_subscription()">
      <img src="/assets/images/subscription_deposit.jpg" width="40" alt="Subscription Deposit">
      <p><b>Subscription Deposit</b></p>
    </div>

    <!-- Insurance Form Card -->
    <div class="dashboard-card" [matMenuTriggerFor]="insuranceMenu">
      <img src="/assets/images/icon/cashless-payment.png" width="40" alt="Insurance Details">
      <p style="display: flex; align-items: center; justify-content: center; gap: 5px;">
        <b>Insurance Details</b> <i class="pi pi-chevron-down" style="font-size: 0.8rem;"></i>
      </p>
    </div>

    <mat-menu #insuranceMenu="matMenu" class="custom-ins-menu">
      <button mat-menu-item (click)="open_stp_details()">
        <mat-icon color="primary">health_and_safety</mat-icon>
        <span>Super Topup Policy (STP)</span>
      </button>
      <button mat-menu-item (click)="open_child_policy()">
        <mat-icon color="primary">family_restroom</mat-icon>
        <span>Children Policy</span>
      </button>
    </mat-menu>

    <!-- Transaction History Card -->
    <div class="dashboard-card" [matMenuTriggerFor]="transactionMenu">
      <img src="/assets/images/icon/bill.png" width="40" alt="Transaction History">
      <p style="display: flex; align-items: center; justify-content: center; gap: 5px;">
        <b>Transaction History</b> <i class="pi pi-chevron-down" style="font-size: 0.8rem;"></i>
      </p>
    </div>

    <mat-menu #transactionMenu="matMenu" class="custom-ins-menu">
      <button mat-menu-item (click)="open_trn_history()">
        <mat-icon color="primary">calendar_month</mat-icon>
        <span>Subscription Deposit</span>
      </button>
      <button mat-menu-item (click)="open_stp_trn_history()">
        <mat-icon color="primary">shield</mat-icon>
        <span>Super Topup Policy</span>
      </button>
      <button mat-menu-item (click)="open_child_trn_history()">
        <mat-icon color="primary">group</mat-icon>
        <span>Children Policy</span>
      </button>
    </mat-menu>

    <!-- Download Ecard Card -->
    <div class="dashboard-card" (click)="open_e_card()">
      <img src="/assets/images/icon/card.png" width="40" alt="Download Ecard">
      <p><b>Download Ecard</b></p>
    </div>
  </div>
</div>