<h3 class="text-center"><b>Image Upload</b></h3>
<p-divider type="dashed"></p-divider>

<div class="flex flex-row">
  <div class="field col-12 md:col-6">
    <label for="own_img" class="size"><b>Member Photograph:<span
          class="text-red-700">(.JPG,.JPEG,.PNG) (Max file upload size : 1MB)</span></b></label>&nbsp;
    <div class="card flex justify-content-left">
      <p-toast></p-toast>
      <p-fileUpload name="own_file" (onSelect)="onUpload($event, 'O')" (onRemove)="onRemove($event, 'O')"
        [customUpload]="true" [multiple]="false" accept="image/*">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">   
              <ng-container *ngIf="file.size <= 1 * 1024 * 1024">
              {{ file.name }} - {{ file.size }} bytes
            </ng-container></li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
  </div>
  <div class="field col-12 md:col-6">
    <label for="spou_img" class="size"><b>Spouse Photograph:<span
          class="text-red-700">(.JPG,.JPEG,.PNG) (Max file upload size : 1MB)</span></b></label>&nbsp;
    <div class="card flex justify-content-left">
      <p-toast></p-toast>
      <p-fileUpload name="spouse_file" (onSelect)="onUpload($event, 'S')" [customUpload]="true" [multiple]="false"
        accept="image/*">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              <ng-container *ngIf="file.size <= 1 * 1024 * 1024">
                {{ file.name }} - {{ file.size }} bytes
              </ng-container>
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
  </div>
</div>