body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  height: 100%;
}
 

.sidebar {
  width: 20vw;
    height: 100vh;
    background: linear-gradient(to bottom, #fafafa, #aebadb);
    transition: width 0.3s ease;
    display: flex
;
    flex-direction: column;
    padding-top: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}


.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  /* display: flex; */
  align-items: center;
  padding: 13px 17px;
  color: #6a1b9a;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sidebar-menu li i {
  font-size: 18px;
  margin-right: 10px;
}

.sidebar-menu li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.label {
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.main-content {
  margin-left: 60px;
  padding: 2rem;
  height: 100vh;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.sidebar.expanded ~ .main-content {
  margin-left: 220px;
}


.menu-item {
  list-style: none;
  padding: 0.5rem;
  cursor: pointer;
}

.menu-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 12px;
  padding: 10px 16px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.menu-box:hover {
  background-color: #f0f8ff;
  transform: translateX(5px);
}

.menu-box i {
  font-size: 22;
  color: #6087b7;
}

.label {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
}
