<div class="header_top">
	<div class="wrapper_sm header_top_sub">
		<div class="header_top_left">
			<a routerLink="/" class="logo_sec"><img src="assets/images/logo.jpg" alt="" /></a>
		</div>
		<div class="header_top_right">
			<ul class="nav_sec">
				<!-- <li><a routerLink="/auth/member_login">Member Login</a></li> -->
				<li><a routerLink="/home/memb_form_home">MemberShip</a>
					<!-- <div class="dropdown-content">
						<a href="/auth/member_option1">General Membership</a>
						<a href="/auth/member_option2">Life Membership</a>
						<a href="/auth/member_option3">Associate Membership</a>
					</div> -->
				</li>
				<li><a routerLink="/home/insurance_form_home">Insurance</a></li>
				<!-- <li><a routerLink="/auth/login">Login</a></li> -->
				<!-- <li><a routerLink="/auth/login">Admin Login</a></li> -->
				<li><a routerLink="/home/login_details">Login</a></li>
			</ul>
		</div>
	</div>
</div>