<!-- <style>
	hr.custom-hr {
		width: 80%;
		/* Adjust this value to increase or decrease the width */
		margin: 20px auto;
		/* Centers the hr element and adds vertical space */
		border: 2px solid #000;
		/* Adjust the border thickness and color */
	}
</style> -->

<div class="header_top">
	<div class="wrapper_sm header_top_sub">
		<div class="header_top_left">
			<a routerLink="/" class="logo_sec"><img src="assets/images/logo.jpg" alt="" /></a> 
			
			<a class="open-menu btnResponsive" href="javascript:void(0)" role="button" (click)="openMenu()">
				<i class="fa fa-bars" aria-hidden="true"></i></a>
			


			<div #targetDiv class="sidebar" id="sidebar">
				<a class="open-menu closeBtnRes" href="javascript:void(0)" role="button" (click)="closeMenu()"><i class="fa fa-times" aria-hidden="true"></i></a>
				<ul class="nav_sec">
					<li><a routerLink="/home/memb_form_home">Membership</a></li>
					<li><a routerLink="/home/insurance_form_home">Insurance</a></li>
					<li><a routerLink="#">Sail Mediclaim</a></li>
					<li><a routerLink="/home/login_details">Login</a></li>
				</ul>
			</div>
			
			<!-- (Registered under TRUST ACT) -->
		</div>
		<div class="header_top_right">
			<ul class="nav_sec">
				<li><a routerLink="/home/memb_form_home">Membership</a></li>
				<li><a routerLink="/home/insurance_form_home">Insurance</a></li>
				<li><a routerLink="#">Sail Mediclaim</a></li>
				<li><a routerLink="/home/login_details">Login</a></li>
			</ul>
		</div>
	</div>
</div>