
<link rel="stylesheet" href="/assets/css/app_Admin.css" type="text/css" media="all">

<!-- <div class=""> -->
<app-header (event)="listneHeader($event)"></app-header>
<!-- </div> -->
<div class="sidemenu" [ngClass]="classSidemenu">
  <app-sidebar></app-sidebar>
</div>
<app-loader *ngIf="loader.isLoading | async"></app-loader>
<div class="content" [ngClass]="classContent">
  <p-progressBar *ngIf = "loader.isLoading | async"
    mode="indeterminate"
    [style]="{ height: '4px' }"
  ></p-progressBar>
  <router-outlet></router-outlet>
</div>
