.print_Section{color: #000;}

.print_Section h4{font-size: 16px; color: #000; margin: 0 0 15px 0; padding: 0;}
.print_Section p{font-size: 16px; line-height: 20px; color: #000; font-size: 14px; line-height: 23px; margin: 0 0 25px 0; padding: 0;}
.print_Section p span.perple{color: rgb(55, 55, 230);}

.print_Section h3{font-size: 20px;
  color: #000;
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: 700;}

.print_Section table{margin: 0 !important; width: 100% !important;}

.print_Section ul.print_ul{list-style-type: none;}
.print_Section ul.print_ul li{font-size: 16px; color: #000; margin: 0 0 6px 0; padding: 0;}
.print_Section ul.print_ul li .li_Span{color: rgb(55, 55, 230); font-weight: 700;}
.print_Section table.table_space_cus td span{color: rgb(55, 55, 230); font-weight: 700;}
.print_Section table.table_space_cus th span{color: rgb(55, 55, 230); font-weight: 700;}
.print_Section table.table_space_cus td.table_td_70{width: 70%;}
.print_Section table.table_space_cus td.table_td_30{width: 30%;}

.print_Section table.table_space_cus td.table_td_5{width:5%;}
.print_Section table.table_space_cus td.table_td_55{width:50%;}
.print_Section table.table_space_cus td.table_td_20{width:20%;}
/* .print_Section table.table_space_cus td.table_td_20{width:20%;} */

.print_Section table.table_space_cus td{font-size: 14px;}
.print_Section table.table_space_cus th{font-size: 14px;}

.print_Section table.table_space_cus td.no_pading{padding: 0;}

.textAlign_left{text-align: left;}
.textAlign_right{text-align: right;}

tr.table_head_cus td{background: #333; color:#fff;font-size: 14px;}
tr.table_head_cus th{background: #333; color:#fff;font-size: 14px;}