<p-card>
  <div class="row align-items-center">
    <h3 class="flex align-items-center">
      <i class="pi pi-lock"></i>&nbsp;
      <b>Change Password</b>
    </h3>
  </div>

  <form [formGroup]="form">
    <div class="formgrid grid mt-4">
      <div class="field col-12 md:col-4 relative">
        <label for="old_pass" class="label_field"><b>Old Password:</b></label>&nbsp;
        
        <div class="relative">
          <input id="old_pass" 
                 [type]="showOldPassword ? 'text' : 'password'" 
                 formControlName="old_pass" 
                 placeholder="Enter old Password"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full pr-10" />
    
          <i class="fas" 
             [ngClass]="showOldPassword ? 'fa-eye-slash' : 'fa-eye'" 
             (click)="togglePassword('old')"
             style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer; color: #666;">
          </i>
        </div>
      </div>
      <div class="field col-12 md:col-4 relative">
        <label for="new_pass" class="label_field"><b>New Password:</b></label>&nbsp;
        
        <div class="relative">
          <input id="new_pass" 
                 [type]="showNewPassword ? 'text' : 'password'" 
                 formControlName="new_pass" 
                 placeholder="Enter new Password"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full pr-10" />
    
          <i class="fas" 
             [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'" 
             (click)="togglePassword('new')"
             style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer; color: #666;">
          </i>
        </div>
        <div *ngIf="m['new_pass'].errors && m['new_pass'].touched">
          <div *ngIf="m['new_pass'].errors['required']" class="text-red-500">
            Password is required.
          </div>
          <div *ngIf="m['new_pass'].errors['minlength']" class="text-red-500">
            Password must be at least 10 characters long.
          </div>
          <div *ngIf="m['new_pass'].errors['pattern']" class="text-red-500">
            Password must contain at least one letter, one number, and one special character.
          </div>
        </div>

      </div>
      <div class="field col-12 md:col-4 relative">
        <label for="con_pass" class="label_field"><b>Confirm Password:</b></label>&nbsp;
        
        <div class="relative">
          <input id="con_pass" 
                 [type]="showConfirmPassword ? 'text' : 'password'" 
                 formControlName="con_pass" 
                 placeholder="Enter confirm Password"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full pr-10" />
    
          <i class="fas" 
             [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'" 
             (click)="togglePassword('confirm')"
             style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer; color: #666;">
          </i>
        </div>
        <div *ngIf="m['con_pass'].errors?.['mismatch'] && m['con_pass'].touched" class="text-red-500">
          Password does not match.
        </div>
      </div>
    </div>
    
    <div class="formgrid grid mt-4">
      <div class="field col-12 flex justify-content-center">
        <!-- <p-button class="add_btn" label="Submit" styleClass="p-button-rounded p-button-text p-button-raised"
          [style]="{'background-color': 'rgb(140 202 231)', 'border-color': '#50b0dd', 'color': '#ffff', 'margin-left': '32vw'}"
          (click)="password_change_member()"></p-button> -->
          <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="password_change_member()">Submit</button>
      </div>
    </div>
  </form>

</p-card>