<p-card>
  <div class="row align-items-center">
    <h3 class="flex align-items-center">
      <i class="pi pi-lock"></i>&nbsp;
      <b>Change Password</b>
    </h3>
  </div>

  <form [formGroup]="form">
    <div class="formgrid grid mt-4">
      <div class="field col-12 md:col-4">
        <label for="old_pass" class="label_field"><b>Old Password:</b></label>&nbsp;
        <input id="old_pass" type="text" formControlName="old_pass" placeholder="Enter old Password"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
      </div>
      <div class="field col-12 md:col-4">
        <label for="new_pass" class="label_field"><b>New Password:</b></label>&nbsp;
        <input id="new_pass" type="text" formControlName="new_pass" placeholder="Enter new Password"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
      </div>
      <div class="field col-12 md:col-4">
        <label for="con_pass" class="label_field"><b>Confirm Password:</b></label>&nbsp;
        <input id="con_pass" type="text" formControlName="con_pass" placeholder="Enter confirm Password"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
      </div>
    </div>
    <div class="formgrid grid mt-4">
      <div class="field col-12 md:col-6">
        <p-button class="add_btn" label="Submit" styleClass="p-button-rounded p-button-text p-button-raised"
          [style]="{'background-color': 'rgb(140 202 231)', 'border-color': '#50b0dd', 'color': '#ffff', 'margin-left': '32vw'}"
          (click)="password_change_member()"></p-button>
      </div>
    </div>
  </form>

</p-card>