<div class="bg-container">
  <p-card [style]="{'width': '75vw', 'margin': '0 auto', 'border-left': '6px solid #3f51b5', 'border-radius': '12px', 'overflow': 'hidden'}">
    <div class="flex align-items-center mb-3">
      <h3 class="title_h3 m-0" style="margin-top: 0; padding-left: 0;">
        <i class="pi pi-hourglass menu-icon"></i>&nbsp;
        <b>Subscription Deposit</b>
      </h3>
    </div>

    <form [formGroup]='entryForm' class="subscrip_dtl">
      <p-divider type="dashed"></p-divider>

      <h3 class="title_h3">User Details</h3>
      <p>
        <label class="font-semibold text-lg">Member Name: </label>
        <label><b>{{userData?.memb_name}}</b></label>
      </p>
      <p>
        <label class="font-semibold text-lg">Member ID: </label>
        <label><b>{{userData?.member_id}}</b></label>
      </p>
      <p>
        <label class="font-semibold text-lg">Member Type: </label>
        <label><b>{{memberType[userData?.mem_type]}}</b></label>
      </p>
      <p>
        <label class="font-semibold text-lg">Subscription Upto: </label>
        <label><b>{{userData?.subscription_upto | date: 'MM-yyyy'}}</b></label>
      </p>
      <p *ngIf="userData?.calc_amt > 0">
        <label><b>Opening: </b></label>
        <label><b>{{ userData?.calc_amt }}</b></label>
      </p>
      <p-divider type="dashed"></p-divider>

      <h3 class="title_h3">Subscription Details</h3>
      <div class="formgrid grid mt-1">
        <div class="field col-12 md:col-10">
          <label for="subs_amt" style="color: black"><b>Subscription Fee</b></label>
          <div class="flex gap-3 align-items-start mt-1">
            <div class="flex flex-column" style="width: 350px;">
              <input id="subs_amt" type="number" formControlName="subs_amt" placeholder="Enter subscription fee...."
                class="form-control" />

              <div *ngIf="f['subs_amt'].dirty || f['subs_amt'].touched || f['subs_amt'].errors" class="error-message">
                <small class="text-red-700" *ngIf="f['subs_amt'].hasError('invalidAmount')">
                  Please enter a subscription fee greater than zero.
                </small>
                <small class="text-red-700" *ngIf="f['subs_amt'].hasError('notDivisibleBySubFee')">
                  Please enter a valid Subscription fee it is required.
                </small>
                <small class="text-red-700" *ngIf="f['subs_amt'].hasError('invalidSubscriptionFee')">
                  Invalid subscription fee.
                </small>
              </div>
            </div>
            
            <button pButton pRipple type="button" label="Continue" class="p-button-raised sub_btn" (click)="save()"
              [disabled]="f['subs_amt'].invalid"></button>
          </div>
        </div>
      </div>
    </form>
  </p-card>
</div>