.color{
    color: #3B82F6
}

/* Hide the close (X) button in header */
::ng-deep .p-dialog .p-dialog-header-icon {
  display: none !important;
}

/* Optional: hide the header bar entirely */
::ng-deep .p-dialog .p-dialog-header {
  display: none !important;
}

/* Blur + darken background overlay */
::ng-deep .ui-dialog-mask, 
::ng-deep .p-dialog-mask {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
}

