<p-card>
  <div class="row align-items-center">
    <h3 class="flex align-items-center">
      <i class="pi pi-hourglass menu-icon"></i>&nbsp;
      <b>Subscription Deposit</b>
    </h3>

    <!-- <p-divider type="dashed"></p-divider> -->
    <!-- <h4 class="color">*Scan the QR code to make payment through UPI. If payment is successful put the UPI
      transaction ID and phone no,
      through which the payment is made and then click on Save.</h4> -->
  </div>

  <form [formGroup]='entryForm'>
    <p-divider type="dashed"></p-divider>

    <h3 class="text-center" style="color: black;">User Details</h3>
    <p>
      <label class="font-semibold text-lg">Member Name: </label>
      <label>{{userData?.memb_name}}</label>
    </p>
    <p>
      <label class="font-semibold text-lg">Member ID: </label>
      <label>{{userData?.member_id}}</label>
    </p>
    <p>
      <label class="font-semibold text-lg">Member Type: </label>
      <label>{{memberType[userData?.mem_type]}}</label>
    </p>
    <p>
      <label class="font-semibold text-lg">Subscription Upto: </label>
      <label>{{userData?.subscription_upto | date: 'MM-yyyy'}}</label>
    </p>
    <!-- <p>
      <label class="font-semibold text-lg">Opening: </label>
      <label>{{userData?.calc_amt}}</label>
    </p> -->
    <p *ngIf="userData?.calc_amt > 0">
      <label><b>Opening: </b></label>
      <label>{{ userData?.calc_amt }}</label>
    </p>
    <p-divider type="dashed"></p-divider>

    <h3 class="text-center" style="color: black;">Subscription Details</h3>
    <div class="formgrid grid mt-1">
      <div class="field col-12 md:col-6">
        <label for="subs_amt" style="color: black"><b>Subscription Fee</b></label>
        <input 
          id="subs_amt" 
          type="number" 
          formControlName="subs_amt" 
          placeholder="Enter subscription fee...."
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" 
        />
        
        <div *ngIf="f['subs_amt'].dirty || f['subs_amt'].touched || f['subs_amt'].errors" class="error-message">
          <small class="text-red-700" *ngIf="f['subs_amt'].hasError('invalidAmount')">
            Please enter a subscription fee greater than zero.
          </small>
          <small class="text-red-700" *ngIf="f['subs_amt'].hasError('notDivisibleBySubFee')">
            Please enter a valid Subscription fee it is required.
          </small>
          <small class="text-red-700" *ngIf="f['subs_amt'].hasError('invalidSubscriptionFee')">
            Invalid subscription fee.
          </small>
        </div>
      </div>
    </div>
    <p-divider type="dashed"></p-divider>

    <!-- <h4 class="text-center" style="color: black;">Payment</h4> -->
    <!-- <div class="flex flex-row">
      <div class="field col-12 md:col-12 text-center">
        <img src="/assets/images/BOKAROWELFARE.jpg" width="30%" height="auto" alt="">
      </div>
    </div> -->

    <!-- <div class="flex flex-row">
      <div class="field col-6 md:col-6">
        <label for="receipt_no" style="color: black"><b>UPI TRansaction ID<span
              class="text-red-700">*</span></b></label>
        <input id="receipt_no" type="text" formControlName="receipt_no" placeholder="Enter UPI TRansaction ID...."
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        <div *ngIf="f['receipt_no']?.touched || f['receipt_no']?.dirty">
          <small class="text-red-900" *ngIf="f['receipt_no']?.errors">Receipt No is required.</small>
        </div>
      </div>
      <div class="field col-6 md:col-6">
        <label for="phone_no" style="color: black"><b>UPI Phone No<span class="text-red-700">*</span></b></label>
        <input id="phone_no" type="text" formControlName="phone_no" placeholder="Enter UPI Phone No...."
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        <div *ngIf="f['phone_no']?.touched || f['phone_no']?.dirty">
          <small class="text-red-900" *ngIf="f['phone_no']?.errors">Phone No is required.</small>
        </div>
      </div>
    </div> -->

    <!-- <input type="hidden" name="trans_id" value="userData?trans_id"> -->

    <div class="flex flex-row">
      <button pButton pRipple type="button" label="Continue" class="p-button-raised sub_btn" (click)="save()" [disabled]="f['subs_amt'].invalid"></button>
    </div>
  </form>
</p-card>