<div class="about-bg">
  <div class="container py-4">
    <div class="about-card">
      <h2 class="about-title">Delivery & Shipping Policy</h2>

      <p class="text-center">
      At the <strong>BOKARO STEEL PEOPLE WELFARE ASSOCIATION,</strong> our primary focus is on financial services, welfare initiatives, and community support for our members. As such, we do not engage in the sale, shipping, or delivery of physical goods. All services provided by the Society, the BOSEC Welfare Trust, and the Bokaro Steel People Welfare Association are related to member welfare, financial assistance, and community activities. Any documentation or communication related to membership, benefits, or services will be provided electronically or through direct personal contact. We appreciate your understanding and encourage you to reach out to us directly if you have any questions or require further information about our services.
      </p>
     
    </div>
  </div>
</div>
