<div class="change-password-container">
  <div class="change-password-box">
    <h2 style="display: flex; justify-content: center; align-items: center;">
      <i class="pi pi-arrow-left" style="cursor: pointer; color: #1b3c66; margin-right: 15px; font-size: 1.4rem; font-weight: bold;" (click)="back()" title="Back"></i>
      <span><a class="heading" style="cursor: pointer; color: #1b3c66;" (click)="back()">Fees Type</a> / Add Fees Type</span>
    </h2>

    <div class="row mt-5">
      <div class="form-field" [ngClass]="disable ? 'col-12' : 'col-4'">
        <mat-form-field appearance="outline" class="status-field">
          <mat-label class="color">Member Type</mat-label>
          <mat-select [(ngModel)]="selectedValue" (selectionChange)="onDropdownChange($event)" [disabled]="disable">
            <mat-option value="">Select Membership</mat-option>
            <mat-option value="G"><b>General Membership</b></mat-option>
            <mat-option value="L"><b>Life Membership</b></mat-option>
            <mat-option value="AI"><b>Associate Membership</b></mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <form [formGroup]="genForm" *ngIf="selectedValue === 'G'" style="display: contents;">
        <div class="form-field col-4">
          <mat-form-field appearance="outline">
            <mat-label class="color">Effective Date</mat-label>
            <input matInput type="date" formControlName="effect_dt" />
          </mat-form-field>
        </div>
        <div class="form-field col-4">
          <mat-form-field appearance="outline">
            <mat-label class="color">Admission Fee</mat-label>
            <input matInput type="number" formControlName="admissionFee" placeholder="Enter admission fee...." />
          </mat-form-field>
        </div>
        <div class="form-field col-4">
          <mat-form-field appearance="outline">
            <mat-label class="color">Donation Fee</mat-label>
            <input matInput type="number" formControlName="donationFee" placeholder="Enter donation fee...." />
          </mat-form-field>
        </div>
        <div class="form-field col-4">
          <mat-form-field appearance="outline">
            <mat-label class="color">Subscription Fee</mat-label>
            <input matInput type="number" formControlName="subscriptionFee" placeholder="Enter subscription fee...." />
          </mat-form-field>
        </div>
        <div class="form-field col-4">
          <mat-form-field appearance="outline" class="status-field">
            <mat-label class="color">Subscription Type</mat-label>
            <mat-select formControlName="subscriptionType">
              <mat-option value="">Select Subscription</mat-option>
              <mat-option value="M">Monthly</mat-option>
              <mat-option value="Y">Yearly</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 mt-3" style="display: flex; justify-content: center;">
          <button mat-raised-button color="primary" (click)="add_gen()">Submit</button>
        </div>
      </form>

      <form [formGroup]="lifeForm" *ngIf="selectedValue === 'L'" style="display: contents;">
        <div class="form-field col-4">
          <mat-form-field appearance="outline">
            <mat-label class="color">Effective Date</mat-label>
            <input matInput type="date" formControlName="effect_date" />
          </mat-form-field>
        </div>
        <div class="form-field col-4">
          <mat-form-field appearance="outline">
            <mat-label class="color">One time Subscription</mat-label>
            <input matInput type="number" formControlName="sub_fee_2" placeholder="Enter subscription fee...." />
          </mat-form-field>
        </div>
        <div class="form-field col-4">
          <mat-form-field appearance="outline">
            <mat-label class="color">Yearly Subscription Fee</mat-label>
            <input matInput type="number" formControlName="sub_fee" placeholder="Enter subscription fee...." />
          </mat-form-field>
        </div>
        <div class="col-12 mt-3" style="display: flex; justify-content: center;">
          <button mat-raised-button color="primary" (click)="add_life()">Submit</button>
        </div>
      </form>

      <form [formGroup]="assoForm" *ngIf="selectedValue === 'AI'" style="display: contents;">
        <div class="form-field col-4">
          <mat-form-field appearance="outline">
            <mat-label class="color">Effective Date</mat-label>
            <input matInput type="date" formControlName="eff_dt" />
          </mat-form-field>
        </div>
        <div class="form-field col-4">
          <mat-form-field appearance="outline">
            <mat-label class="color">One time Subscription Fee</mat-label>
            <input matInput type="number" formControlName="subs_fee_2" placeholder="Enter Subscription fee...." />
          </mat-form-field>
        </div>
        <div class="form-field col-4">
          <mat-form-field appearance="outline">
            <mat-label class="color">Admission Fee</mat-label>
            <input matInput type="number" formControlName="ad_fee" placeholder="Enter admission fee...." />
          </mat-form-field>
        </div>
        <div class="col-12 mt-3" style="display: flex; justify-content: center;">
          <button mat-raised-button color="primary" (click)="add_asso()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>