.change-password-container {
  min-height: 80vh;
  padding: 30px;
  background: linear-gradient(135deg, #6a8cc7, #cfd8ea);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 14px;
}

.change-password-box {
  background: #fff;
  padding: 30px 40px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  width: 100%;
  max-width: 1100px;
}

h3 {
  text-align: center;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
  justify-content: center;
}

.editLink {
  color: #1b3c66;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.3s;
}

.editLink:hover {
  color: #50b0dd;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: rgb(123, 163, 199) !important;
  color: white !important;
  padding: 1rem;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem;
}