<div class="change-password-container">
  <div class="change-password-box">
    <h2 style="display: flex; justify-content: center; align-items: center;">
      <i class="pi pi-lock" style="color: #1b3c66; margin-right: 15px; font-size: 1.4rem; font-weight: bold;"></i>
      <span style="color: #1b3c66;">Change Password</span>
    </h2>

    <form [formGroup]="form" class="mt-5">
      <div class="row">
        <div class="form-field col-4">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label class="color">Old Password</mat-label>
            <input matInput type="text" formControlName="old_pass" placeholder="Enter old Password" />
          </mat-form-field>
        </div>
        <div class="form-field col-4">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label class="color">New Password</mat-label>
            <input matInput type="text" formControlName="new_pass" placeholder="Enter new Password" />
          </mat-form-field>
        </div>
        <div class="form-field col-4">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label class="color">Confirm Password</mat-label>
            <input matInput type="text" formControlName="con_pass" placeholder="Enter confirm Password" />
          </mat-form-field>
        </div>
      </div>
      
      <div class="row mt-4">
        <div class="col-12" style="display: flex; justify-content: center;">
          <button mat-raised-button color="primary" (click)="password_change_superadmin()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>