<div class="background">
  <div class="form-container">
    <p-card>
      <!-- <p-steps [model]="items" [readonly]="false"></p-steps> -->
      <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
      <p-divider type="dashed"></p-divider>

      <ng-container *ngIf="activeIndex === 0">
        <h3 class="text-center"><b>Personal Information</b></h3>
        <p-divider type="dashed"></p-divider>

        <form [formGroup]="form">
          <div class="flex flex-row">
            <div class="field col-12 md:col-12">
              <label for="form_dt" class="label_field"><b>Date:<span class="text-red-700">*</span></b></label>&nbsp;
              <input id="form_dt" type="date" formControlName="form_dt" placeholder="dd/MM/yyyy" [max]="maxDate"
                class="box_input text-2xl text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              <div *ngIf="f['form_dt']?.touched || f['form_dt']?.dirty">
                <small class="text-red-900" *ngIf="f['form_dt']?.errors">Date is required.</small>
              </div>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <label for="member_type" class="label_field"><b>Member Type:</b></label>&nbsp;
              <input id="member_type" type="text" formControlName="member_type" placeholder="Enter Blood Group"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col-12 md:col-4">
              <label for="member_opt" class="label_field"><b>Member Operation:<span
                    class="text-red-700">*</span></b></label>&nbsp;
              <select id="member_opt" formControlName="member_opt"
                class="w-full text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                style="appearance: auto; height: 3vw; border-radius: 7px">
                <option value="">Select Operation</option>
                <option value="S">Self</option>
                <option value="J">Joint</option>
              </select>
              <div *ngIf="f['member_opt']?.touched || f['member_opt']?.dirty">
                <small class="text-red-900" *ngIf="f['member_opt']?.errors">Member Operation is required.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="unit_nm" class="label_field"><b>Unit Name:<span
                    class="text-red-700">*</span></b></label>&nbsp;
              <select id="unit_nm" formControlName="unit_nm"
                class="w-full text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                style="appearance: auto; height: 3vw; border-radius: 7px">
                <option value="">Select Unit Name</option>
                <option *ngFor="let option of responsedata" [value]="option.unit_id">{{ option.unit_name }}</option>
                <!-- <option value="1">Bokaro Steel Plant</option>
          <option value="2">Bhilai Steel Plant</option>
          <option value="3">Rourkela Steel Plant</option>
          <option value="4">Alloy Steels Plant</option>
          <option value="5">Durgapur Steel Plant</option>
          <option value="6">IISCO Steel Plant</option>
          <option value="7">Salem Steel Plant</option>
          <option value="8">Central Marketing Organisation</option>
          <option value="9">RDCIS Ranchi</option>
          <option value="10">SAIL Corporate Office</option> -->
              </select>
              <div *ngIf="f['unit_nm']?.touched || f['unit_nm']?.dirty">
                <small class="text-red-900" *ngIf="f['unit_nm']?.errors">Unit Name is required.</small>
              </div>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <label for="member" class="label_field"><b>Member Name:<span
                    class="text-red-700">*</span></b></label>&nbsp;
              <input id="member" type="text" formControlName="member" placeholder="Enter Member name"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              <div *ngIf="f['member']?.touched || f['member']?.dirty">
                <small class="text-red-900" *ngIf="f['member']?.errors">Member Name is required.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="gurdian" class="label_field"><b>Father's / Husband Name:<span
                    class="text-red-700">*</span></b></label>&nbsp;
              <input id="gurdian" type="text" formControlName="gurdian" placeholder="Enter Father / Husband name"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              <div *ngIf="f['gurdian']?.touched || f['gurdian']?.dirty">
                <small class="text-red-900" *ngIf="f['gurdian']?.errors">Gurdian Name is required.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="gen" class="label_field"><b>Gender:<span class="text-red-700">*</span></b></label>&nbsp;
              <select id="gen" formControlName="gen"
                class="w-full text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                style="appearance: auto; height: 3vw; border-radius: 7px">
                <option value="">Select Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
              <div *ngIf="f['gen']?.touched || f['gen']?.dirty">
                <small class="text-red-900" *ngIf="f['gen']?.errors">Gender is required.</small>
              </div>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <label for="marital_status" class="label_field"><b>Marital Status:</b></label>&nbsp;
              <select id="marital_status" formControlName="marital_status"
                class="w-full text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                style="appearance: auto; height: 3vw; border-radius: 7px">
                <option value="">Select Marital Status</option>
                <option value="M">Married</option>
                <option value="U">Unmarried</option>
                <option value="W">Widow</option>
                <option value="D">Divorced</option>
              </select>
            </div>
            <div class="field col-12 md:col-4">
              <label for="gen_dob" class="label_field"><b>DOB:<span class="text-red-700">*</span></b></label>&nbsp;
              <input id="gen_dob" type="date" formControlName="gen_dob" placeholder="dd/MM/yyyy"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              <div *ngIf="f['gen_dob']?.touched || f['gen_dob']?.dirty">
                <small class="text-red-900" *ngIf="f['gen_dob']?.errors">DOB is required.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="phone" class="label_field"><b>Whatsapp Phone No:<span
                    class="text-red-700">*</span></b></label>&nbsp;
              <input id="phone" type="text" formControlName="phone" maxlength="10" placeholder="Enter Phone No"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              <div *ngIf="f['phone']?.touched || f['phone']?.dirty">
                <small class="text-red-900" *ngIf="f['phone']?.errors">Phone No is required.</small>
              </div>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <label for="email_id" class="label_field"><b>Email ID:</b></label>&nbsp;
              <input id="email_id" type="text" formControlName="email_id" placeholder="Enter Email ID"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col-12 md:col-4">
              <label for="blood" class="label_field"><b>Blood Group:<span
                    class="text-red-700">*</span></b></label>&nbsp;
              <select id="blood" formControlName="blood"
                class="w-full text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                style="appearance: auto; height: 3vw; border-radius: 7px">
                <option value="">Select Blood Group</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
              </select>
              <div *ngIf="f['blood']?.touched || f['blood']?.dirty">
                <small class="text-red-900" *ngIf="f['blood']?.errors">Blood Group is required.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="caste" class="label_field"><b>Caste:</b></label>&nbsp;
              <select id="caste" formControlName="caste"
                class="w-full text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                style="appearance: auto; height: 3vw; border-radius: 7px">
                <option value="">Select Caste</option>
                <option value="G">General</option>
                <option value="S">SC</option>
                <option value="T">ST</option>
                <option value="O">Others</option>
              </select>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <label for="staff" class="label_field"><b>Staff No:<span class="text-red-700">*</span></b></label>&nbsp;
              <input id="staff" type="text" formControlName="staff" placeholder="Enter Staff No"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              <div *ngIf="f['staff']?.touched || f['staff']?.dirty">
                <small class="text-red-900" *ngIf="f['staff']?.errors">Staff No is required.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="personal" class="label_field"><b>Personal No:<span
                    class="text-red-700">*</span></b></label>&nbsp;
              <input id="personal" type="text" formControlName="personal" placeholder="Enter Personal No"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              <div *ngIf="f['personal']?.touched || f['personal']?.dirty">
                <small class="text-red-900" *ngIf="f['personal']?.errors">Personal No is required.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="min" class="label_field"><b>MIN No:</b></label>&nbsp;
              <input id="min" type="text" formControlName="min" placeholder="Enter MIN No"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
          </div>

          <p-divider type="dashed"></p-divider>
          <h3 class="text-center"><b>Residential Information</b></h3>
          <p-divider type="dashed"></p-divider>

          <div class="flex flex-row">
            <div class="field col-12">
              <label for="mem" class="label_field"><b>Member Address:<span
                    class="text-red-700">*</span></b></label>&nbsp;
              <textarea id="mem" formControlName="mem" type="text" rows="3"
                class="text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
              <div *ngIf="f['mem']?.touched || f['mem']?.dirty">
                <small class="text-red-900" *ngIf="f['mem']?.errors">Member Adress is required.</small>
              </div>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <label for="city" class="label_field"><b>City / Town / District:</b></label>&nbsp;
              <input id="city" type="text" formControlName="city" placeholder="Enter City/Town/District"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col-12 md:col-4">
              <label for="pin" class="label_field"><b>PIN Code:<span class="text-red-700">*</span></b></label>&nbsp;
              <input id="pin" type="number" formControlName="pin" placeholder="Enter PIN Code"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              <div *ngIf="f['pin']?.touched || f['pin']?.dirty">
                <small class="text-red-900" *ngIf="f['pin']?.errors">PIN Code is required.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="police_st" class="label_field"><b>Police Station:</b></label>&nbsp;
              <input id="police_st" type="text" formControlName="police_st" placeholder="Enter Police Station"
                class="box_input text-2xl text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
          </div>
        </form>

        <button pButton pRipple type="button" label="Next" class="p-button-raised sub_btn" (click)="next()"
          [disabled]="!form.valid"></button>

      </ng-container>

      <ng-container *ngIf="activeIndex === 1">
        <app-spouse_info [form]="form_1"></app-spouse_info>
        <div class="field col-12 md:col-6">
          <button pButton pRipple type="button" label="Previous" class="p-button-raised sub_btn"
            (click)="previous()"></button>&nbsp;
          <button pButton pRipple type="button" label="Next" class="p-button-raised sub_btn" (click)="next()"
            [disabled]="!form_1.valid"></button>
        </div>
        <!-- <button
      pButton
      type="button"
      label="Previous"
      (click)="previous()"
    ></button> -->
        <!-- <button pButton type="button" label="Next" (click)="next()"></button> -->
      </ng-container>

      <ng-container *ngIf="activeIndex === 2">
        <app-gen_dep_form [form]="form_2"></app-gen_dep_form>
        <div class="field col-12 md:col-6">
          <button pButton pRipple type="button" label="Previous" class="p-button-raised sub_btn"
            (click)="previous()"></button>&nbsp;
          <button pButton pRipple type="button" label="Next" class="p-button-raised sub_btn" (click)="next()"
            [disabled]="!form_2.valid"></button>
          <!-- <button
      pButton
      pRipple
      type="button"
      label="Submit"
      class="p-button-raised sub_btn"
      (click)="submit()"
    ></button> -->
        </div>
        <!-- <button pButton type="button" label="Submit" (click)="submit()"></button> -->
      </ng-container>

      <ng-container *ngIf="activeIndex === 3">
        <app-gen_img_upload (fileSelected)="onFileSelected($event)"></app-gen_img_upload>
        <div class="field col-12 md:col-6">
          <button pButton pRipple type="button" label="Previous" class="p-button-raised sub_btn"
            (click)="previous()"></button>&nbsp;
          <button pButton pRipple type="button" label="Next" class="p-button-raised sub_btn" (click)="next()"></button>
        </div>
      </ng-container>

      <ng-container *ngIf="activeIndex === 4">
        <app-life_fee_form [form]="form_4"></app-life_fee_form>
        <div class="field col-12 md:col-6">
          <button pButton pRipple type="button" label="Previous" class="p-button-raised sub_btn"
            (click)="previous()"></button>&nbsp;
          <button pButton pRipple type="button" label="Submit" class="p-button-raised sub_btn"
            (click)="successNotification()"></button>
        </div>
      </ng-container>
    </p-card>
  </div>
</div>
<style>
  .swal2-icon-show {
    right: -40% !important;
    top: 10px !important;
  }
</style>