<style>
  table {
    width: 96%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* tr:hover {
      background-color: #ddd;
  } */
  th,
  td {
    padding: 15px;
    text-align: left;
  }

  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  .view{
    margin-left: 55vw;
  }
 .color_app{
  color: rgb(21, 206, 21)
 }
 .color_head{
  color: rgb(24, 23, 23)
 }
.status-box {
background-color: #f8f9fa;
    border: 4px solid #dee2e6;
    padding: 12px 16px;
    border-radius: 6px;
    max-width: 250px;
    font-size: 19px;
    box-shadow: 0 2px 4px rg;
    margin-left: 55vw
}

.status-box h6 {
  margin: 6px 0;
  font-weight: 500;
  line-height: 1.3;
}

.color_rej {
  color: #d9534f;
  font-weight: bold;
}
</style>


<p-card id="divToPrint">
  <div class="row" *ngIf="stpinfo?.form_status === 'A'">
    <div class="col-12 d-flex justify-content-end">
      <div class="status-box">      
      <h6>Form No : <span class="color_app">{{stpinfo?.form_no}}</span></h6>
      <h6>Status : <span class="color_app">{{stpinfo?.form_status == 'A' ? 'Approved' : ''}}</span></h6>
      <h6>Resolution No : <span class="color_app">{{stpinfo?.resolution_no}}</span></h6>
      <h6>Transaction Date : <span class="color_app">{{stpinfo?.form_dt | date:'dd-MM-yyyy'}}</span></h6>
      <h6>Premium Amount : <span class="color_app">{{stpinfo?.premium_amt}}</span></h6>
       <h6>Approved Date : <span class="color_app">{{stpinfo?.approve_at | date:'dd-MM-yyyy'}}</span></h6>
      <h6>Approved By : <span class="color_app">{{stpinfo?.approve_by}}</span></h6>
      </div>
    </div>
  </div>
<div class="row" *ngIf="stpinfo?.form_status === 'R'">
  <div class="col-12 d-flex justify-content-end">
    <div class="status-box">
      <h6>Status: <span class="color_rej">{{ stpinfo?.form_status == 'R' ? 'Reject' : '' }}</span></h6>
      <h6>Resolution No: <span class="color_rej">{{ stpinfo?.resolution_no }}</span></h6>
      <h6>Remarks: <span class="color_rej">{{ stpinfo?.remarks }}</span></h6>
      <h6>Rejected Date: <span class="color_rej">{{ stpinfo?.rejected_dt | date:'dd-MM-yyyy' }}</span></h6>
      <h6>Rejected By: <span class="color_rej">{{ stpinfo?.rejected_by }}</span></h6>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-12">
      <h5 class="letter" style="color: black">TO</h5>
      <h5 class="letter" style="color: black">The Secreatry</h5>
      <h5 class="letter" style="color: black">
        BOSEC WELFARE TRUST
      </h5>
      <h5 class="letter" style="color: black">13 CAMAC STREET,</h5>
      <h5 class="letter" style="color: black">KOLKATA 700017</h5>
      <h5 class="letter mt-3" style="color: black">(Through: <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.mem_type ==
            'G' ? 'General Membership' :
            stpinfo?.mem_type == 'L' ? 'Life
            membership' : ''}}</u></span>)</h5>
      <h5 class="letter" style="color: black">Dear Sir,</h5>
      <h5 class="size mt-3" style="color: black">
        This is to inform you that the under signed is the member of <span
          style="color: rgb(55, 55, 230);"><u>{{stpinfo?.mem_type == 'G' ? 'General
            Membership' : stpinfo?.mem_type == 'L' ? 'Life
            membership' : ''}}</u></span> of <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.policy_holder_type == 'M' ? 'BSPWA Member' : 'Member Of Other Sail Association'}}</u></span> having membership no.
        <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.member_id}}</u></span> and MIN No <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.min_no}}</u></span> and
        Superannuated from <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.unit_name}}</u></span> on <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.form_dt | date: 'dd-MM-yyyy'}}</u></span>. My SAIL
        PERSONNEL NO. is <span style="color: rgb(55, 55, 230);"><u>{{stpinfo?.personel_no}}</u></span>.
        I am interested to join in the scheme of super top up policy with the UNITED INDIA INSURANCE CO LTD for the year
        subject to premium and other term. The details of the undersigned are as under:
      </h5>
    </div>
  </div>

  <div class="row">
    <table class="table_space">
      <tr class="table_head_cus">
        <th class="text-center">
          <label for="status"><b>STATUS</b></label>
        </th>
        <!-- <th class="text-center">
          <label for="status"><b>NAME</b><span class="span_space"></span></label>
        </th> -->
        <th class="text-center">
          <b>NAME</b>
        </th>
        <th class="text-center">
          <b>MIN NO</b>
        </th>
        <th class="text-center">
          <b>DOB</b>
        </th>
        <th class="text-center">
          <b>MOBILE NO</b>
        </th>
        <th class="text-center">
          <b>ADDRESS</b>
        </th>
      </tr>

      <tr>
        <th class="text-center"><span style="color: rgb(55, 55, 230);">SELF</span></th>
        <th class="text-center"><span style="color: rgb(55, 55, 230);">{{stpinfo?.memb_name!='null'
            ? stpinfo?.memb_name : 'N/A'}}</span></th>
        <th class="text-center"><span class="label_field" style="color: rgb(55, 55, 230);">{{stpinfo?.min_no!='null'
            ? stpinfo?.min_no : 'N/A'}}</span></th>
        <th class="text-center"><span style="color: rgb(55, 55, 230);"> {{stpinfo?.dob &&
            stpinfo?.dob !== '0000-00-00' ? (stpinfo?.dob | date: 'MM/dd/yyyy') :
            'N/A'}}</span></th>
        <th class="text-center"><span style="color: rgb(55, 55, 230);">{{
            stpinfo?.phone_no}}</span></th>
        <th class="text-center"><span
            style="color: rgb(55, 55, 230);">{{stpinfo?.mem_address!='null' ? stpinfo?.mem_address : 'N/A'}}</span>
        </th>
      </tr>
      <tr *ngIf="stpinfo?.memb_oprn == 'D'">
        <th class="text-center"><span style="color: rgb(55, 55, 230);">SPOUSE</span></th>
        <th class="text-center"><span style="color: rgb(55, 55, 230);">{{
            stpinfo?.dependent_name!= 'null' ? stpinfo?.dependent_name : 'N/A'}}</span></th>
        <th class="text-center"><span
            style="color: rgb(55, 55, 230);">{{stpinfo?.spou_min_no!='null' ? stpinfo?.spou_min_no : 'N/A'}}</span>
        </th>
        <th class="text-center">
          <span style="color: rgb(55, 55, 230);">
            {{stpinfo?.spou_dob && stpinfo?.spou_dob !== '0000-00-00' ? (stpinfo?.spou_dob | date: 'MM/dd/yyyy') :
            'N/A'}}
          </span>
        </th>

        <th class="text-center"><span
            style="color: rgb(55, 55, 230);">{{stpinfo?.spou_phone}}</span>
        </th>
        <th class="text-center"><span
            style="color: rgb(55, 55, 230);">{{stpinfo?.spou_address!='null' ? stpinfo?.spou_address :
            'N/A'}}</span></th>
      </tr>
    </table>
  </div>

  <div class="row mt-4">
    <h4 style="color: black">
      <u>I am giving below the total usage of amount under SAIL MEDICLAIM POLICY FOR THE YEAR under IPD are as
        below:</u>
    </h4>
  </div>

  <div class="row">
          <table class="table_space_cus">
            <tr class="table_head_cus">
              <th class="text-center">
                <b>Sl No</b>
              </th>
              <th class="text-center">
                <b>STATUS</b>
              </th>
              <th class="text-center">
                <b>YEAR</b>
              </th>
              <th class="text-center">
                <b>PARTICULAR OF DISEASE</b>
              </th>
              <th class="text-center">
                <b>AMOUNT UTILISED</b>
              </th>
              <th colspan="2" class="text-center">
                <b>MEDICAL TREATMENT TAKEN AT (HOSPITAL NAME)</b>
              </th>
            </tr>
      <tr *ngFor="let dt of spouseInfo; let i = index">
        <th class="text-center" style="color: rgb(55, 55, 230);"><span>{{dt.sl_no}}</span>
        </th>
        <th class="text-center"><span style="color: rgb(55, 55, 230);">{{dt.ind_type == 'S' ? 'SELF'
            : 'SPOUSE'}}</span></th>
        <th class="text-center" style="width: 8vw;"><span
            style="color: rgb(55, 55, 230);">{{dt.fin_year}}</span></th>
        <th style="width: 38vw;"><span style="color: rgb(55, 55, 230);">{{dt.particulars}}</span>
        </th>
        <th><span style="color: rgb(55, 55, 230);">{{dt.amount}}</span></th>
        <th><span style="color: rgb(55, 55, 230);">{{dt.treatment_dtls}}</span></th>
      </tr>
    </table>
  </div>

   <div class="row">
          <h4 style="color: black"><br><br>
            <u>Premium details are given below:</u>
          </h4>
        </div>

         <div class="row mt-2">
          <table class="table_space_cus">
            <tr class="table_head_cus">
              <th class="text-center">
                <b>PREMIUM TYPE</b>
              </th>
              <th class="text-center">
                <b>PREMIUM AMOUNT</b>
              </th>
              <th>
                <b class="text-center">TOTAL AMOUNT</b>
              </th>
            </tr>
            <tr>
              <th class="text-center"><span style="color: rgb(55, 55, 230);">{{stpinfo?.premium_type == 'S' ? 'SINGLE' : 'DOUBLE'}}</span></th>
              <th class="text-center"><span style="color: rgb(55, 55, 230);">{{stpinfo?.premium_amt}}</span></th>
              <th class="text-center"><span style="color: rgb(55, 55, 230);">{{stpinfo?.premium_amt}}</span></th>
            </tr>
          </table>
        </div>

  <div class="row mt-3">
    <h5 class="letter_style" style="color: black">
      (Year means 11th July to 10th July of next year)
      I do hereby declare that all the information are correct. For any misinformation I will be liable for the loss
      suffered by you and will be liable to pay including penalty if any. As and when premium is declared we will
      deposit the same as per the procedure. I have read out the terms and agreed.
    </h5>
    <h5 class="letter_style" style="color: black;margin-left: 62vw;">
      Thanking You,
    </h5>
    <h5 class="letter_style" style="color: black;margin-left: 62vw;">
      Yours faithfully,
    </h5><br>
    <span class="label_field" style="color: rgb(9, 42, 233);margin-left: 62vw;"></span>
    <h5 class="letter_style" style="color: black;margin-left: 60vw;">
      Signature with date
    </h5>
  </div>

  <div class="row mt-5">
    <p style="color: black"><b>Insurance is coverage rendered to the individual/members during any
        uncertain loss; it's not made for making profit or any type of speculation/gambling. Likewise, in Health
        Insurance coverage provided to the Policy holders during their Hospitaliration (treatment of which cannot be
        done from OPD/domiciliary basis). Therefore, members are requested to be judicial while taking Insurance
        coverage for their hospitalization, any type of forceful admission (where hospital infrastructure is not at all
        required) in hospital, request for over stav or doing diagnostic tests through IPD admission (which can be
        easily done through OPD) by prudent members will be discouraged.</b></p>

    <p style="color: black"><b>Similarly, super top up policy is an additional benefit/coverage
        designed for the members applicable only when the basic coverage got exhausted. It is basically designed to
        extend support to the members in case of hospitalization involved with huge uncertain expenses (beyond basic
        policy coverage). Chronic diseases which require certain repeated hospitalization will not come under the scope
        of this Super Top up Policy.</b></p>

    <p style="color: black"><b>What is a super top up Health policy?</b></p>

    <p style="color: black"><b>✔ Super top up policy is designed that an insurer can claim
      after a certain amount for reimbursement of IPD Hospitalization. This certain amount is called as threshold amount
    </b></p>

    <p style="color: black"><b>✔ When a single member (either self or spouse) is joining the
      scheme, his threshold amount has been kept as 4 lacs. The amount has been fixed considering the SAIL MEDICLAIM
      POLICY. This threshold amount is applicable at the time of application (for example a person has already consumed
      certain amount at the time of joining in the scheme will not be taken into a/c) - The premium for 2021-22
      (11/7/2021 to 10/7/2022) is Rs. 2400/- including service tax</b></p>

    <p style="color: black"><b>✔In case of Self & spouse, i.e. both the threshold amount has
      been kept at Rs. 8 lacs considering the SAIL MEDICLAIM SCHEME. The premium is Rs. 4650/- for the period as
      mentioned above.</b></p>

    <p style="color: black"><b>✔ <u>Though the policy covers the pre disease, but there is
          restriction which has been kept by the trust for the members those require multiple hospitalization during the
          year is not being considered, as the concept of joining any health insurance scheme is for coverage. In this
          cases the membership deemed to be taken as insurance for claim and not for coverage.</u></b></p>

    <p style="color: black"><b>The above restriction has to be kept to keep the policy continuity,
      otherwise the members having terminal disease will be join the scheme and the ICR will go up to a large extent and

      it will not be possible for continuance of the policy. The terms and condition of the Insurance policy is strictly
      as per the terms of SAIL</b> 

      <b>MEDICLAIM INSURANCE and the restriction on SAIL MEDICLAIM SCHEME will also applicable in this scheme.
    </b></p>

    <p style="color: black"><b>Entry period strictly as per the renewal period of SAIL MEDICLAIM.
      However, when a member joining mediclaim scheme of SAIL at the time of superannuation, he can simultaneously can
      join in the scheme at any time during the year.</b></p>

  </div>

  <div class="row mt-5 text-center">
    <span class="letter_style" style="color: rgb(9, 42, 233)"><b></b></span>
    <p class="letter_style" style="color: black"><b>Signature with date</b></p>
  </div>

  <p-divider type="dashed"></p-divider>

  <h4 class="text-center" style="color: black;" *ngIf="stpinfo?.form_status !== 'A' && stpinfo?.form_status !== 'R'">Approval Section</h4>

  <!-- <div *ngIf="isPending"> -->
  <form *ngIf="stpinfo?.form_status !== 'A' && stpinfo?.form_status !== 'R'" [formGroup]="form">
    <div class="flex flex-row mt-5">
      <div class="field col-12 md:col-4">
        <label for="resolution_no" class="label_field" style="color: black;"><b>Resolution No:<span
              class="text-red-700">*</span></b></label>&nbsp;
        <input id="resolution_no" type="text" formControlName="resolution_no" placeholder="Enter Resolution No"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        <div *ngIf="f['resolution_no']?.touched || f['resolution_no']?.dirty">
          <small class="text-red-900" *ngIf="f['resolution_no']?.errors">Resolution No is required.</small>
        </div>
      </div>
      <div class="field col-12 md:col-4">
        <label for="resolution_dt" class="label_field" style="color: black;"><b>Resolution Date:<span
              class="text-red-700">*</span></b></label>&nbsp;
        <input id="resolution_dt" type="date" formControlName="resolution_dt" placeholder="dd/mm/yyyy"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        <div *ngIf="f['resolution_dt']?.touched || f['resolution_dt']?.dirty">
          <small class="text-red-900" *ngIf="f['resolution_dt']?.errors">resolution_dt is required.</small>
        </div>
      </div>

      <div class="field col-12 md:col-4">
        <label for="status" class="label_field" style="color: black;"><b>Status: </b></label>&nbsp;
        <select id="status" formControlName="status"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto; height: 3vw; border-radius: 7px">
          <option value="P">Pending</option>
          <option value="A">Approved</option>
          <option value="R">Reject</option>
        </select>
      </div>
    </div>

     <div *ngIf="form.controls['status'].value === 'A'">
          <div class="formgrid grid mt-3">
             <div class="field col-12 md:col-4">
              <label for="form_no" style="color: black"><b>STP Form No</b></label>
              <input id="form_no" type="text" formControlName="form_no" readonly
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col-12 md:col-4">
              <label for="trn_date" style="color: black"><b>Date<span class="text-red-700">*</span></b></label>
              <input id="trn_date" type="date" formControlName="trn_date" placeholder="dd/MM/yyyy" [max]="maxDate"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
              <div *ngIf="f['trn_date']?.touched || f['trn_date']?.dirty">
                <small class="text-red-900" *ngIf="f['trn_date']?.errors">Date is required.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="totalAmount" style="color: black"><b>Total Premium Amount</b></label>
              <input id="totalAmount" type="number" formControlName="totalAmount" readonly
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
          </div>
        </div>

         <div class="flex flex-row" *ngIf="form.controls['status'].value === 'A'">
          <button pButton pRipple type="button" label="Submit" class="p-button-raised sub_btn" (click)="approve()"
            [disabled]="f['resolution_no'].invalid || f['resolution_dt'].invalid || f['trn_date'].invalid"></button>
        </div>

    <p-divider type="dashed"></p-divider>

    <div *ngIf="form.controls['status'].value === 'R'">
      <div class="flex flex-row">
        <div class="field col-12">
          <label for="reject" class="label_field"><b>Reason:<span class="text-red-700">*</span></b></label>&nbsp;
          <textarea id="reject" formControlName="reject" rows="4" placeholder="Write the reason why reject this form..."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
          <div *ngIf="f['reject']?.touched || f['reject']?.dirty">
            <small class="text-red-900" *ngIf="f['reject']?.errors">Reason is required.</small>
          </div>
        </div>
      </div>
      <div class="flex flex-row">
        <button pButton pRipple type="button" label="OK" class="p-button-raised sub_btn" (click)="reject_submit()"
          [disabled]="f['resolution_no'].invalid || f['resolution_dt'].invalid || f['reject'].invalid"></button>
      </div>
      </div>
  </form>
  <!-- </div> -->
</p-card>