<div class="banner_sec">
  <!-- <ul data-v-faebb82e="" class="nav">
		<li data-v-faebb82e="" class="nav-item d-none"><a href="https://lyka.com.au/membership/dashboard"> Account</a>
		</li>
	</ul> -->
  <div class="titleSec">
    <h1><span>BOSEC</span> Welfare Association</h1>
    <p>Established on 29th Day of May 2010 and Registered under Socity ACT</p>
  </div>
</div>

<div class="body_content_sec">
  <div class="wrapper_sm">
    <div class="welcome_text">
      <div class="logo_sec"><img src="assets/images/bokaro.jpg" alt="" /></div>
      <div class="textArea_sec">
        <h2>Membership of the Association </h2>
        <p>The members of BOSEC WELFAE TRUST at their first meeting have constituted and form an association of the
          Beneficiaries under the name of <strong>BOKARO STEEL PEOPLE WELFARE ASSOCIATION</strong>. Members of the said
          Association is the beneficiaries of the Trust. The Committee of the association is admit and enroll
          the members as provided herein after. The Association is registered with the Register of Societies under
          the Societies Registration act and comply with all formalities of the said act. </p>
      </div>
    </div>

    <div class="boxSection">
      <div class="row">
        <div class="col-sm-4 float-left">
          <div class="box_sm box_a">
            <h2>Eligibility of Memberships</h2>
            <p>Who is a present and past employees of STEEL AUTHORITY OF INDIA </p>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal_box_1">read more &gt;&gt; </a>
          </div>
        </div>
        <div class="col-sm-4 float-left">
          <div class="box_sm box_b">
            <h2>Categories of Memberships.</h2>
            <p>These members consist of those that were signatories in the application made before the Registering
              Authority and will pay initially Rs.10, 000/- (Rupees Ten thousand) only to create initial Association
              Fund.</p>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal_box_2">read more &gt;&gt; </a>
          </div>
        </div>
        <div class="col-sm-4 float-left">
          <div class="box_sm box_b">
            <h2>Procedure for Admission</h2>
            <p>Founder Members: As Founder Members of the organization, these members are automatically considered to be
              holders of the Membership in this category. Conditions of payment of any type of Fees shall not apply on
              them</p>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal_box_3">read more &gt;&gt; </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Modal Box 1 -->
<div class="modal fade" id="myModal_box_1" role="dialog">
  <div class="modal-dialog modal_dialog_custom">

    <!-- Modal content-->
    <div class="modal-content">
      <!--
      <div class="modal-header">
        
        <h4 class="modal-title">Modal Header</h4>
      </div>
-->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Eligibility of Memberships</h2>
        <ol>
          <li>Who is a present and past employees of SAIL, BOKARO STEEL PLANT </li>
          <li>Who resides in the area of operation of the Association </li>
          <li>Who has a reputable character and is in sound mind and never convicted in court of law </li>
          <li>Who agrees to abide by the constitution and the by laws of the Association and supports its aims and
            objectives.</li>
          <li>In case of death of member, the spouse is entitled to enjoy the membership till his/her death subject to
            other conditions and will enjoy the same type of membership .</li>
        </ol>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
-->
    </div>

  </div>
</div>

<!-- Modal Box 2 -->
<div class="modal fade" id="myModal_box_2" role="dialog">
  <div class="modal-dialog modal_dialog_custom">

    <!-- Modal content-->
    <div class="modal-content">
      <!--
      <div class="modal-header">
        
        <h4 class="modal-title">Modal Header</h4>
      </div>
-->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Categories of Memberships.</h2>
        <ol>
          <li><strong>Founder Members:</strong>&nbsp;These members consist of those that were signatories in the
            application made before the Registering Authority  and will pay initially Rs.10, 000/- (Rupees Ten thousand)
            only to create initial Association Fund.</li>
          <li><strong>Life Members:</strong>&nbsp;A person who pays Rs. 40,000/-&nbsp;(Rupees Forty thousands only), in
            lump sum to the Association,  shall be invited by the Committee  to become a life member of the Assocation .
            .(In case of members/ nominal members of Bokaro Steel Employees&rsquo;(Calcutta) Co operative Credit Society
            Limited, the donation  amount will be Rs. 2000/-instead of Rs.40000/) -However, A life member has to Pay Rs.
            100/- per year for renewal of yearly membership. </li>
          <li><strong>General Members:&nbsp;</strong>&nbsp;A person, whose application for membership is approved by the
            Committee , shall become ordinary member of the Association on payment of the annual membership fees of
            Rs.240/- (Rupees two hundred foty Only). </li>
          <li><strong>Associate Members : </strong>All the dependent family members have to enroll their name as
            Associate Members and have to pay annual membership fees of Rs.250/-(Rupees five hundreds ) only </li>
          <li><strong> Affiliate Members:</strong>&nbsp;An agency registered under the Indian Association Act /Societies
            Registration Act subscribing to the aims and objectives of the Assocation , subject to the approval of the
            Committee , can become its associate member on payment of annual membership fee of Rs.1200 (Rupees Twelve
            Hundreds Only). </li>
          <li><strong>Honorary Member:</strong>&nbsp;A person who has rendered eminent service to the cause of Social
            Indian Association Act or Co-operates actively with the Association   may be nominated as Honorary Member by
            the Committee of the Association  He shall not be required to pay any membership fee. Condition A (i) &amp;
            (ii), of the Article (6), shall not apply to this category of membership. </li>
          <li><strong>Co-Opted Members:</strong>&nbsp;Committee of the Association  can appoint co-opted member(s) for
            special purpose(s) </li>
        </ol>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
-->
    </div>

  </div>
</div>

<!-- Modal Box 3 -->
<div class="modal fade" id="myModal_box_3" role="dialog">
  <div class="modal-dialog modal_dialog_custom">

    <!-- Modal content-->
    <div class="modal-content">
      <!--
      <div class="modal-header">
        
        <h4 class="modal-title">Modal Header</h4>
      </div>
-->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Procedure for admission to various categories of Membership</h2>
        <ol>
          <li><strong>Founder Members: As</strong> Founder Members of the organization, these members are automatically
            considered to be holders of the Membership in this category. Conditions of payment of   any type of Fees
            shall not apply on them</li>
          <li><strong>Life Members:</strong>&nbsp;Persons having qualification, as laid down at Article 1  and desirous
            to become a Life Member or Ordinary Member shall apply on prescribed form of the Association to the
            Committee  along with an admission /application fee of Rs.50/-, which shall have the power to accept or
            reject any such application. A person shall become life member or ordinary member only after payment of the
            prescribed fee.</li>
          <li><strong>General Members: </strong>Persons having qualifications, as laid down above  shall apply on a
            prescribed form of the Association  for the said Membership along with an admission /application fee of
            Rs.50/-. The Committee shall have the right to accept or reject any such application. A person shall become
            General Member only after payment of the prescribed fee </li>
          <li><strong>Associate Members / </strong>Persons having qualifications, as laid down in, Article 1 shall apply
            on a prescribed form of the Association  for the said Membership along with an admission /application fee of
            Rs.50/-. The Committee  shall have the right to accept or reject any such application. A person shall become
            Associate Member only after payment of the prescribed fee. </li>
          <li><strong>Affiliated Members:</strong>&nbsp;Any agency who fulfils the conditions laid down under
            <u>Article</u> 1 can apply to the Committee of the Association   to become Associated or Affiliated Member,
            which shall have the power to accept or reject any such application. The agency shall become Associate
            Member or Affiliate Member only after payment of prescribed fee.
          </li>
        </ol>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
-->
    </div>

  </div>
</div>