.heading{
    color: #3285b7;
    cursor: pointer;
    font-weight: 600;
  }

  .head_active{
    color: #6c757d;
    font-weight: 600;

  }

  .custom-tooltip {
    font-size: 12px !important;
    padding: 6px 20px !important;
    /* color: #6c757d; */
  }

  .sub_btn{
    color: #ffffff;
    background: #50b0dd;
    border: 2px solid #50b0dd;
    margin-left: 31vw;
  }