<div class="change-password-container">
  <div class="change-password-box">
    <h2 style="display: flex; justify-content: center; align-items: center;">
      <i class="pi pi-arrow-left" style="cursor: pointer; color: #1b3c66; margin-right: 15px; font-size: 1.4rem; font-weight: bold;" (click)="back()" title="Back"></i>
      <span><a class="heading" style="cursor: pointer; color: #1b3c66;" (click)="back()">Admin Details</a> / Add Admin</span>
    </h2>

    <form [formGroup]="form" class="mt-5">
      <div class="row">
        <div class="form-field col-6">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label class="color">User ID (Email)</mat-label>
            <input matInput type="text" formControlName="user_id" placeholder="Enter email address" />
          </mat-form-field>
        </div>
        <div class="form-field col-6">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label class="color">User Name</mat-label>
            <input matInput type="text" formControlName="u_name" placeholder="Enter user name" />
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-3">
        <div class="form-field col-6">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label class="color">User Phone</mat-label>
            <input matInput type="text" formControlName="u_phone" placeholder="Enter user phone number" maxlength="10" />
          </mat-form-field>
        </div>
        <div class="form-field col-6">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label class="color">Password</mat-label>
            <input matInput type="text" formControlName="pass" placeholder="Enter Password" />
          </mat-form-field>
        </div>
      </div>
      
      <div class="row mt-4">
        <div class="col-12" style="display: flex; justify-content: center;">
          <button mat-raised-button color="primary" (click)="add_admin()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>