<p-card>
  <div class="row align-items-center">
    <h3 class="flex align-items-center">
      <!-- <i class="pi pi-plus"></i>&nbsp;
      <b>Add Admin</b> -->
      <a class="heading" (click)="back()">Admin Details</a> / Add Admin
    </h3>
  </div>


  <form [formGroup]="form">
    <div class="formgrid grid mt-4">
      <div class="field col-12 md:col-6">
        <label for="user_id" class="label_field"><b>User ID:</b></label>&nbsp;
        <input id="user_id" type="text" formControlName="user_id" placeholder="Enter email address"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
      </div>
      <div class="field col-12 md:col-6">
        <label for="u_name" class="label_field"><b>User Name:</b></label>&nbsp;
        <input id="u_name" type="text" formControlName="u_name" placeholder="Enter user name"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
      </div>
    </div>

    <div class="formgrid grid mt-4">
      <div class="field col-12 md:col-6">
        <label for="u_phone" class="label_field"><b>user phone:</b></label>&nbsp;
        <input id="u_phone" type="text" formControlName="u_phone" placeholder="Enter user phone number" maxlength="10"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
      </div>
      <div class="field col-12 md:col-6">
        <label for="pass" class="label_field"><b>Password:</b></label>&nbsp;
        <input id="pass" type="text" formControlName="pass" placeholder="Enter Password"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
      </div>
    </div>
    <div class="formgrid grid mt-4">
      <div class="field col-12 md:col-6">
        <p-button class="add_btn" label="Submit" styleClass="p-button-rounded p-button-text p-button-raised"
          [style]="{'background-color': 'rgb(140 202 231)', 'border-color': '#50b0dd', 'color': '#ffff', 'margin-left': '32vw'}"
          (click)="add_admin()"></p-button>
      </div>
    </div>
  </form>

</p-card>