<div class="change-password-container">
  <div class="change-password-box">
    <h3 class="text-center"><b>Member Details</b></h3>
    <p-divider type="dashed"></p-divider>

    <form [formGroup]="form">

      <div *ngIf="this.memberData?.mem_type != 'AI'">

        <div class="flex flex-row">
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Member Type</mat-label>
              <input matInput id="member_type" formControlName="member_type" readonly placeholder="Member Form No..." />
            </mat-form-field>
          </div>

          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="status-field w-full">
              <mat-label class="color">Member Operation</mat-label>
              <mat-select formControlName="member_opt">
                <mat-option value="">Select Operation</mat-option>
                <mat-option value="S">Self</mat-option>
                <mat-option value="J">Joint</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="f['member_opt']?.touched || f['member_opt']?.dirty">
              <small class="text-red-900" *ngIf="f['member_opt']?.errors">Member Operation is required.</small>
            </div>
          </div>

          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="status-field w-full">
              <mat-label class="color">Unit Name</mat-label>
              <mat-select formControlName="unit_nm">
                <mat-option value="">Select Unit Name</mat-option>
                <mat-option *ngFor="let option of responsedata" [value]="option.unit_id">{{ option.unit_name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="f['unit_nm']?.touched || f['unit_nm']?.dirty">
              <small class="text-red-900" *ngIf="f['unit_nm']?.errors">Unit Name is required.</small>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Member Name</mat-label>
              <input matInput id="member" formControlName="member" placeholder="Enter Member name..." />
            </mat-form-field>
            <div *ngIf="f['member']?.touched || f['member']?.dirty">
              <small class="text-red-900" *ngIf="f['member']?.errors">Member Name is required.</small>
            </div>
          </div>

          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Father's / Husband Name</mat-label>
              <input matInput id="gurdian" formControlName="gurdian" placeholder="Enter Father / Husband name..." />
            </mat-form-field>
            <div *ngIf="f['gurdian']?.touched || f['gurdian']?.dirty">
              <small class="text-red-900" *ngIf="f['gurdian']?.errors">Gurdian Name is required.</small>
            </div>
          </div>

          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="status-field w-full">
              <mat-label class="color">Gender</mat-label>
              <mat-select formControlName="gen">
                <mat-option value="">Select Gender</mat-option>
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="f['gen']?.touched || f['gen']?.dirty">
              <small class="text-red-900" *ngIf="f['gen']?.errors">Gender is required.</small>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="status-field w-full">
              <mat-label class="color">Marital Status</mat-label>
              <mat-select formControlName="marital_status">
                <mat-option value="">Select Marital Status</mat-option>
                <mat-option value="M">Married</mat-option>
                <mat-option value="U">Unmarried</mat-option>
                <mat-option value="W">Widow</mat-option>
                <mat-option value="WR">Widower</mat-option>
                <mat-option value="D">Divorced</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">DOB <span class="text-red-700">*</span></mat-label>
              <input matInput id="gen_dob" type="date" formControlName="gen_dob" placeholder="dd/MM/yyyy" />
            </mat-form-field>
            <div *ngIf="f['gen_dob']?.touched || f['gen_dob']?.dirty">
              <small class="text-red-900" *ngIf="f['gen_dob']?.errors">DOB is required.</small>
            </div>
          </div>
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Whatsapp Phone No <span class="text-red-700">*</span></mat-label>
              <input matInput id="phone" type="text" formControlName="phone" maxlength="10" placeholder="Enter Phone No" />
            </mat-form-field>
            <div *ngIf="f['phone']?.touched || f['phone']?.dirty">
              <small class="text-red-900" *ngIf="f['phone']?.errors">Phone No is required.</small>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Email ID</mat-label>
              <input matInput id="email_id" type="text" formControlName="email_id" placeholder="Enter Email ID" />
            </mat-form-field>
          </div>
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Blood Group <span class="text-red-700">*</span></mat-label>
              <mat-select id="blood" formControlName="blood">
                <mat-option value="">Select Blood Group</mat-option>
                <mat-option value="A+">A+</mat-option>
                <mat-option value="A-">A-</mat-option>
                <mat-option value="B+">B+</mat-option>
                <mat-option value="B-">B-</mat-option>
                <mat-option value="O+">O+</mat-option>
                <mat-option value="O-">O-</mat-option>
                <mat-option value="AB+">AB+</mat-option>
                <mat-option value="AB-">AB-</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="f['blood']?.touched || f['blood']?.dirty">
              <small class="text-red-900" *ngIf="f['blood']?.errors">Blood Group is required.</small>
            </div>
          </div>
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Caste</mat-label>
              <mat-select id="caste" formControlName="caste">
                <mat-option value="">Select Caste</mat-option>
                <mat-option value="G">General</mat-option>
                <mat-option value="S">SC</mat-option>
                <mat-option value="T">ST</mat-option>
                <mat-option value="O">Others</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Staff No <span class="text-red-700">*</span></mat-label>
              <input matInput id="staff" type="text" formControlName="staff" placeholder="Enter Staff No" />
            </mat-form-field>
            <div *ngIf="f['staff']?.touched || f['staff']?.dirty">
              <small class="text-red-900" *ngIf="f['staff']?.errors">Staff No is required.</small>
            </div>
          </div>
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Personal No <span class="text-red-700">*</span></mat-label>
              <input matInput id="personal" type="text" formControlName="personal" placeholder="Enter Personal No" />
            </mat-form-field>
            <div *ngIf="f['personal']?.touched || f['personal']?.dirty">
              <small class="text-red-900" *ngIf="f['personal']?.errors">Personal No is required.</small>
            </div>
          </div>
          <div class="form-field col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">MIN No</mat-label>
              <input matInput id="min" type="text" formControlName="min" placeholder="Enter MIN No" />
            </mat-form-field>
          </div>
        </div>

        <p-divider type="dashed"></p-divider>
        <h3 class="text-center"><b>Residential Information</b></h3>
        <p-divider type="dashed"></p-divider>

        <div class="flex flex-row">
          <div class="field col-12">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Member Address <span class="text-red-700">*</span></mat-label>
              <textarea matInput id="mem" formControlName="mem" rows="4"></textarea>
            </mat-form-field>
            <div *ngIf="f['mem']?.touched || f['mem']?.dirty">
              <small class="text-red-900" *ngIf="f['mem']?.errors">Member Adress is required.</small>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="field col-12 md:col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">City / Town / District</mat-label>
              <input matInput id="city" type="text" formControlName="city" placeholder="Enter City/Town/District" />
            </mat-form-field>
          </div>
          <div class="field col-12 md:col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">PIN No <span class="text-red-700">*</span></mat-label>
              <input matInput id="pin" type="number" formControlName="pin" placeholder="Enter PIN No" />
            </mat-form-field>
            <div *ngIf="f['pin']?.touched || f['pin']?.dirty">
              <small class="text-red-900" *ngIf="f['pin']?.errors">PIN No is required.</small>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="color">Police Station</mat-label>
              <input matInput id="police_st" type="text" formControlName="police_st" placeholder="Enter Police Station" />
            </mat-form-field>
          </div>
        </div>

        <h3 class="text-center"><b>Spouse Details</b></h3>
        <p-divider type="dashed"></p-divider>

        <div formGroupName="spouse_fr">
          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">Spouse Name</mat-label>
                <input matInput id="spou_name" type="text" formControlName="spou_name" placeholder="Enter Spouse name" />
              </mat-form-field>
            </div>
            <div class="field col-12 md:col-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">Father / Husband Name</mat-label>
                <input matInput id="spou_gurd_name" type="text" formControlName="spou_gurd_name" placeholder="Enter Father / Husband Name" />
              </mat-form-field>
            </div>
            <div class="field col-12 md:col-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">Blood Group</mat-label>
                <mat-select id="spou_blood_grp" formControlName="spou_blood_grp">
                  <mat-option value="">Select Blood Group</mat-option>
                  <mat-option value="A+">A+</mat-option>
                  <mat-option value="A-">A-</mat-option>
                  <mat-option value="B+">B+</mat-option>
                  <mat-option value="B-">B-</mat-option>
                  <mat-option value="O+">O+</mat-option>
                  <mat-option value="O-">O-</mat-option>
                  <mat-option value="AB+">AB+</mat-option>
                  <mat-option value="AB-">AB-</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">DOB</mat-label>
                <input matInput id="spou_dob" type="date" formControlName="spou_dob" placeholder="dd/MM/yyyy" />
              </mat-form-field>
            </div>

            <div class="field col-12 md:col-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">Mobile No</mat-label>
                <input matInput id="spou_mobile_no" type="text" formControlName="spou_mobile_no" maxlength="10" placeholder="Enter Mobile No" />
              </mat-form-field>
            </div>
            <div class="field col-12 md:col-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">MIN No</mat-label>
                <input matInput id="spou_min_no" type="text" formControlName="spou_min_no" placeholder="Enter MIN No" />
              </mat-form-field>
            </div>
          </div>

          <p-divider type="dashed"></p-divider>
          <h3 class="text-center"><b>Residential Information</b></h3>
          <p-divider type="dashed"></p-divider>

          <div class="flex flex-row">
            <div class="field col-12">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">Member Address</mat-label>
                <textarea matInput id="spou_mem_addr" formControlName="spou_mem_addr" type="text" rows="4"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="field col-12 md:col-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">Police Station</mat-label>
                <input matInput id="spou_police_st" type="text" formControlName="spou_police_st" placeholder="Enter Police Station" />
              </mat-form-field>
            </div>
            <div class="field col-12 md:col-4">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">City / Town / District</mat-label>
                <input matInput id="spou_city" type="text" formControlName="spou_city" placeholder="Enter City / Town / District" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <h3 class="text-center"><b>Dependent Details</b></h3>
        <p-divider type="dashed"></p-divider>

        <div formArrayName="depenFields">
          <div class="flex justify-content-center mt-3" *ngIf="depenFields.controls.length === 0">
            <p-button class="custom-tooltip" pTooltip="Add Dependent" tooltipPosition="bottom" icon="pi pi-plus" label="Add Dependent"
              styleClass="p-button-text p-button-raised" (click)="onadd()"
              [style]="{ 'background-color': 'rgb(177 209 161)', 'border-color': 'rgb(116 207 78)', color: '#ffff' }"></p-button>
          </div>
          <div class="flex flex-row mt-5" *ngFor="let group of depenFields.controls; let i = index" [formGroupName]="i">
            <div class="field col-12 md:col-3">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">Dependent Name</mat-label>
                <input matInput id="dependent_name" type="text" formControlName="dependent_name" placeholder="Enter Dependent name" />
              </mat-form-field>
            </div>
            <div class="field col-12 md:col-3">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">Phone No</mat-label>
                <input matInput id="phone_no" type="text" formControlName="phone_no" maxlength="10" placeholder="Enter Phone No" />
              </mat-form-field>
            </div>
            <div class="field col-12 md:col-3">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="color">Relationship</mat-label>
                <mat-select id="relation" formControlName="relation">
                  <mat-option value="null">Select Relationship</mat-option>
                  <mat-option *ngFor="let option of responsedata_rel" [value]="option.id">{{ option.relation_name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="i === 0" class="field col-12 md:col-3">
              <p-button class="custom-tooltip" pTooltip="Add Dependent" tooltipPosition="bottom" icon="pi pi-plus"
                styleClass="p-button-rounded p-button-text p-button-raised" (click)="onadd()"
                [style]="{ 'background-color': 'rgb(177 209 161)', 'border-color': 'rgb(116 207 78)', color: '#ffff', 'margin-top': '0.5vw' }"></p-button>
            </div>

            <div *ngIf="i > 0" class="field col-12 md:col-3">
              <p-button class="custom-tooltip" pTooltip="Delete Dependent" tooltipPosition="bottom" icon="pi pi-minus"
                styleClass="p-button-rounded p-button-text p-button-raised" (click)="onminus(i)"
                [style]="{ 'background-color': 'rgb(223 105 105)', 'border-color': 'rgb(129 54 54)', color: '#ffff', 'margin-top': '0.5vw'}"></p-button>
            </div>
          </div>
        </div>

        <h3 class="text-center mt-3"><b>Image Upload</b></h3>
        <p-divider type="dashed"></p-divider>

        <div class="flex flex-row">
          <div class="field col-12 md:col-6">
            <label for="own_img" class="size"><b>Member Photograph:<span class="text-red-700">(.JPG,.JPEG,.PNG) (Max file upload size : 1MB)</span></b></label>&nbsp;
            <div class="card flex justify-content-left">
              <p-toast></p-toast>
              <p-fileUpload name="own_file" (onSelect)="onUpload($event, 'O')" (onRemove)="onRemove($event, 'O')"
                [customUpload]="true" [multiple]="false" accept="image/*">
                <ng-template pTemplate="content">
                  <ng-container *ngIf="memFileName">
                    <img src="{{memFileName}}" width="50%" height="50%" alt="Member Image">
                  </ng-container>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label for="spou_img" class="size"><b>Spouse Photograph:<span class="text-red-700">(.JPG,.JPEG,.PNG) (Max file upload size : 1MB)</span></b></label>&nbsp;
            <div class="card flex justify-content-left">
              <p-toast></p-toast>
              <p-fileUpload name="spouse_file" (onSelect)="onUpload($event, 'S')" [customUpload]="true"
                [multiple]="false" accept="image/*">
                <ng-template pTemplate="content">
                  <ng-container *ngIf="spouseFileName">
                    <img src="{{spouseFileName}}" width="50%" height="50%" alt="">
                  </ng-container>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>
        </div>
      </div>

      <div class="field col-12 md:col-6">
        <button pButton pRipple type="button" label="Submit" class="p-button-raised sub_btn" (click)="save()"></button>
      </div>
    </form>
  </div>
</div>