<h3 class="text-center"><b>Dependent Details</b></h3>
<p-divider type="dashed"></p-divider>

<form [formGroup]="form">
  <div formArrayName="depenFields">
    <div class="flex flex-row mt-5" *ngFor="let group of depenFields.controls; let i = index" [formGroupName]="i">
      <div class="field col-12 md:col-3">
        <label for="dependent_name" class="size"><b>Dependent Name:</b></label>
        <input id="dependent_name" type="text" formControlName="dependent_name" placeholder="Enter Dependent name"
          class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
      </div>
      <div class="field col-12 md:col-3">
        <label for="phone_no" class="size"><b>Phone No:</b></label>&nbsp;
        <input id="phone_no" type="text" formControlName="phone_no" maxlength="10" placeholder="Enter Phone No"
          class="box_input text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
      </div>
      <div class="field col-12 md:col-3">
        <label for="relation" class="size"><b>Relationship:</b></label>
        <select id="relation" formControlName="relation"
          class="w-full text-2xl text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto; height: 3vw; border-radius: 7px">
          <option value="null">Select Relationship</option>
          <option *ngFor="let option of responsedata_rel" [value]="option.id">
            {{ option.relation_name }}
          </option>
        </select>
      </div>
      <div *ngIf="i === 0" class="field col-12 md:col-3">
        <p-button class="custom-tooltip" pTooltip="Add Dependent" tooltipPosition="bottom" icon="pi pi-plus"
          styleClass="p-button-rounded p-button-text p-button-raised" (click)="onadd()"
          [style]="{ 'background-color': 'rgb(177 209 161)', 'border-color': 'rgb(116 207 78)', color: '#ffff', 'margin-top': '1.3vw' }"></p-button>
      </div>

      <div *ngIf="i > 0" class="field col-12 md:col-3">
        <p-button class="custom-tooltip" pTooltip="Delete Dependent" tooltipPosition="bottom" icon="pi pi-minus"
          styleClass="p-button-rounded p-button-text p-button-raised" (click)="onminus(i)"
          [style]="{ 'background-color': 'rgb(223 105 105)', 'border-color': 'rgb(129 54 54)', color: '#ffff', 'margin-top': '1.3vw'}"></p-button>
      </div>
    </div>
  </div>
</form>