<style>
  table {
    width: 96%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* tr:hover {
      background-color: #ddd;
  } */
  th,
  td {
    padding: 15px;
    text-align: left;
  }

  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
</style>

<p-card id="divToPrint">
  <!-- <span class="custom-badge" pTooltip="Back" tooltipPosition="top">
    <i class="pi pi-arrow-left" aria-hidden="true" style="cursor: pointer;"></i>
  </span> -->

  <div *ngIf="mem_type === 'G'">
    <div class="row">
      <div class="col-md-6">
        <h4 class="margin" style="color: black;"><b><u>ANNEXURE III</u></b></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="color"><b><u>MEMBERSHIP FORM</u></b></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="letter" style="color: black;">TO</h4>
        <h4 class="letter" style="color: black;">The Secreatry</h4>
        <h3 class="letter" style="color: black;">BOKARO STEEL PEOPLE WELFARE ASSOCIATION</h3>
        <h4 class="letter" style="color: black;">13, Camac Street</h4>
        <h4 class="letter" style="color: black;">Kolkata 700017</h4>
        <h4 class="letter" style="color: black;">Dear Sir,</h4>
        <h4 class="size" style="color: black;">I am desirous to take the membership of the Association, Details in
          regard
          to me, my spouse and the family are as below. This is also to inform you that I am an employee / ex employee
          of
          SAIL,
        </h4>
      </div>
    </div>
  </div>

  <div *ngIf="mem_type === 'L'">
    <div class="row">
      <div class="col-md-6">
        <h4 class="margin" style="color: black;"><b><u>ANNEXURE III</u></b></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="color"><b><u>MEMBERSHIP FORM</u></b></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="letter" style="color: black;">TO</h4>
        <h4 class="letter" style="color: black;">The Secreatry</h4>
        <h3 class="letter" style="color: black;">BOKARO STEEL PEOPLE WELFARE ASSOCIATION</h3>
        <h4 class="letter" style="color: black;">13, Camac Street</h4>
        <h4 class="letter" style="color: black;">Kolkata 700017</h4>
        <h4 class="letter" style="color: black;">Dear Sir,</h4>
        <h4 class="size" style="color: black;">I am desirous to take the membership of the Association, Details in
          regard
          to me, my spouse and the family are as below. This is also to inform you that I am an employee / ex employee
          of
          SAIL,
        </h4>
      </div>
    </div>
  </div>

  <div *ngIf="mem_type === 'AI'">
    <div class="row">
      <div class="col-md-6">
        <h4 class="margin" style="color: black">
          <b><u>ANNEXURE IV</u></b>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="color">
          <b><u>ASSOCIATE MEMBERSHIP FORM</u></b>
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4 class="letter" style="color: black">TO</h4>
        <h4 class="letter" style="color: black">The Secreatry</h4>
        <h3 class="letter" style="color: black">
          BOKARO STEEL PEOPLE WELFARE ASSOCIATION
        </h3>
        <h4 class="letter" style="color: black">Kolkata</h4>
        <h4 class="letter" style="color: black">Dear Sir,</h4>
        <h4 class="size" style="color: black">
          I am desirous to take the associate membership of the Association, Details in
          regard to me and my dependents are given below
        </h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngIf="mem_type === 'G'">
      <table class="table_space">
        <tr>
          <th colspan="3" class="text-center" style="background-color: aliceblue;"><label for="member_type"
              class="label_field color"><b>DETAILS OF THE MEMBER</b></label></th>
        </tr>
        <tr>
          <th colspan="2"><label for="form_no" class="label_field"><b>Form No :
              </b><span class="span_space">{{form_no}}</span></label></th>
          <th class="text-center" rowspan="7" style="width: 20%;">
            <img src="{{ memb_pic ? (api_base_url + '/' + memb_pic) : '' }}" height="100%" width="100%" alt="" />
            <!-- <label for="photo" class="label_field"><b><u>PHOTOGRAPH</u></b></label> -->
          </th>

        </tr>
        <tr>
          <th colspan="2"><label for="mem_name" class="label_field"><b>NAME :</b><span
                class="span_space">{{memb_name}}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="2"><label for="member_type" class="label_field"><b>TYPE OF
                MEMBERSHIP
                :</b><span class="span_space">{{mem_type=='G' ? 'General Membership' : mem_type=='L' ? 'Life Membership'
                :
                'Associate
                Membership'}}</span></label></th>
        </tr>
        <tr>
          <th colspan="2"><label for="unit" class="label_field"><b>NAME OF THE UNIT
                FROM
                WHERE SUPERANNUATED
                :</b><span class="span_space">{{unit_name}}</span></label></th>
        </tr>
        <tr>
          <th colspan="2"><label for="staff_no" class="label_field"><b>STAFF NO
                :</b><span class="span_space">{{staff_nos}}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="2"><label for="pers_no" class="label_field"><b>PERS NO
                :</b><span class="span_space">{{pers_no}}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="2"><label for="gurd_name" class="label_field"><b>FATHER'S Name
                :</b><span class="span_space">{{gurdian_name}}</span></label></th>
        </tr>
        <tr>
          <th colspan="3"><label for="addr" class="label_field"><b>ADDRESS
                :</b><span class="span_space">{{memb_address}}</span></label>
          </th>
        </tr>
        <tr>
          <th><label for="ps" class="label_field"><b>P.S. </b><span class="span_space">{{ps}}</span></label></th>
          <th><label for="phone" class="label_field"><b>PHONE NO. </b><span
                class="span_space">{{phone_no}}</span></label>
          </th>
          <th><label for="blood_grp" class="label_field"><b>BLOOD GROUP :</b><span
                class="span_space">{{blood_grp}}</span></label></th>
        </tr>
        <tr>
          <th><label for="dob" class="label_field"><b>DATE OF BIRTH :</b><span class="span_space">{{dob}}</span></label>
          </th>
          <th colspan="2"><label for="email_id" class="label_field"><b>EMAIL NO. </b><span
                class="span_space">{{email_id}}</span></label>
          </th>
        </tr>
        <tr>
          <th><label for="min_no" class="label_field"><b>MIN NO. (SELF) :</b><span
                class="span_space">{{min_no}}</span></label></th>
          <th colspan="2"><label for="min_no_spou" class="label_field"><b>MIN NO. (SPOUSE)
                :</b></label><span class="span_space">{{spou_min
              && spou_min.length > 0 ? spou_min[0]?.spou_min : 'N/A'}}</span></th>
        </tr>
        <tr>
          <th colspan="3" class="text-center" style="background-color: aliceblue;"><label for="member_type"
              class="label_field color"><b>DETAILS OF THE SPOUSE</b></label></th>
        </tr>
        <tr>
          <th colspan="2"><label for="spou_name" class="label_field"><b>NAME :</b><span class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.dependent_name : 'N/A'}}</span></label>
          </th>
          <th class="text-center" rowspan="4" style="width: 20%;">
            <img
              src="{{spou_min
                && spou_min.length > 0 ? (spou_min[0]?.spou_pic ? api_base_url + '/' + spou_min[0]?.spou_pic : '') : ''}}"
              height="100%" width="100%" src="" alt="Photograph" />
          </th>
        </tr>
        <tr>
          <th colspan="2"><label for="spou_blood" class="label_field"><b>BLOOD GROUP
                :</b><span class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.spou_blood_grp : 'N/A'}}</span></label></th>
        </tr>
        <tr>
          <th colspan="2"><label for="father_name" class="label_field"><b>FATHER'S NAME
                :</b><span class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.gurd_name : 'N/A'}}</span></label></th>
        </tr>
        <tr>
          <th><label for="depen_dob" class="label_field"><b>DATE OF BIRTH :</b><span class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.spou_dob : 'N/A'}}</span></label>
          </th>
          <th><label for="depen_mob" class="label_field"><b>MOBILE NO :</b><span class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.spou_phone : 'N/A'}}</span></label></th>
        </tr>
        <tr>
        </tr>
        <tr>
          <th colspan="3"><label for="member_type" class="label_field"><b>ADDRESS :</b><span
                class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.spou_memb_address : ''}}</span></label>
          </th>
        </tr>
        <tr>
          <th><label for="member_type" class="label_field"><b>P.S. </b><span class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0].spou_ps : 'N/A'}}</span></label></th>
          <th colspan="2"><label for="member_type" class="label_field"><b>PHONE NO. </b><span
                class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0].spou_phone : 'N/A'}}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="3"><label for="depen" class="label_field"><b>NAME OF
                DEPENDENT :</b><span class="span_space">{{dep_dt ? dep_dt :
                'N/A'}}</span></label></th>
        </tr>
        <tr>
          <th colspan="3"><label for="member_type" class="label_field"><b>SIGNATURE OF SELF
                :</b><span class="span_space"></span></label></th>
        </tr>
        <tr>
          <th colspan="3"><label for="member_type" class="label_field"><b>SIGNATURE OF SPOUSE
                :</b><span class="span_space"></span></label></th>
        </tr>
      </table>
    </div>

    <div *ngIf="mem_type === 'L'">
      <table class="table_space">
        <tr>
          <th colspan="3" class="text-center" style="background-color: aliceblue;"><label for="member_type"
              class="label_field color"><b>DETAILS OF THE MEMBER</b></label></th>
        </tr>
        <tr>
          <th colspan="2"><label for="form_no" class="label_field"><b>Form No :
              </b><span class="span_space">{{form_no}}</span></label></th>
          <th class="text-center" rowspan="7" style="width: 20%;">
            <img src="{{ memb_pic ? (api_base_url + '/' + memb_pic) : '' }}" height="100%" width="100%" alt="" />
            <!-- <label for="photo" class="label_field"><b><u>PHOTOGRAPH</u></b></label> -->
          </th>

        </tr>
        <tr>
          <th colspan="2"><label for="mem_name" class="label_field"><b>NAME :</b><span
                class="span_space">{{memb_name}}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="2"><label for="member_type" class="label_field"><b>TYPE OF
                MEMBERSHIP
                :</b><span class="span_space">{{mem_type=='G' ? 'General Membership' : mem_type=='L' ? 'Life Membership'
                :
                'Associate
                Membership'}}</span></label></th>
        </tr>
        <tr>
          <th colspan="2"><label for="unit" class="label_field"><b>NAME OF THE UNIT
                FROM
                WHERE SUPERANNUATED
                :</b><span class="span_space">{{unit_name}}</span></label></th>
        </tr>
        <tr>
          <th colspan="2"><label for="staff_no" class="label_field"><b>STAFF NO
                :</b><span class="span_space">{{staff_nos}}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="2"><label for="pers_no" class="label_field"><b>PERS NO
                :</b><span class="span_space">{{pers_no}}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="2"><label for="gurd_name" class="label_field"><b>FATHER'S Name
                :</b><span class="span_space">{{gurdian_name}}</span></label></th>
        </tr>
        <tr>
          <th colspan="3"><label for="addr" class="label_field"><b>ADDRESS
                :</b><span class="span_space">{{memb_address}}</span></label>
          </th>
        </tr>
        <tr>
          <th><label for="ps" class="label_field"><b>P.S. </b><span class="span_space">{{ps}}</span></label></th>
          <th><label for="phone" class="label_field"><b>PHONE NO. </b><span
                class="span_space">{{phone_no}}</span></label>
          </th>
          <th><label for="blood_grp" class="label_field"><b>BLOOD GROUP :</b><span
                class="span_space">{{blood_grp}}</span></label></th>
        </tr>
        <tr>
          <th><label for="dob" class="label_field"><b>DATE OF BIRTH :</b><span class="span_space">{{dob}}</span></label>
          </th>
          <th colspan="2"><label for="email_id" class="label_field"><b>EMAIL NO. </b><span
                class="span_space">{{email_id}}</span></label>
          </th>
        </tr>
        <tr>
          <th><label for="min_no" class="label_field"><b>MIN NO. (SELF) :</b><span
                class="span_space">{{min_no}}</span></label></th>
          <th colspan="2"><label for="min_no_spou" class="label_field"><b>MIN NO. (SPOUSE)
                :</b></label><span class="span_space">{{ spou_min && spou_min.length > 0 ? spou_min[0].spou_min : 'N/A'
              }}</span></th>
        </tr>
        <tr>
          <th colspan="3" class="text-center" style="background-color: aliceblue;"><label for="member_type"
              class="label_field color"><b>DETAILS OF THE SPOUSE</b></label></th>
        </tr>
        <tr>
          <th colspan="2"><label for="spou_name" class="label_field"><b>NAME :</b><span class="span_space">{{ spou_min
                && spou_min.length > 0 ? spou_min[0].dependent_name : 'N/A' }}</span></label>
          </th>
          <th class="text-center" rowspan="4" style="width: 20%;">
            <img src="{{spou_min[0]?.spou_pic ? api_base_url + '/' + spou_min[0]?.spou_pic : ''}}" height="100%"
              width="100%" src="" alt="Photograph" />
          </th>
        </tr>
        <tr>
          <th colspan="2"><label for="spou_blood" class="label_field"><b>BLOOD GROUP
                :</b><span class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.spou_blood_grp : 'N/A'}}</span></label></th>
        </tr>
        <tr>
          <th colspan="2"><label for="father_name" class="label_field"><b>FATHER'S NAME
                :</b><span class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.gurd_name : 'N/A'}}</span></label></th>
        </tr>
        <tr>
          <th><label for="depen_dob" class="label_field"><b>DATE OF BIRTH :</b><span class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.spou_dob : 'N/A'}}</span></label>
          </th>
          <th><label for="depen_mob" class="label_field"><b>MOBILE NO :</b><span class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.spou_phone : 'N/A'}}</span></label></th>
        </tr>
        <tr>
        </tr>
        <tr>
          <th colspan="3"><label for="member_type" class="label_field"><b>ADDRESS :</b><span
                class="span_space">{{spou_min
                && spou_min.length > 0 ? spou_min[0]?.spou_memb_address : 'N/A'}}</span></label>
          </th>
        </tr>
        <tr>
          <th><label for="member_type" class="label_field"><b>P.S. </b><span class="span_space"> {{ spou_min &&
                spou_min.length > 0 ? spou_min[0].spou_ps : 'N/A' }}</span></label></th>
          <th colspan="2"><label for="member_type" class="label_field"><b>PHONE NO. </b><span class="span_space">{{
                spou_min && spou_min.length > 0 ? spou_min[0].spou_phone : 'N/A' }}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="3"><label for="depen" class="label_field"><b>NAME OF
                DEPENDENT :</b><span class="span_space">{{dep_dt ? dep_dt :
                'N/A'}}</span></label></th>
        </tr>
        <tr>
          <th colspan="3"><label for="member_type" class="label_field"><b>SIGNATURE OF SELF
                :</b><span class="span_space"></span></label></th>
        </tr>
        <tr>
          <th colspan="3"><label for="member_type" class="label_field"><b>SIGNATURE OF SPOUSE
                :</b><span class="span_space"></span></label></th>
        </tr>
      </table>
    </div>

    <div *ngIf="mem_type === 'AI'">
      <table class="table_space">
        <tr>
          <th colspan="4" class="text-center" style="background-color: aliceblue">
            <label for="member_type" class="label_field color"><b>DETAILS OF THE MEMBER</b></label>
          </th>
        </tr>
        <tr>
          <th colspan="3">
            <label for="form_no" class="label_field"><b>Form No : </b><span class="span_space">{{ form_no
                }}</span></label>
          <th class="text-center" rowspan="4" style="width: 20%;">
            <img src="{{membInfo?.memb_pic ? api_base_url + '/' + membInfo?.memb_pic : ''}}" height="100%" width="100%"
              alt="" />
          </th>
        </tr>
        <tr>
          <th colspan="3">
            <label for="mem_name" class="label_field"><b>NAME :</b><span class="span_space">{{ membInfo?.memb_name
                }}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="3">
            <label for="gurd_name" class="label_field"><b>FATHER'S Name :</b><span class="span_space">{{
                membInfo?.gurdian_name }}</span></label>
          </th>
        </tr>
        <tr>
          <th>
            <label for="marital_st" class="label_field" style="width: 74vw;"><b>MARITAL STATUS </b><span
                class="span_space">{{ membInfo?.marital_status=='M' ? 'Married' : membInfo?.marital_status=='U' ?
                'Unmarried' : membInfo?.marital_status=='D' ? 'Divorced' : 'Widow'
                }}</span></label>
          </th>
          <th colspan="2">
            <label for="gender" class="label_field"><b>GENDER </b><span class="span_space">{{ membInfo?.gender=='M' ?
                'Male' : 'Female'
                }}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="3">
            <label for="dob" class="label_field"><b>DATE OF BIRTH :</b><span class="span_space">{{ membInfo?.dob | date:
                'dd/MM/yyyy' }}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="4">
            <label for="addr" class="label_field"><b>ADDRESS :</b><span class="span_space">{{ membInfo?.memb_address
                }}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <label for="email_id" class="label_field"><b>EMAIL ID :</b><span class="span_space">{{
                membInfo?.email_id
                }}</span></label>
          </th>
          <th colspan="2">
            <label for="phone" class="label_field"><b>PHONE NO. </b><span class="span_space">{{ membInfo?.phone_no
                }}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <label for="ps" class="label_field"><b>P.S. </b><span class="span_space">{{membInfo?.ps }}</span></label>
          </th>
          <th colspan="2">
            <label for="cast" class="label_field"><b>CASTE </b><span class="span_space">{{ membInfo?.caste=='G' ?
                'General' : membInfo?.caste=='S' ? 'SC' : membInfo?.caste=='T' ? 'ST' : 'Others'
                }}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="4" class="text-center" style="background-color: aliceblue">
            <label for="member_type" class="label_field color"><b>DETAILS OF THE INTRODUCER</b></label>
          </th>
        </tr>
        <tr>
          <th colspan="4">
            <label for="spou_name" class="label_field"><b>NAME OF THE INTRODUCER :</b><span class="span_space">{{
                spouseInfo?.dependent_name
                }}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <label for="memb_id_no" class="label_field"><b>MEMB ID NO. :</b><span class="span_space">{{
                spouseInfo?.intro_member_id
                }}</span></label>
          </th>
          <th colspan="2">
            <label for="relation" class="label_field"><b>Relation :</b><span class="span_space">{{
                spouseInfo?.relation_name
                }}</span></label>
          </th>
        </tr>
        <tr>
          <th colspan="4" class="text-center">(* must be life member / founder member / general members of Bokaro Steel
            People Welfare
            Association.)</th>
        </tr>

        <tr>
          <th colspan="4" class="text-center" style="background-color: aliceblue">
            <label for="member_type" class="label_field color"><b>DETAILS OF THE DEPENDENTS</b></label>
          </th>
        </tr>
        <tr>
          <th>
            <label for="sl_no" class="label_field"><b>SL NO</b><span class="span_space"></span></label>
          </th>
          <th>
            <label for="dependent_name" class="label_field"><b>NAME OF THE DEPENDENTS</b><span
                class="span_space"></span></label>
          </th>
          <th>
            <label for="relationship" class="label_field"><b>RELATIONSHIP</b><span class="span_space"></span></label>
          </th>
          <th>
            <label for="dob" class="label_field"><b>DOB(DD/MM/YYYY)</b><span class="span_space"></span></label>
          </th>
        </tr>
        <tr *ngFor="let dt of dependInfo; let i = index">
          <th><span class="span_space">{{i+1}}</span></th>
          <th style="width: 38vw;"><span class="span_space">{{dt.dependent_name}}</span></th>
          <th><span class="span_space">{{dt.relation_name}}</span></th>
          <th><span class="span_space">{{dt.dob | date: 'dd/MM/yyyy'}}</span></th>
        </tr>
        <tr>
          <th colspan="4">
            I hereby declare that above information is true & agree to abide by all the rules and regulation adopted by
            the Society
            and in token thereof I hereunder put my signature / thumb inpression and enclose a cheque for Rs. 250/- +
            50/-
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <label for="sign_applicant" class="label_field"><b>SIGNATURE OF THE APPLICANT :</b><span
                class="span_space"></span></label>
          </th>
          <th colspan="2">
            <label for="date" class="label_field"><b>DATE :</b><span class="span_space"></span></label>
          </th>
        </tr>
        <tr>
          <th colspan="4">
            I hereby recommend for acceptance his associate membership as he is related to me and the relation as
            mentioned
            above is certified as true. I hereunder put my signature / thumb impression
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <label for="sign_applicant" class="label_field"><b>SIGNATURE OF THE MEMBER WITH ID NO :</b><span
                class="span_space"></span></label>
          </th>
          <th colspan="2">
            <label for="date" class="label_field"><b>DATE :</b><span class="span_space"></span></label>
          </th>
        </tr>
      </table>
    </div>


    <div *ngIf="mem_type === 'G'">
      <div class="row mt-3">
        <div class="col-12">
          <h4 class="letter color">FOR OFFICE USE ONLY</h4><br>
          <div class="col-6">
            <h4 class="letter" style="color: black;float: left;">Membership {{memb_status== 'R' ? 'Rejected' :
              ''}} vide Resolution No. <span class="span_space">{{resolution_no}}</span></h4>
            <br>
          </div>
          <div class="col-6">
            <h4 class="letter" style="color: black;">Dated : <span class="span_space">{{resolution_dt
                | date:
                'yyyy-MM-dd'}}</span>
            </h4><br>
          </div>

          <div *ngIf="memb_status=='T'">
            <h4 class="letter" style="color: black;">Type of Membership : <span class="span_space">{{mem_type=='G' ?
                'General Membership' : mem_type=='L' ? 'Life Membership' :
                'Associate
                Membership'}}</span></h4>
            <h4 class="letter" style="color: black;">Mebership Subscription Fee <span
                class="span_space">{{subscription_1}}/- ({{subs_type== 'M' ? 'Monthly' : 'Yearly'}})</span></h4>
            <h4 class="letter" style="color: black;">1) Admission Fee : <span class="span_space">{{adm_fee}}</span></h4>
            <h4 class="letter" style="color: black;">2) Donation/ subscription : <span
                class="span_space">{{donation}}</span></h4>
            <h4 class="letter" style="color: black;">3) Total Amount to be deposited : <span
                class="span_space">{{tot_amt}}</span>
            </h4>
          </div>
          <div *ngIf="memb_status=='R'">
            <h4 class="letter" style="color: black;">Reason : <span class="span_space">{{remarks}}</span>
            </h4>
          </div>
          <h4 class="letter" style="color: black;margin-left: 60vw;">Secretary / President</h4>
        </div>
      </div>
    </div>

    <div *ngIf="mem_type === 'L'">
      <div class="row mt-3">
        <div class="col-12">
          <h4 class="letter color">FOR OFFICE USE ONLY</h4><br>
          <div class="col-6">
            <h4 class="letter" style="color: black;float: left;">Membership {{memb_status== 'R' ? 'Rejected' :
              ''}} vide Resolution No. <span class="span_space">{{resolution_no}}</span></h4>
            <br>
          </div>
          <div class="col-6">
            <h4 class="letter" style="color: black">Dated : <span class="span_space">{{resolution_dt
                |
                date:
                'yyyy-MM-dd'}}</span>
            </h4><br>
          </div>

          <div *ngIf="memb_status=='T'">
            <h4 class="letter" style="color: black;">Type of Membership : <span class="span_space">{{mem_type=='G' ?
                'General Membership' : mem_type=='L' ? 'Life Membership' :
                'Associate
                Membership'}}</span></h4>
            <!-- <h4 class="letter" style="color: black;">Amount to be deposited <span
              class="span_space">{{subscription_2}}(Yearly) And
              {{subscription_1}}(Monthly)</span></h4> -->
            <h4 class="letter" style="color: black;">Mebership Subscription Fee <span
                class="span_space">{{subscription_2}}(Yearly) And
                {{subscription_1}}(Monthly)</span></h4>
            <h4 class="letter" style="color: black;">1) Admission Fee : <span class="span_space">{{adm_fee}}</span></h4>
            <h4 class="letter" style="color: black;">2) Donation/ subscription : <span
                class="span_space">{{donation}}</span></h4>
            <h4 class="letter" style="color: black;">3) Total Amount to be deposited : <span
                class="span_space">{{tot_amt}}</span>
            </h4>
          </div>
          <div *ngIf="memb_status=='R'">
            <h4 class="letter" style="color: black;">Reason : <span class="span_space">{{remarks}}</span>
            </h4>
          </div>
          <h4 class="letter" style="color: black;margin-left: 60vw;">Secretary / President</h4>
        </div>
      </div>
    </div>

    <div *ngIf="mem_type === 'AI'">
      <div class="row mt-3">
        <div class="col-12">
          <h4 class="letter color">FOR OFFICE USE ONLY</h4><br>
          <!-- <h4 class="letter" style="color: black;">Mebership Subscription Fee <span
              class="span_space">{{subscription_1}}/- ({{subs_type== 'M' ? 'Monthly' : 'Yearly'}})</span></h4> -->
          <h4 class="letter" style="color: black;">1) Admission Fee : <span
              class="span_space">{{this.form.get('admissionFee_associate')?.value}} /-</span></h4>
          <h4 class="letter" style="color: black;">2) Onetime : <span
              class="span_space">{{this.form.get('subscriptionFee_associate_one')?.value}} /-</span></h4>
          <h4 class="letter" style="color: black;">3) Total Amount to be deposited : <span
              class="span_space">{{this.form.get('admissionFee_associate')?.value +
              this.form.get('subscriptionFee_associate_one')?.value}} /- (Onetime)</span>
          </h4>
          <div class="col-6">
            <h4 class="letter" style="color: black;float: left;">Associate Membership {{memb_status== 'R' ? 'Rejected' :
              ''}} vide Resolution
              No. <span class="span_space">{{resolution_no}}</span></h4>
          </div>
          <br>
          <div class="col-6">
            <h4 class="letter" style="color: black;">Dated : <span class="span_space"> {{resolution_dt
                |
                date:
                'yyyy-MM-dd'}}</span>
            </h4><br>
          </div>
          <div *ngIf="memb_status=='T'">
            <h4 class="letter" style="color: black;">Total Amount to be deposited : <span
                class="span_space">{{tot_amt}}</span>
            </h4>
          </div>
          <div *ngIf="memb_status=='R'">
            <h4 class="letter" style="color: black;">Reason : <span class="span_space">{{remarks}}</span>
            </h4>
          </div>
          <h4 class="letter" style="color: black;margin-left: 60vw;">Secretary / President</h4>
        </div>
      </div>
    </div>

  </div>

  <p-divider type="dashed"></p-divider>

  <h4 class="text-center" style="color: black;">Approval Section</h4>

  <form [formGroup]="form">
    <div class="flex flex-row mt-5">
      <div class="field col-12 md:col-4">
        <label for="resolution_no" class="label_field" style="color: black;"><b>Resolution No:<span
              class="text-red-700">*</span></b></label>&nbsp;
        <input id="resolution_no" type="text" formControlName="resolution_no" placeholder="Enter Resolution No"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        <div *ngIf="f['resolution_no']?.touched || f['resolution_no']?.dirty">
          <small class="text-red-900" *ngIf="f['resolution_no']?.errors">Resolution No is required.</small>
        </div>
      </div>
      <div class="field col-12 md:col-4">
        <label for="resolution_dt" class="label_field" style="color: black;"><b>Resolution Date:<span
              class="text-red-700">*</span></b></label>&nbsp;
        <input id="resolution_dt" type="date" formControlName="resolution_dt" placeholder="dd/mm/yyyy"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        <div *ngIf="f['resolution_dt']?.touched || f['resolution_dt']?.dirty">
          <small class="text-red-900" *ngIf="f['resolution_dt']?.errors">resolution_dt is required.</small>
        </div>
      </div>

      <div class="field col-12 md:col-4">
        <label for="status" class="label_field" style="color: black;"><b>Status:</b></label>&nbsp;
        <select id="status" formControlName="status" [(ngModel)]="selectedValue"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto; height: 3vw; border-radius: 7px">
          <option value="P" select>Pending</option>
          <option value="T">Accept</option>
          <option value="R">Reject</option>
        </select>
      </div>
    </div>

    <p-divider type="dashed"></p-divider>

    <div *ngIf="showGenFee()">
      <h4 class="text-center" style="color: black;">Fee Details</h4>
      <div class="formgrid grid mt-1">
        <div class="field col-12 md:col-4">
          <label for="admissionFee" style="color: black"><b>Admission Fee</b></label>
          <input id="admissionFee" type="number" formControlName="admissionFee" placeholder="Enter admission fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
        <div class="field col-12 md:col-4">
          <label for="donationFee" style="color: black"><b>Donation Fee</b></label>
          <input id="donationFee" type="number" formControlName="donationFee" placeholder="Enter donation fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
        <!-- <div class="field col-12 md:col-4">
          <label for="subscriptionFee" style="color: black"><b>Subscription Fee</b></label>
          <input id="subscriptionFee" type="text" formControlName="subscriptionFee" (change)="number_validation($event)"
            placeholder="Enter subscription fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div> -->

        <div class="field col-12 md:col-4">
          <label for="subscriptionFee" style="color: black"><b>Subscription Fee</b></label>
          <input id="subscriptionFee" type="text" formControlName="subscriptionFee"
            placeholder="Enter subscription fee...." (change)="number_validation($event)"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <div
            *ngIf="f['subscriptionFee']?.dirty || f['subscriptionFee']?.touched || f['subscriptionFee']?.hasError('notDivisibleByTwo')"
            class="error-message">
            <small class="text-red-700" *ngIf="f['subscriptionFee']?.errors">
              Please enter a valid Subscription fee it is required.
            </small>
            <!-- <div *ngIf="f['subscriptionFee']?.hasError('notDivisibleByTwo')">
              Subscription fee is required.
            </div> -->
          </div>
        </div>

      </div>

      <div class="formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="subscriptionType" style="color: black"><b>Subscription Type</b></label>
          <select id="subscriptionType" formControlName="subscriptionType"
            class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
            style="appearance: auto">
            <option value="" select>Select Subscription</option>
            <option value="M">Monthly</option>
            <option value="Y">Yearly</option>
          </select>
        </div>
        <div class="field col-12 md:col-6">
          <label for="totalAmount" style="color: black"><b>Total Amount</b></label>
          <input id="totalAmount" type="number" formControlName="totalAmount" readonly
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
      </div>

      <p-divider type="dashed"></p-divider>

      <h4 class="text-center" style="color: black;">Payment Mode</h4>
      <div class="flex flex-row">
        <div class="field col-12 md:col-12">
          <label for="payment" class="label_field" style="color: black;"><b>Payment Mode:</b></label>&nbsp;
          <select id="payment" formControlName="payment" [(ngModel)]="selectedValue2"
            class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
            style="appearance: auto; height: 3vw; border-radius: 7px">
            <option value="N" select>Select Payment Mode</option>
            <option value="C">Cash</option>
            <option value="Q">Cheque</option>
            <option value="O">Online Transaction</option>
          </select>
        </div>
      </div>

      <div class="flex flex-row" *ngIf="form.controls['payment'].value != 'Q'">
        <div class="field col-12 md:col-12">
          <label for="receipt_no" style="color: black"><b>Receipt No<span class="text-red-700">*</span></b></label>
          <input id="receipt_no" type="text" formControlName="receipt_no" placeholder="Enter Receipt No...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <div *ngIf="f['receipt_no']?.touched || f['receipt_no']?.dirty">
            <small class="text-red-900" *ngIf="f['receipt_no']?.errors">Receipt No is required.</small>
          </div>
        </div>
      </div>
      <div *ngIf="form.controls['payment'].value!= 'Q'">
        <div class="flex flex-row">
          <!-- <button pButton pRipple type="button" label="DONE" class="p-button-raised" (click)="cash_accept()"
            [disabled]="f['subscriptionFee'].hasError('notDivisibleByTwo') || f['subscriptionFee'].value == ''"></button> -->
          <button pButton pRipple type="button" label="DONE" class="p-button-raised" (click)="cash_accept()"></button>
        </div>
      </div>

      <div *ngIf="form.controls['payment'].value === 'Q'">
        <div class="formgrid grid mt-3">
          <div class="field col-12 md:col-4">
            <label for="cheque_dt" style="color: black"><b>Cheque Date<span class="text-red-700">*</span></b></label>
            <input id="cheque_dt" type="date" formControlName="cheque_dt" placeholder="Enter Cheque dt...."
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            <div *ngIf="f['cheque_dt']?.touched || f['cheque_dt']?.dirty">
              <small class="text-red-900" *ngIf="f['cheque_dt']?.errors">Cheque Date is required.</small>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label for="cheque_no" style="color: black"><b>Cheque No<span class="text-red-700">*</span></b></label>
            <input id="cheque_no" type="text" formControlName="cheque_no" placeholder="Enter Cheque No...."
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            <div *ngIf="f['cheque_no']?.touched || f['cheque_no']?.dirty">
              <small class="text-red-900" *ngIf="f['cheque_no']?.errors">Cheque No is required.</small>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label for="bank_name" style="color: black"><b>Bank Name<span class="text-red-700">*</span></b></label>
            <input id="bank_name" type="text" formControlName="bank_name" placeholder="Enter Bank Name...."
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            <div *ngIf="f['bank_name']?.touched || f['bank_name']?.dirty">
              <small class="text-red-900" *ngIf="f['bank_name']?.errors">Bank Name is required.</small>
            </div>
          </div>
        </div>
        <div class="flex flex-row">
          <!-- <button pButton pRipple type="button" label="DONE" class="p-button-raised sub_btn" (click)="cheque_accept()"
            [disabled]="f['subscriptionFee'].hasError('notDivisibleByTwo') || f['subscriptionFee'].value == ''"></button> -->
          <button pButton pRipple type="button" label="DONE" class="p-button-raised sub_btn"
            (click)="cheque_accept()"></button>
        </div>
      </div>
    </div>

    <div *ngIf="showLifeFee()">
      <h4 class="text-center" style="color: black;">Fee Details</h4>
      <div class="formgrid grid mt-1">
        <div class="field col-12 md:col-3">
          <label for="admissionFee_life" style="color: black"><b>Admission Fee</b></label>
          <input id="admissionFee_life" type="number" formControlName="admissionFee_life"
            placeholder="Enter admission fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
        <div class="field col-12 md:col-3">
          <label for="donationFee_life" style="color: black"><b>Donation Fee</b></label>
          <input id="donationFee_life" type="number" formControlName="donationFee_life"
            placeholder="Enter donation fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
        <div class="field col-12 md:col-3">
          <label for="subscriptionFee_2" style="color: black"><b>Onetime Subscription Fee</b></label>
          <input id="subscriptionFee_2" type="text" formControlName="subscriptionFee_2"
            placeholder="Enter subscription fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
        <div class="field col-12 md:col-3">
          <label for="subscriptionFee_1" style="color: black"><b>Yearly Subscription Fee</b></label>
          <input id="subscriptionFee_1" type="text" formControlName="subscriptionFee_1"
            (change)="number_validation($event)" placeholder="Enter subscription fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <div
            *ngIf="f['subscriptionFee_1']?.dirty || f['subscriptionFee_1']?.touched || f['subscriptionFee_1']?.hasError('notDivisibleByTwo')"
            class="error-message">
            <small class="text-red-700" *ngIf="f['subscriptionFee_1']?.errors">
              Please enter a valid Subscription fee it is required.
            </small>
            <!-- <div *ngIf="f['subscriptionFee']?.hasError('notDivisibleByTwo')">
               Subscription fee is required.
             </div> -->
          </div>
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field col-12 md:col-8">
          <label for="totalAmount_life" style="color: black"><b>Total Amount</b></label>
          <input id="totalAmount_life" type="number" formControlName="totalAmount_life" readonly
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
      </div>

      <p-divider type="dashed"></p-divider>

      <h4 class="text-center" style="color: black;">Payment Mode</h4>
      <div class="flex flex-row">
        <div class="field col-12 md:col-12">
          <label for="payment" class="label_field" style="color: black;"><b>Payment Mode:</b></label>&nbsp;
          <select id="payment" formControlName="payment" [(ngModel)]="selectedValue2"
            class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
            style="appearance: auto; height: 3vw; border-radius: 7px">
            <option value="N" select>Select Payment Mode</option>
            <option value="C">Cash</option>
            <option value="Q">Cheque</option>
            <option value="O">Online Transaction</option>
          </select>
        </div>
      </div>

      <div class="flex flex-row" *ngIf="form.controls['payment'].value != 'Q'">
        <div class="field col-12 md:col-12">
          <label for="receipt_no" style="color: black"><b>Receipt No<span class="text-red-700">*</span></b></label>
          <input id="receipt_no" type="text" formControlName="receipt_no" placeholder="Enter Receipt No...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <div *ngIf="f['receipt_no']?.touched || f['receipt_no']?.dirty">
            <small class="text-red-900" *ngIf="f['receipt_no']?.errors">Receipt No is required.</small>
          </div>
        </div>
      </div>

      <div *ngIf="form.controls['payment'].value!= 'Q'">
        <div class="flex flex-row">
          <!-- <button pButton pRipple type="button" label="DONE" class="p-button-raised" (click)="cash_accept_life()"
            [disabled]="f['subscriptionFee_1'].hasError('notDivisibleByTwo') || f['subscriptionFee_1'].value == ''"></button> -->
          <button pButton pRipple type="button" label="DONE" class="p-button-raised"
            (click)="cash_accept_life()"></button>
        </div>
      </div>

      <div *ngIf="form.controls['payment'].value === 'Q'">
        <div class="formgrid grid mt-3">
          <div class="field col-12 md:col-4">
            <label for="cheque_dt" style="color: black"><b>Cheque Date<span class="text-red-700">*</span></b></label>
            <input id="cheque_dt" type="date" formControlName="cheque_dt" placeholder="Enter Cheque dt...."
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            <div *ngIf="f['cheque_dt']?.touched || f['cheque_dt']?.dirty">
              <small class="text-red-900" *ngIf="f['cheque_dt']?.errors">Cheque Date is required.</small>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label for="cheque_no" style="color: black"><b>Cheque No<span class="text-red-700">*</span></b></label>
            <input id="cheque_no" type="text" formControlName="cheque_no" placeholder="Enter Cheque No...."
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            <div *ngIf="f['cheque_no']?.touched || f['cheque_no']?.dirty">
              <small class="text-red-900" *ngIf="f['cheque_no']?.errors">Cheque No is required.</small>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label for="bank_name" style="color: black"><b>Bank Name<span class="text-red-700">*</span></b></label>
            <input id="bank_name" type="text" formControlName="bank_name" placeholder="Enter Bank Name...."
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            <div *ngIf="f['bank_name']?.touched || f['bank_name']?.dirty">
              <small class="text-red-900" *ngIf="f['bank_name']?.errors">Bank Name is required.</small>
            </div>
          </div>
        </div>
        <div class="flex flex-row">
          <!-- <button pButton pRipple type="button" label="DONE" class="p-button-raised sub_btn"
            (click)="cheque_accept_life()"
            [disabled]="f['subscriptionFee_1'].hasError('notDivisibleByTwo') || f['subscriptionFee_1'].value == ''"></button> -->
          <button pButton pRipple type="button" label="DONE" class="p-button-raised sub_btn"
            (click)="cheque_accept_life()"></button>
        </div>
      </div>
    </div>

    <div *ngIf="showAssociateFee()">
      <h4 class="text-center" style="color: black;">Fee Details</h4>
      <div class="formgrid grid mt-1">
        <div class="field col-12 md:col-3">
          <label for="admissionFee_associate" style="color: black"><b>Admission Fee</b></label>
          <input id="admissionFee_associate" type="number" formControlName="admissionFee_associate"
            placeholder="Enter admission fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
        <div class="field col-12 md:col-3">
          <label for="donationFee_associate" style="color: black"><b>Donation Fee</b></label>
          <input id="donationFee_associate" type="number" formControlName="donationFee_associate"
            placeholder="Enter donation fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
        <div class="field col-12 md:col-3">
          <label for="subscriptionFee_associate_one" style="color: black"><b>Onetime Subscription Fee</b></label>
          <input id="subscriptionFee_associate_one" type="text" formControlName="subscriptionFee_associate_one"
            placeholder="Enter subscription fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
        <div class="field col-12 md:col-3">
          <label for="subscriptionFee_associate" style="color: black"><b>Yearly Subscription Fee</b></label>
          <input id="subscriptionFee_associate" type="text" formControlName="subscriptionFee_associate"
            (change)="number_validation($event)" placeholder="Enter subscription fee...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="totalAmount_associate" style="color: black"><b>Total Amount</b></label>
          <input id="totalAmount_associate" type="number" formControlName="totalAmount_associate" readonly
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
      </div>

      <p-divider type="dashed"></p-divider>

      <h4 class="text-center" style="color: black;">Payment Mode</h4>
      <div class="flex flex-row">
        <div class="field col-12 md:col-12">
          <label for="payment" class="label_field" style="color: black;"><b>Payment Mode:</b></label>&nbsp;
          <select id="payment" formControlName="payment" [(ngModel)]="selectedValue2"
            class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
            style="appearance: auto; height: 3vw; border-radius: 7px">
            <option value="N" select>Select Payment Mode</option>
            <option value="C">Cash</option>
            <option value="Q">Cheque</option>
            <option value="O">Online Transaction</option>
          </select>
        </div>
      </div>

      <div class="flex flex-row" *ngIf="form.controls['payment'].value != 'Q'">
        <div class="field col-12 md:col-12">
          <label for="receipt_no" style="color: black"><b>Receipt No<span class="text-red-700">*</span></b></label>
          <input id="receipt_no" type="text" formControlName="receipt_no" placeholder="Enter Receipt No...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <div *ngIf="f['receipt_no']?.touched || f['receipt_no']?.dirty">
            <small class="text-red-900" *ngIf="f['receipt_no']?.errors">Receipt No is required.</small>
          </div>
        </div>
      </div>

      <div *ngIf="form.controls['payment'].value!= 'Q'">
        <div class="flex flex-row">
          <button pButton pRipple type="button" label="DONE" class="p-button-raised"
            (click)="cash_accept_associate()"></button>
        </div>
      </div>

      <div *ngIf="form.controls['payment'].value === 'Q'">
        <div class="formgrid grid mt-3">
          <div class="field col-12 md:col-4">
            <label for="cheque_dt" style="color: black"><b>Cheque Date<span class="text-red-700">*</span></b></label>
            <input id="cheque_dt" type="date" formControlName="cheque_dt" placeholder="Enter Cheque dt...."
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            <div *ngIf="f['cheque_dt']?.touched || f['cheque_dt']?.dirty">
              <small class="text-red-900" *ngIf="f['cheque_dt']?.errors">Cheque Date is required.</small>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label for="cheque_no" style="color: black"><b>Cheque No<span class="text-red-700">*</span></b></label>
            <input id="cheque_no" type="text" formControlName="cheque_no" placeholder="Enter Cheque No...."
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            <div *ngIf="f['cheque_no']?.touched || f['cheque_no']?.dirty">
              <small class="text-red-900" *ngIf="f['cheque_no']?.errors">Cheque No is required.</small>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <label for="bank_name" style="color: black"><b>Bank Name<span class="text-red-700">*</span></b></label>
            <input id="bank_name" type="text" formControlName="bank_name" placeholder="Enter Bank Name...."
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            <div *ngIf="f['bank_name']?.touched || f['bank_name']?.dirty">
              <small class="text-red-900" *ngIf="f['bank_name']?.errors">Bank Name is required.</small>
            </div>
          </div>
        </div>
        <div class="flex flex-row">
          <button pButton pRipple type="button" label="DONE" class="p-button-raised sub_btn"
            (click)="cheque_accept_associate()"></button>
        </div>
      </div>
    </div>

    <div *ngIf="form.controls['status'].value === 'R'">
      <div class="flex flex-row">
        <div class="field col-12">
          <label for="reject" class="label_field"><b>Reason:<span class="text-red-700">*</span></b></label>&nbsp;
          <textarea id="reject" formControlName="reject" rows="4"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
          <div *ngIf="f['reject']?.touched || f['reject']?.dirty">
            <small class="text-red-900" *ngIf="f['reject']?.errors">Reason is required.</small>
          </div>
        </div>
      </div>
      <div class="flex flex-row">
        <button pButton pRipple type="button" label="OK" class="p-button-raised sub_btn"
          (click)="reject_submit()"></button>
      </div>
    </div>
  </form>

</p-card>