<div class="view-container">
  <div id="divToPrint">
    <div class="print_top_head" style="position: relative;">
      <img src="assets/images/logo.jpg" alt="Logo" class="logo-img"
        style="width: 80px; display: block; margin: 0 auto 20px;" />
      <h2>BOSEC WELFARE TRUST</h2>
      <h4>13, Camac Street, Kolkata 700017</h4>
      <h4>(ESTD 2010)</h4>
      <h4 style="margin-top: 10px; font-weight: bold; color: #1a73e8;">PREMIUM RECEIPT FOR CHILDREN POLICY</h4>
      <p-button style="position: absolute; right: 0; bottom: 10px;" label="PRINT" icon="pi pi-print"
        styleClass="p-button-rounded p-button-info p-button-sm print_btn" (click)="printDiv()"></p-button>
    </div>

    <table class="details-table">
      <tr>
        <th>Member ID</th>
        <td>:</td>
        <td><b>{{member_id}}</b></td>
        <td class="ceperate"></td>
        <th>Member Name</th>
        <td>:</td>
        <td><b>{{trnData?.udf3}}</b></td>
      </tr>
      <tr>
        <th>Transaction ID</th>
        <td>:</td>
        <td><b>{{trn_id}}</b></td>
        <td class="ceperate"></td>
        <th>Transaction Date</th>
        <td>:</td>
        <td><b>{{trnData?.trn_dt | date: 'dd/MM/yyyy'}}</b></td>
      </tr>
      <tr>
        <th>Premium Amount</th>
        <td>:</td>
        <td><b>{{trnData?.premium_amt}}</b></td>
        <td class="ceperate"></td>
        <th>Total Amount</th>
        <td>:</td>
        <td><b>{{trnData?.tot_amt}}</b></td>
      </tr>
      <tr>
        <th>Paymode</th>
        <td>:</td>
        <td><b>{{trnData?.pay_mode == 'O' ? 'Online' : ''}}</b></td>
        <td class="ceperate"></td>
        <th>Status</th>
        <td>:</td>
        <td><b><span [ngStyle]="{'color': trnData?.approval_status == 'A' ? 'green' : 'red'}">{{trnData?.approval_status
              == 'U' ? 'Unapproved' : 'Approved'}}</span></b></td>
      </tr>
    </table>
  </div>
</div>