<style>
  .ceperate {
    width: 10%;
  }
</style>
<p-card>
  <div class="border-1 p-4 mb-4" id="divToPrint">
    <table width="100%" class="text-left">
      <tr>
        <th class="text-center" colspan="7">
          <div class="">
            <p>BOSEC WELFARE TRUST</p>
            <p>13, Camac Street, Kolkata 700017</p>
            <p>Transaction Details Of Children Policy</p>
          </div>
        </th>
      </tr>
      <tr>
  <!-- <th class="text-center" colspan="7" style="padding: 4px;">
    <div style="margin: 0; padding: 0; line-height: 1.2;">
      <p style="margin: 0;">BOSEC WELFARE TRUST</p>
      <p style="margin: 0;">13, Camac Street, Kolkata 700017</p>
      <p style="margin: 0;">Transaction Details Of Children Policy</p>
    </div>
  </th>
</tr> -->

      <tr>
        <td class="break" colspan="7"></td>
      </tr>
       <tr class="mt-3">
        <th>Member ID</th>
        <td class="text-left">:</td>
        <td>{{member_id}}</td>
        <td class="ceperate"></td>
        <th>Member Name</th>
        <td>:</td>
        <td>{{trnData?.udf3}}</td>
      </tr>
      <tr>
        <th>Transaction ID</th>
        <td class="text-left">:</td>
        <td>{{trn_id}}</td>
        <td class="ceperate"></td>
        <th>Transaction Date</th>
        <td>:</td>
        <td>{{trnData?.trn_dt | date: 'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <th>Premium Amount</th>
        <td>:</td>
        <td>{{trnData?.premium_amt}}</td>
        <td class="ceperate"></td>
        <th>Total Amount</th>
        <td>:</td>
        <td>{{trnData?.tot_amt}}</td>
      </tr>
      <tr>
        <th>Paymode</th>
        <td>:</td>
        <td>{{trnData?.pay_mode == 'O' ? 'Online' : ''}}</td>
        <td class="ceperate"></td>
        <th>Status</th>
        <td>:</td>
        <td>{{trnData?.approval_status == 'A' ? 'Approved' : ''}}</td>
      </tr>
    </table>
  </div>
  <p-button class="mt-5" label="PRINT" styleClass="p-button-rounded print_btn" (click)="printDiv()"
    style="margin-left: 33vw;"></p-button>
</p-card>