.table_space {
    margin-left: 14px;
}

.letter{
    margin-left: 19px;
    margin: 6PX;
    padding: 0;
}

.letter_style{
    margin-left: 22px;
    margin: 17PX;
    padding: 0;
}

p-button.p-element, .print_btn {
    bottom: 15px;
  }

  .size{
    margin-left: 67px;
}

.margin{
    margin-left: 65vw;
}

.badge {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 0.95em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375em;
  }

.badge-pending {
    color: #fff;
    background-color: #ffc107;
  }