<div class="dashboard-container">
  <h4 class="text-center mt-1">
    Policy No -<span class="brand-text_second"> 150100/50/25/10005125</span>
  </h4>
  <h4 class="text-center mt-1">
    IC Name -<span class="brand-text_second"> National Insurance Company Limited (Corporate)</span>
  </h4>
  <h2 class="text-center mt-2">
    Welcome To <span class="brand-text">Bokaro Steel People Welfare Association</span>
  </h2>

  <div class="card-grid">
    <!-- Member Details Card -->
    <div class="dashboard-card" (click)="open_member()">
      <img src="/assets/images/icon/employees.png" width="40" alt="Member">
       <!-- <i class="pi pi-user card-icon mt-3"></i> -->
      <p><b>Member Details</b></p>
    </div>

     <!-- Insurance Form Card -->
    <div class="dashboard-card" (click)="open_premium()">
      <img src="/assets/images/icon/premium.png" width="40" alt="Premium details">
      <p><b>Premium Details</b></p>
    </div>

    <!-- Insurance Form Card -->
    <div class="dashboard-card" (click)="open_first_premium()">
      <img src="/assets/images/icon/cashless-payment.png" width="40" alt="Premium payment">
      <p><b>Deposit Premium</b></p>
    </div>

     <!-- Insurance Form Card -->
    <!-- <div class="dashboard-card" (click)="open_premium()">
      <img src="/assets/images/icon/card.png" width="40" alt="Renew Premium">
      <p><b>Renew Premium Payment</b></p>
    </div> -->

      <!-- Insurance Form Card -->
    <div class="dashboard-card" (click)="open_trn_history()">
      <img src="/assets/images/icon/bill.png" width="40" alt="Receipt">
      <p><b>Premium Payment Receipt</b></p>
    </div>

       <!-- Download E-card -->
    <div class="dashboard-card" (click)="open_e_card()">
      <img src="/assets/images/icon/cards.png" width="40" alt="Receipt">
      <p><b>Download E-card</b></p>
    </div>
  </div>
</div>
