<style>
  table {
    font-size: 15px;
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* tr:hover {
      background-color: #ddd;
  } */
  th,
  td {
    padding: 15px;
    text-align: left;
  }

  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  .margin {
    float: right;
    margin-left: 0px;
  }
</style>

<div class="background">
  <div class="form-container">
    <p-card id="divToPrint">
      <div class="row">
        <div class="col-md-6">
          <h4 class="color">
            <b><u>ASSOCIATE MEMBERSHIP FORM</u></b>
          </h4>
        </div>
        <div class="col-md-6">
          <h4 class="margin" style="color: black">
            <b><u>ANNEXURE IV</u></b>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-12 print_top_head">
          <h4 class="letter" style="color: black">TO <br> The Secreatry</h4>
          <h3 class="letter" style="color: black">
            BOKARO STEEL PEOPLE WELFARE ASSOCIATION
          </h3>
          <h4 class="letter" style="color: black">Kolkata <br> Dear Sir, <br><br>
            I am desirous to take the associate membership of the Association, Details in
            regard to me and my dependents are given below <br><br>
          </h4>
        </div>
      </div>

      <div class="row table_print_outer">
        <table class="table_space" cellspacing="0" cellpadding="0">
          <tr>
            <th colspan="4" class="text-center" style="background-color: aliceblue">
              <label for="member_type" class="label_field color"><b>DETAILS OF THE MEMBER</b></label>
            </th>
          </tr>
          <tr>
            <th colspan="3">
              <label for="form_no" class="label_field"><b>Form No : </b><span class="span_space">{{ form_no
                  }}</span></label>
            </th>
            <!-- <th class="text-center" rowspan="5" style="width: 20%;">
              <img src="{{membInfo?.memb_pic ? api_base_url + '/' + membInfo?.memb_pic : ''}}" height="100%"
                width="100%" alt="" />
            </th> -->
            <th class="text-center" rowspan="7" style="width: 20%;">
              <i class="pi pi-camera" style="font-size: 2rem"></i><img *ngIf="membInfo?.memb_pic; else noImage"
                [src]="api_base_url + '/' + membInfo?.memb_pic" height="100%" width="100%" alt="Member Photo" />
              <ng-template #noImage>
                <div class="no-image">
                  <h5>No Image uploaded</h5>
                </div>
              </ng-template>
            </th>
          </tr>
          <tr>
            <th colspan="3">
              <label for="mem_name" class="label_field"><b>NAME :</b><span class="span_space">{{ membInfo?.memb_name ?
                  membInfo?.memb_name : 'N/A'
                  }}</span></label>
            </th>
          </tr>
          <tr>
            <th colspan="3">
              <label for="gurd_name" class="label_field"><b>FATHER'S Name :</b><span class="span_space">{{
                  membInfo?.gurdian_name ? membInfo?.gurdian_name : 'N/A' }}</span></label>
            </th>
          </tr>
          <tr>
            <th>
              <label for="marital_st" class="label_field"><b>MARITAL STATUS </b><span class="span_space">{{
                  membInfo?.marital_status
                  ? membInfo?.marital_status === 'M'
                  ? 'Married'
                  : membInfo?.marital_status === 'U'
                  ? 'Unmarried'
                  : membInfo?.marital_status === 'D'
                  ? 'Divorced'
                  : membInfo?.marital_status === 'W'
                  ? 'Widow'
                  : 'N/A'
                  : 'N/A'
                  }}</span></label>
            </th>
            <th colspan="2">
              <label for="gender" class="label_field"><b>GENDER </b><span class="span_space">{{ membInfo?.gender ?
                  (membInfo?.gender === 'M' ? 'Male' : (membInfo?.gender === 'F' ? 'Female' : 'N/A')) : 'N/A'
                  }}</span></label>
            </th>
          </tr>
          <tr>
            <th colspan="3">
              <label for="dob" class="label_field"><b>DATE OF BIRTH :</b><span class="span_space">{{ membInfo?.dob ?
                  (membInfo?.dob |
                  date:
                  'dd/MM/yyyy') : 'N/A' }}</span></label>
            </th>
          </tr>
          <tr>
            <th colspan="4">
              <label for="addr" class="label_field"><b>ADDRESS :</b><span class="span_space">{{ membInfo?.memb_address ?
                  membInfo?.memb_address : 'N/A'
                  }}</span></label>
            </th>
          </tr>
          <tr>
            <th colspan="2">
              <label for="email_id" class="label_field"><b>EMAIL ID :</b><span class="span_space">{{
                  membInfo?.email_id ? membInfo?.email_id : 'N/A'
                  }}</span></label>
            </th>
            <th colspan="2">
              <label for="phone" class="label_field"><b>PHONE NO. </b><span class="span_space">{{ membInfo?.phone_no ?
                  membInfo?.phone_no : 'N/A'
                  }}</span></label>
            </th>
          </tr>
          <tr>
            <th colspan="2">
              <label for="ps" class="label_field"><b>P.S. </b><span class="span_space">{{ membInfo?.ps ? membInfo?.ps :
                  'N/A' }}</span></label>
            </th>
            <th colspan="2">
              <label for="cast" class="label_field"><b>CASTE </b><span class="span_space">{{ membInfo?.caste ?
                  membInfo?.caste=='G' ?
                  'General' : membInfo?.caste=='S' ? 'SC' : membInfo?.caste=='T' ? 'ST'
                  : 'Others' : 'N/A'}}</span></label>
            </th>
          </tr>
          <tr>
            <th colspan="4" class="text-center" style="background-color: aliceblue">
              <label for="member_type" class="label_field color"><b>DETAILS OF THE INTRODUCER</b></label>
            </th>
          </tr>
          <tr>
            <th colspan="4">
              <label for="spou_name" class="label_field"><b>NAME OF THE INTRODUCER :</b><span class="span_space">{{
                  spouseInfo?.dependent_name ? spouseInfo?.dependent_name : 'N/A'
                  }}</span></label>
            </th>
          </tr>
          <tr>
            <th colspan="2">
              <label for="memb_id_no" class="label_field"><b>MEMB ID NO. :</b><span class="span_space">{{
                  spouseInfo?.intro_member_id ? spouseInfo?.intro_member_id : 'N/A'
                  }}</span></label>
            </th>
            <th colspan="2">
              <label for="relation" class="label_field"><b>Relation :</b><span class="span_space">{{
                  spouseInfo?.relation_name ? spouseInfo?.relation_name : 'N/A'
                  }}</span></label>
            </th>
          </tr>
          <tr>
            <th colspan="4" class="text-center">(* must be life member / founder member / general members of Bokaro
              Steel
              People Welfare
              Association.)</th>
          </tr>

          <tr>
            <th colspan="4" class="text-center" style="background-color: aliceblue">
              <label for="member_type" class="label_field color"><b>DETAILS OF THE DEPENDENTS</b></label>
            </th>
          </tr>
          <tr>
            <th>
              <label for="sl_no" class="label_field"><b>SL NO</b><span class="span_space"></span></label>
            </th>
            <th>
              <label for="dependent_name" class="label_field"><b>NAME OF THE DEPENDENTS</b><span
                  class="span_space"></span></label>
            </th>
            <th>
              <label for="relationship" class="label_field"><b>RELATIONSHIP</b><span class="span_space"></span></label>
            </th>
            <th>
              <label for="dob" class="label_field"><b>DOB(DD/MM/YYYY)</b><span class="span_space"></span></label>
            </th>
          </tr>
          <tr *ngIf="!dependInfo || dependInfo.length === 0">
            <td colspan="4" class="text-center span_space"><b>No Data Found</b></td>
          </tr>
          <tr *ngFor="let dt of dependInfo; let i = index">
            <th><span class="span_space">{{i+1}}</span></th>
            <th style="width: 38vw;"><span class="span_space">{{dt.dependent_name}}</span></th>
            <th><span class="span_space">{{dt.relation_name}}</span></th>
            <th><span class="span_space">{{dt.dob | date: 'dd/MM/yyyy'}}</span></th>
          </tr>
          <!-- <tr>
        <th>1</th>
        <th style="width: 38vw;"></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>2</th>
        <th style="width: 38vw;"></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>3</th>
        <th style="width: 38vw;"></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>4</th>
        <th style="width: 38vw;"></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>5</th>
        <th style="width: 38vw;"></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>6</th>
        <th style="width: 38vw;"></th>
        <th></th>
        <th></th>
      </tr> -->
          <tr>
            <th colspan="4">
              I hereby declare that above information is true & agree to abide by all the rules and regulation adopted
              by
              the Society
              and in token thereof I hereunder put my signature / thumb inpression and enclose a cheque for Rs. 250/- +
              50/-
            </th>
          </tr>
          <tr>
            <th colspan="2">
              <label for="sign_applicant" class="label_field"><b>SIGNATURE OF THE APPLICANT :</b><span
                  class="span_space">N/A</span></label>
            </th>
            <th colspan="2">
              <label for="date" class="label_field"><b>DATE :</b><span class="span_space">N/A</span></label>
            </th>
          </tr>
          <tr>
            <th colspan="4">
              I hereby recommend for acceptance his associate membership as he is related to me and the relation as
              mentioned
              above is certified as true. I hereunder put my signature / thumb impression
            </th>
          </tr>
          <tr>
            <th colspan="2">
              <label for="sign_applicant" class="label_field"><b>SIGNATURE OF THE MEMBER WITH ID NO :</b><span
                  class="span_space">N/A</span></label>
            </th>
            <th colspan="2">
              <label for="date" class="label_field"><b>DATE :</b><span class="span_space">N/A</span></label>
            </th>
          </tr>
        </table>

        <div class="row mt-3">
          <div class="col-12">
            <h4 class="letter color">FOR OFFICE USE ONLY</h4>
            <br />
            <h4 class="letter" style="color: black; float: left">
              Associate Membership Accepted / Rejected vide Resolution No.
              <span class="span_space">{{ membInfo?.resolution_no }}</span>
            </h4>
            <br />
            <h4 class="letter space">Dated :</h4>
            <br />
            <h4 class="letter" style="color: black">
              Amount to be deposited
              <span class="span_space">{{ membInfo!.subscription_2 + membInfo!.adm_fee }}</span>
            </h4>
            <h4 class="letter" style="color: black">
              1) Onetime Subscription Fee :
              <span class="span_space">{{ membInfo?.subscription_2 }}</span>
            </h4>
            <h4 class="letter" style="color: black">
              2) Admission Fee : <span class="span_space">{{ membInfo?.adm_fee }}</span>
            </h4>
            <h4 class="letter" style="color: black; margin-left: 60vw">
              Secretary / President
            </h4>
            <p-button label="PRINT" styleClass="p-button-rounded print_btn" (click)="printDiv()"></p-button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>