<div class="banner_sec">
  <div class="memSec">
    <div class="card">
      <div class="memCard" (click)="member_login()">
        <p class="memText">Member Login</p>
      </div>
    </div>
    <div class="card">
      <div class="memCard" (click)="nextPage()">
        <p class="memText">Superadmin Login</p>
      </div>
    </div>
    <div class="card">
      <div class="memCard" (click)="login()">
        <p class="memText">Admin Login</p>
      </div>
    </div>
    <div class="card">
      <div class="memCard">
        <p class="memText">Accounts Login</p>
      </div>
    </div>
  </div>
</div>