<div class="background_sec">
  <div class="memSec">
    <div class="smallBox">
      <div class="" (click)="member_login()">
        <i class="fa fa-user smallBoxIconSec" style="font-size: 3rem"></i>
        <h2 class="">Member Login</h2>
      </div>
    </div>
    <div class="smallBox">
      <div class="" (click)="nextPage()">
        <i class="fa fa-user-secret smallBoxIconSec" style="font-size: 3rem"></i>
        <h2 class="">Superadmin Login</h2>
      </div>
    </div>
    <div class="smallBox">
      <div class="" (click)="login()">
        <i class="fa fa-sign-in smallBoxIconSec" style="font-size: 3rem"></i>
        <h2 class="">Admin Login</h2>
      </div>
    </div>
    <div class="smallBox">
      <div class="">
        <i class="fa fa-rupee smallBoxIconSec" style="font-size: 3rem"></i>
        <h2 class="">Accounts Login</h2>
      </div>
    </div>
  </div>
</div>