.btn_space{
    margin-left: 31vw;
}
.span_space{
    margin-left: 5px;
    color: rgb(62 66 201);
    /* float: inline-end; */
}
/* .size{
    margin-left: 53vw;
} */

    ::ng-deep p-card.custom-card .p-card-body {
  /* background: linear-gradient(to right, #dfe4eb, #c7d9f1); */
  background: linear-gradient(to right, #9eadc5, #dfe4eb);
}