<p-card>
  <h3 class="text-center"><b>Transaction Details</b></h3>

  <form [formGroup]="form">
    <div class="flex flex-row">
      <div class="field col-12 md:col-4 size">
        <label for="voucher_dt" class="label_field"><b>Voucher Date:</b></label> <span
          class="span_space"><b>{{userData[0].trn_dt |
            date:
            'dd/MM/yyyy'}}</b></span>
      </div>
    </div>

    <div class="flex flex-row">
      <div class="field col-12 md:col-4">
        <label for="form_no" class="label_field"><b>Form No:</b></label>&nbsp;
        <input id="form_no" type="text" formControlName="form_no"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <!-- <div class="field col-12 md:col-4">
        <label for="trn_dt" class="label_field"><b>Transaction Date:</b></label>&nbsp;
        <input id="trn_dt" type="date" formControlName="trn_dt"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div> -->
      <!-- <div class="field col-12 md:col-4">
        <label for="trn_id" class="label_field"><b>Transaction ID:</b></label>&nbsp;
        <input id="trn_id" type="text" formControlName="trn_id"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div> -->

      <div class="field col-12 md:col-4">
        <!-- <label for="unit_name" class="label_field"><b>Unit Name:</b></label>&nbsp;
        <input id="unit_name" type="text" formControlName="unit_name"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly /> -->
        <label for="trn_id" class="label_field"><b>Transaction ID:</b></label>&nbsp;
        <input id="trn_id" type="text" formControlName="trn_id"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <div class="field col-12 md:col-4">
        <label for="memb_name" class="label_field"><b>Member Name:</b></label>&nbsp;
        <input id="memb_name" type="text" formControlName="memb_name"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
    </div>

    <div class="flex flex-row">
      <!-- <div class="field col-12 md:col-4">
        <label for="phone_no" class="label_field"><b>Phone No:</b></label>&nbsp;
        <input id="phone_no" type="text" formControlName="phone_no"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div> -->
      <!-- <div class="field col-12 md:col-4">
        <label for="email_id" class="label_field"><b>Email ID:</b></label>&nbsp;
        <input id="email_id" type="text" formControlName="email_id"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div> -->
      <!-- <div class="field col-12 md:col-4">
        <label for="staff_no" class="label_field"><b>Staff No:</b></label>&nbsp;
        <input id="staff_no" type="text" formControlName="staff_no"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div> -->
      <!-- <div class="field col-12 md:col-4">
        <label for="pers_no" class="label_field"><b>Personal No:</b></label>&nbsp;
        <input id="pers_no" type="text" formControlName="pers_no"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div> -->
    </div>


    <div class="flex flex-row">

      <!-- <div class="field col-12 md:col-4">
        <label for="min_no" class="label_field"><b>MIN No:</b></label>&nbsp;
        <input id="min_no" type="text" formControlName="min_no"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div> -->
      <div class="field col-12 md:col-4">
        <label for="phone_no" class="label_field"><b>Phone No:</b></label>&nbsp;
        <input id="phone_no" type="text" formControlName="phone_no"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <div class="field col-12 md:col-4">
        <label for="pay_mode" class="label_field"><b>Pay Mode:</b></label>&nbsp;
        <!-- <select id="pay_mode" formControlName="pay_mode"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto; height: 3vw; border-radius: 7px">
          <option value="N" select>Select Payment Mode</option>
          <option value="C">Cash</option>
          <option value="Q">Cheque</option>
          <option value="O">Online Transaction</option>
        </select> -->
        <input id="pay_mode" type="text" formControlName="pay_mode"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <div class="field col-12 md:col-4">
        <label for="sub_amt" class="label_field"><b>Subscription Amount:</b></label>&nbsp;
        <input id="sub_amt" type="text" formControlName="sub_amt"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
    </div>

    <div class="flex flex-row">

      <div class="field col-12 md:col-4">
        <label for="onetime_amt" class="label_field"><b>One time Amount:</b></label>&nbsp;
        <input id="onetime_amt" type="text" formControlName="onetime_amt"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <div class="field col-12 md:col-4">
        <label for="adm_fee" class="label_field"><b>Admission Fee:</b></label>&nbsp;
        <input id="adm_fee" type="text" formControlName="adm_fee"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <div class="field col-12 md:col-4">
        <label for="donation_fee" class="label_field"><b>Donation Fee:</b></label>&nbsp;
        <input id="donation_fee" type="text" formControlName="donation_fee"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
    </div>

    <div class="flex flex-row">
      <!-- <div class="field col-12 md:col-4">
        <label for="pre_amt" class="label_field"><b>Premium Amount:</b></label>&nbsp;
        <input id="pre_amt" type="text" formControlName="pre_amt"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div> -->
      <!-- <div class="field col-12 md:col-4">
        <label for="tot_amt" class="label_field"><b>Total Amount:</b></label>&nbsp;
        <input id="tot_amt" type="text" formControlName="tot_amt"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div> -->
      <!-- <div class="field col-12 md:col-4">
        <label for="pay_mode" class="label_field"><b>Pay Mode:</b></label>&nbsp; -->
      <!-- <select id="pay_mode" formControlName="pay_mode"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto; height: 3vw; border-radius: 7px">
          <option value="N" select>Select Payment Mode</option>
          <option value="C">Cash</option>
          <option value="Q">Cheque</option>
          <option value="O">Online Transaction</option>
        </select> -->
      <!-- <input id="pay_mode" type="text" formControlName="pay_mode"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div> -->
    </div>

    <div class="flex flex-row">
      <div class="field col-12 md:col-4">
        <label for="tot_amt" class="label_field"><b>Total Amount:</b></label>&nbsp;
        <input id="tot_amt" type="text" formControlName="tot_amt"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <div class="field col-12 md:col-4">
        <label for="resolution_dt" class="label_field"><b>Resolution Date:</b></label>&nbsp;
        <input id="resolution_dt" type="text" formControlName="resolution_dt"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
      <div class="field col-12 md:col-4">
        <label for="resolution_no" class="label_field"><b>Resolution No:</b></label>&nbsp;
        <input id="resolution_no" type="text" formControlName="resolution_no"
          class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          readonly />
      </div>
    </div>

    <div *ngIf="pay_mode === 'Q'">
      <div class="flex flex-row">
        <div class="field col-12 md:col-4">
          <label for="chq_no" class="label_field"><b>Cheque NO:</b></label>&nbsp;
          <input id="chq_no" type="text" formControlName="chq_no"
            class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
        <div class="field col-12 md:col-4">
          <label for="chq_dt" class="label_field"><b>Cheque Date:</b></label>&nbsp;
          <input id="chq_dt" type="date" formControlName="chq_dt"
            class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />
        </div>
        <div class="field col-12 md:col-4">
          <label for="bank_nm" class="label_field"><b>Bank Name:</b></label>&nbsp;
          <!-- <input id="bank_nm" type="text" formControlName="bank_nm"
            class="box_input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly /> -->
          <!-- <label for="bank_nm" style="color: black"><b>Bank Name<span class="text-red-700">*</span></b></label> -->
          <input id="bank_nm" type="text" formControlName="bank_nm" placeholder="Enter Bank Name...."
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            readonly />

        </div>
      </div>
    </div>

    <div class="flex flex-row btn_space">
      <button pButton pRipple type="button" label="APPROVE" class="p-button-success" (click)="approve()"></button>
    </div>
  </form>

</p-card>