<p-card>

  <div class="row align-items-center">
    <h3 class="flex align-items-center">
      <i class="pi pi-hourglass menu-icon"></i>&nbsp;
      <b>Admin Accept / Reject Membership Form</b>
    </h3>
  </div>

  <form [formGroup]="form">
    <div class="formgrid grid mt-4">
      <div class="field col-12 md:col-6">
        <input id="form_no" type="text" formControlName="form_no" placeholder="Enter Form No / Member Name here...."
          class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
      </div>
      <div class="field col-12 md:col-6">
        <p-button class="add_btn" label="Submit" styleClass="p-button-rounded p-button-text p-button-raised"
          [style]="{'background-color': 'rgb(140 202 231)', 'border-color': '#50b0dd', 'color': '#ffff'}"
          (click)="submit_search()"></p-button>
      </div>
    </div>
  </form>

  <div class="card mt-4 p-3 text-center surface-100 border-round">
    <div class="grid">
      <div class="col-12 md:col-3">
        <div class="p-3 bg-yellow-100 border-round">
          <h4 class="text-yellow-700">Pending</h4>
          <h2 class="text-yellow-900">{{ pendingCount }}</h2>
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="p-3 bg-red-100 border-round">
          <h4 class="text-red-700">Rejected</h4>
          <h2 class="text-red-900">{{ rejectCount }}</h2>
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="p-3 bg-green-100 border-round">
          <h4 class="text-green-700">Accept</h4>
          <h2 class="text-green-900">{{ acceptount }}</h2>
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="p-3 bg-green-100 border-round">
          <h4 class="text-green-700">Approved</h4>
          <h2 class="text-green-900">{{ approvedCount }}</h2>
        </div>
      </div>
    </div>
  </div>


  <div class="card mt-4">
    <p-table [value]="tbFilterData" #dt2 dataKey="id" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="rowsPerPageOptions" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['memb_type']" [tableStyle]="{
        'min-width': '55rem',
        'box-shadow': '0 10px 28px rgba(1.5, 1.5, 1.5, 1.5)',
      }">
      <ng-template pTemplate="caption">
        <div class="flex flex-wrap gap-3">
          <div class="flex align-items-center">
            <input type="radio" name="tb_filter" [(ngModel)]="tr_status" (click)="filterTableData('Y')" id="tb_pen"
              value="Y">
            <label for="tb_pen" class="ml-2"><b>Pending</b></label>
          </div>

          <div class="flex align-items-center">
            <input type="radio" name="tb_filter" [(ngModel)]="tr_status" (click)="filterTableData('R')" id="tb_rej"
              value="R">
            <label for="tb_rej" class="ml-2"><b>Rejected</b></label>
          </div>

          <div class="flex align-items-center">
            <input type="radio" name="tb_filter" [(ngModel)]="tr_status" (click)="filterTableData('T')" id="tb_acc"
              value="T">
            <label for="tb_acc" class="ml-2"><b>Accept</b></label>
          </div>

          <div class="flex align-items-center">
            <input type="radio" name="tb_filter" [(ngModel)]="tr_status" (click)="filterTableData('A')" id="tb_app"
              value="A">
            <label for="tb_app" class="ml-2"><b>Approved</b></label>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" >
        <tr>
          <th id="table_color">Sl No</th>
          <th id="table_color">Form No</th>
          <th id="table_color">Form Date</th>
          <th id="table_color">Member Name</th>
          <th id="table_color">Status</th>
          <th id="table_color">View</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer let-i="rowIndex">
        <tr>
          <td class="text-center"><b>{{ i+1 }}</b></td>
          <td class="text-center"><b>{{ customer.form_no }}</b></td>
          <td class="text-center"><b>{{ customer.form_dt | date: 'dd/MM/yyyy' }}</b></td>
          <td class="text-center"><b>{{ customer.memb_name }}</b></td>
          <!-- <td class="text-center"><b>{{ customer.memb_status=='P' ? 'Pending' : customer.memb_status=='R' ? 'Reject' :
              'Payment done waiting for bank settlement' }}</b></td> -->
          <td class="text-center">
            <b>
              <span
                class="badge {{ customer.memb_status=='P' ? 'badge-pending' : customer.memb_status=='R' ? 'badge-reject' : customer.memb_status=='T' ? 'badge-accept' : 'badge-settlement' }}">
                {{ customer.memb_status=='P' ? 'Pending' : customer.memb_status=='R' ? 'Reject' : customer.memb_status=='T' ? 'Accept' : 'Approved' }}
              </span>
            </b>
          </td>
          <td class="text-center"><b><a pTooltip="View" tooltipPosition="bottom"
                (click)="preview(customer.form_no,customer.mem_type)"><i class="pi pi-eye editLink"></i></a></b>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-center text-red-900">No data available</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>