<div class="background_sec">
  <div class="memSec">
    <div class="smallBox">
      <div class="" (click)="super_policy()">
        <i class="fa fa-shield smallBoxIconSec" style="font-size: 3rem"></i>
        <h2 class=" ">Super Topup Policy</h2>
      </div>
    </div>
    <div class="smallBox">
      <div class="" (click)="group_policy()">
        <i class="fa fa-handshake-o smallBoxIconSec" style="font-size: 3rem"></i>
        <h2 class="">Existing Group Policy</h2>
      </div>
    </div>
    <div class="smallBox">
      <div class="" (click)="child_policy()">
        <i class="fa fa-child smallBoxIconSec" style="font-size: 3rem"></i>
        <h2 class="">Children Group Policy</h2>
      </div>
    </div>
  </div>
</div>