<div class="banner_sec">
  <div class="memSec">
    <div class="card">
      <div class="memCard" (click)="super_policy()">
        <p class=" memText">Super Topup Policy</p>
      </div>
    </div>
    <div class="card">
      <div class="memCard" (click)="group_policy()">
        <p class="memText">Existing Group Policy</p>
      </div>
    </div>
    <div class="card">
      <div class="memCard" (click)="child_policy()">
        <p class="memText">Children Group Policy</p>
      </div>
    </div>
  </div>
</div>