.memSec {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.memText {
    margin-bottom: 0px;
}

.memCard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card {
    /* display: flex; */
    width: 200px;
    height: 70px;
    background: linear-gradient(344deg, rgba(255, 0, 31, 1) 5%, rgba(129, 240, 235, 1) 100%, rgba(2, 0, 36, 1) 100%);
    /* background: rgb(0, 212, 255); */
    background: -moz-linear-gradient(344deg, rgba(0, 212, 255, 1) 23%, rgba(9, 9, 121, 1) 100%, rgba(2, 0, 36, 1) 100%);
    /* background: -webkit-linear-gradient(344deg, rgba(0, 212, 255, 1) 23%, rgba(9, 9, 121, 1) 100%, rgba(2, 0, 36, 1) 100%); */
    /* background: linear-gradient(344deg, rgba(0, 212, 255, 1) 23%, rgba(9, 9, 121, 1) 100%, rgba(2, 0, 36, 1) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d4ff",endColorstr="#020024",GradientType=1);
    color: #fff;
    border-radius: 0 20%;
}

.smallBox {
    /* background: #fff;
    box-shadow: 0px 2px 3px 0px #646464;
    border: 2px solid #ffffffab;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    margin-bottom: 13px; */

    /* background: #ebe2e2;
    box-shadow: 0px 1px 3px 0px #646464; */
    background: white;
    box-shadow: 0px 4px 7px 3px #646464;
    border: 4px solid #ffffffab;
    border-radius: 8px;
    padding: 23px;
    text-align: center;
    margin-bottom: 8px;
    cursor: pointer;
    width: 19%;
    transition: transform 0.3s ease;
}

.smallBox:hover {
    transform: scale(1.05); /* Slightly increases the size on hover */
}

.smallBox:active {
    transform: scale(0.95); /* Slightly decreases the size on click */
}

.smallBox h2 {
    color: #1f4584;
    /* font-size: 13px; */
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.smallBox .smallBoxIconSec {
    width: 100%;
    margin-bottom: 27px;
}

.iconCol_12 {
    background: #fe8d55;
}
